USE [EPAS_DEV]
GO
/****** Object:  StoredProcedure [dbo].[PA_SP_MainLoad]    Script Date: 28.08.2020 13:10:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[PA_SP_MainLoad]
AS
BEGIN
	DECLARE @ImportId int
	DECLARE @ImportResult nvarchar(MAX)

	INSERT INTO [dbo].[ImportResult] (Start) VALUES(GETDATE())
	SET @ImportId = SCOPE_IDENTITY()

	EXEC sp_msforeachtable "ALTER TABLE ? NOCHECK CONSTRAINT all"

	BEGIN TRANSACTION;

	BEGIN TRY

		EXEC dbo.[usp_SPStateLoad]
		EXEC [dbo].[usp_SPSeniorityLoad]
		EXEC dbo.[usp_SPPersonLoad]
		EXEC [dbo].[usp_PASeniorityScoreLoad]
		EXEC dbo.usp_PARelationLoad
		EXEC dbo.usp_PAMarkLoad
		EXEC [dbo].[usp_PAKPITypeLoad]
		EXEC [dbo].[usp_PAKPILoad]
		EXEC [dbo].[usp_PAContextCategoryLoad]
		EXEC dbo.usp_PAGradeLoad
		EXEC dbo.usp_PAContextLoad
		EXEC dbo.usp_PAEvaluationPeerLoad
		EXEC dbo.usp_PAContextStateLoad
		EXEC dbo.usp_PAEPFeedbackLoad

		SET @ImportResult = 'Import Complete'
	END TRY
	BEGIN CATCH
		
		SELECT @ImportResult = ERROR_MESSAGE()

		IF @@TRANCOUNT > 0
			ROLLBACK TRANSACTION;
	END CATCH

	IF @@TRANCOUNT > 0
		COMMIT TRANSACTION;

	UPDATE dbo.[ImportResult] SET CommentError = @ImportResult, [End] = GETDATE()  WHERE Id = @ImportId
	PRINT(@ImportResult)

EXEC sp_msforeachtable "ALTER TABLE ? WITH CHECK CHECK CONSTRAINT all"

END
GO
/****** Object:  StoredProcedure [dbo].[usp_Get_New_dataset_id]    Script Date: 28.08.2020 13:10:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_Get_New_dataset_id] (@FileName varchar(256))
AS
 BEGIN
 DECLARE @RC int;
 DECLARE @NewdatasetID uniqueidentifier;
 SET NOCOUNT ON;
 --loging start
 
	 EXECUTE @RC = [dbo].[usp_log]
  		'DATASET',																--@Source NVARCHAR(128), 
		@FileName ,																--@Params NVARCHAR(512),
		'usp_Get_New_dataset_id',												--@Sp_name NVARCHAR(256),
		't_dataset',															--@Target_table NVARCHAR(256),
		'',																		--@Record_count nvarchar (128),t,
		'Start'																	--@Comment NVARCHAR(4000)

 SELECT
  @NewdatasetID = NewID();
  INSERT INTO [dbo].[t_dataset]
  (
	dataset_id, 
	FileName
  )
  SELECT 
	@NewdatasetID, 
	@FileName;
--loging end
	EXECUTE @RC = [dbo].[usp_log]
  		'DATASET',																--@Source NVARCHAR(128), 
		@FileName ,																--@Params NVARCHAR(512),
		'usp_Get_New_dataset_id',												--@Sp_name NVARCHAR(256),
		't_dataset',															--@Target_table NVARCHAR(256),
		'1',																		--@Record_count nvarchar (128),t,
		'End'																	--@Comment NVARCHAR(4000)

 select @NewdatasetID AS NewdatasetID;

end;

GO
/****** Object:  StoredProcedure [dbo].[usp_load_EP_plan]    Script Date: 28.08.2020 13:10:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--obsolete SP
CREATE PROCEDURE [dbo].[usp_load_EP_plan]
	@LoadMonth date,
	@ScenarioName nvarchar(256) 
	
AS
BEGIN
	DECLARE @RC int;
	Declare @Input nvarchar(256) =  cast(@LoadMonth as Nvarchar)  ;
	Declare @CountM int;
	Declare @CountP int;
	Declare @Concat nvarchar(256);

	SET NOCOUNT ON;
	--Loging start
	EXECUTE @RC = [dbo].[usp_log]
  		'EXCEL',																--@Source NVARCHAR(128), 
		@Input ,																--@Params NVARCHAR(512),
		'usp_load_EP_plan',														--@Sp_name NVARCHAR(256),
		'[t_EP_Plan]',															--@Target_table NVARCHAR(256),
		'',																		--@Record_count int,
		'Start'																	--@Comment NVARCHAR(4000)

	--project 
	delete from  [dbo].[t_EP_Plan]
	where EffectiveMonthDate =@LoadMonth;

	insert into dbo.[t_EP_Plan]
	(
		[ID],
		[FullName],
		[EffectiveMonthDate],
		[EP_date],
		[Scenario_ID],
		[Grade],
		[Base],
		[Currency],
		[Addon],
		[Type_addon],
		[Variable]
	
	)
	select distinct
		EP_ID,
		m.Full_Name,
		m.EffectiveMonthDate, 
		DATEADD(month, p.[EvaluationFrequency], fn_res.LastEvalReriod) AS [EP_date],
		s.ID,
		g.Grade,
		m.Base,
		m.Currency,
		m.Addon,
		m.Type_addon,
		m.Variable
	from 
		[dbo].[t_s_report_excel] m
		left join [dbo].[t_short_grades] g
			on g.Long_Grade = m.Grade
		Left join [SP].[Person] p
			on p.Name = m.Full_Name
		left join [dbo].[t_scenario] s
			on s.ScenarioName = @ScenarioName
		cross apply [dbo].[get_ep_score](m.Full_Name) as fn_res
	where
		 EffectiveMonthDate = @LoadMonth;
	
		--Loging end
	Select 
		@CountM = count(*) 
	from 
		[dbo].[t_subgrade] 
	
	where EffectiveMonthDate =@LoadMonth;


	 Select @Concat = cast(@CountM as Nvarchar) ;

	EXECUTE @RC = [dbo].[usp_log]
  		'EXCEL',																--@Source NVARCHAR(128), 
		@Input ,																--@Params NVARCHAR(512),
		'usp_load_sub_grade',													--@Sp_name NVARCHAR(256),
		'[t_subgrade]',													--@Target_table NVARCHAR(256),
		@Concat,																--@Record_count int,
		'End'																	--Comment		
  
END

GO
/****** Object:  StoredProcedure [dbo].[usp_load_sub_grade]    Script Date: 28.08.2020 13:10:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--obsolete SP
CREATE PROCEDURE [dbo].[usp_load_sub_grade]
	@LoadMonth date
	
AS
BEGIN
	DECLARE @RC int;
	Declare @Input nvarchar(256) =  cast(@LoadMonth as Nvarchar)  ;
	Declare @CountM int;
	Declare @CountP int;
	Declare @Concat nvarchar(256);

	SET NOCOUNT ON;
	--Loging start
	EXECUTE @RC = [dbo].[usp_log]
  		'EXCEL',																--@Source NVARCHAR(128), 
		@Input ,																--@Params NVARCHAR(512),
		'usp_load_sub_grade',													--@Sp_name NVARCHAR(256),
		'[t_manager_map],[t_project_map]',										--@Target_table NVARCHAR(256),
		'',																		--@Record_count int,
		'Start'																	--@Comment NVARCHAR(4000)

	--project 
	delete from  [dbo].[t_subgrade]
	where EffectiveMonthDate =@LoadMonth;

	insert into dbo.[t_subgrade]
	(
	[EffectiveMonthDate],
	[Full_Name],
	[OverallScore],
	[AvgProductivityScore],
	[SubGrade]

	)
	select distinct
		m.EffectiveMonthDate, 
		m.Full_Name,
		fn_res.OverallScore,
		fn_res.AvgProductivityScore, 
		case 
			when  g.Grade ='Trainee' and fn_res.OverallScore =100   then 'Low_performer' --?
			when  g.Grade ='Trainee' and fn_res.OverallScore >= 100 and fn_res.OverallScore < 150   then 'Middle_performer' --?
			when  g.Grade ='Trainee' and fn_res.OverallScore > 150   then 'High_performer' --?

			when  g.Grade ='Junior' and fn_res.OverallScore = 100 and fn_res.AvgProductivityScore <= 2  then 'Low_performer'
			when  g.Grade ='Junior' and fn_res.OverallScore >= 100 and fn_res.OverallScore < 150 and  fn_res.AvgProductivityScore > 2  and fn_res.AvgProductivityScore < 4  then 'Middle_performer'
			when  g.Grade ='Junior' and fn_res.OverallScore > 150 and fn_res.AvgProductivityScore  >= 3  then 'High_performer'
			
			when  g.Grade ='Middle' and fn_res.OverallScore = 100 and fn_res.AvgProductivityScore <= 4  then 'Low_performer'
			when  g.Grade ='Middle' and fn_res.OverallScore >= 100 and fn_res.OverallScore < 150 and fn_res.AvgProductivityScore > 4 and fn_res.AvgProductivityScore  < 8  then 'Middle_performer'
			when  g.Grade ='Middle' and fn_res.OverallScore > 150 and fn_res.AvgProductivityScore >= 7  then 'High_performer'

			when  g.Grade ='Senior' and fn_res.OverallScore = 100 and fn_res.AvgProductivityScore <= 8  then 'Low_performer'
			when  g.Grade ='Senior' and fn_res.OverallScore >= 100 and fn_res.OverallScore < 150 and fn_res.AvgProductivityScore > 8 and fn_res.AvgProductivityScore  < 16  then 'Middle_performer'
			when  g.Grade ='Senior' and fn_res.OverallScore > 150 and fn_res.AvgProductivityScore >= 14  then 'High_performer'
			
			when  g.Grade ='Expert' and fn_res.OverallScore =100   then 'Low_performer' --?
			when  g.Grade ='Expert' and fn_res.OverallScore >= 100 and fn_res.OverallScore < 150   then 'Middle_performer' --?
			when  g.Grade ='Expert' and fn_res.OverallScore > 150   then 'High_performer' --?

		end as [SubGrade] 
	from 
		[dbo].[t_s_report_excel] m
		  left join [dbo].[t_short_grades] g
			on g.Long_Grade = m.Grade
		cross apply [dbo].[get_ep_score](m.Full_Name) as fn_res
	where
		 EffectiveMonthDate = @LoadMonth;

	
		--Loging end
	Select 
		@CountM = count(*) 
	from 
		[dbo].[t_subgrade] 
	
	where EffectiveMonthDate =@LoadMonth;


	 Select @Concat = cast(@CountM as Nvarchar) ;

	EXECUTE @RC = [dbo].[usp_log]
  		'EXCEL',																--@Source NVARCHAR(128), 
		@Input ,																--@Params NVARCHAR(512),
		'usp_load_sub_grade',													--@Sp_name NVARCHAR(256),
		'[t_subgrade]',													--@Target_table NVARCHAR(256),
		@Concat,																--@Record_count int,
		'End'																	--Comment		
  
END

GO
/****** Object:  StoredProcedure [dbo].[usp_log]    Script Date: 28.08.2020 13:10:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   procedure [dbo].[usp_log]
  
	@Source NVARCHAR(128), 
	@Params NVARCHAR(512),
	@Sp_name NVARCHAR(256),
	@Target_table NVARCHAR(256),
	@Record_count NVARCHAR(128),
	@Comment NVARCHAR(4000)
AS
BEGIN
	SET NOCOUNT ON;
	
		     -- Insert log record into the table
			INSERT INTO t_log (
					Source , 
					params ,
					SP_name,
					Target_table,
					Record_count,
					Comment
			)
				SELECT 
					@Source			as Source,		
					@Params			as Params,			
					@Sp_name		as Sp_name,		
					@Target_table	as Target_table,
					@Record_count	as Record_count,
					@Comment        as Comment


END;
GO
/****** Object:  StoredProcedure [dbo].[usp_PAContextCategoryLoad]    Script Date: 28.08.2020 13:10:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[usp_PAContextCategoryLoad]
AS
BEGIN

	DECLARE @DefaultString nvarchar(255) = 'merging';
	DECLARE @DefaulttinyInt tinyInt = 0;
	
	WITH Source AS (
		SELECT [Id]
			,[Value]
			,[Description]
		
		FROM [EP].[PA].[ContextCategory])
	
	MERGE INTO [PA].[ContextCategory] AS Target
	USING Source
	ON Target.Id = Source.Id
	WHEN MATCHED AND (
		 ISNULL(Target.[Value], @DefaulttinyInt) <> ISNULL(Source.[Value], @DefaulttinyInt) 
		OR ISNULL(Target.[Description], @DefaultString) <> ISNULL(Source.[Description], @DefaultString) 
		
	) THEN
		UPDATE SET
			Target.[Value] = Source.[Value],
			Target.[Description] = Source.[Description]
		
	WHEN NOT MATCHED BY TARGET THEN
		INSERT(Id, [Value],  [Description]) 
		VALUES(Id, [Value],  [Description])
	WHEN NOT MATCHED BY SOURCE THEN
	DELETE;
	--GO

	PRINT 'Import was successful from PA.[ContextCategory]'
END
GO
/****** Object:  StoredProcedure [dbo].[usp_PAContextLoad]    Script Date: 28.08.2020 13:10:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[usp_PAContextLoad]
AS
BEGIN

	DECLARE @DefaultInt INT = 0;
	DECLARE @DefaultString nvarchar(255) = 'merging';

	WITH Source AS (
		SELECT
			 
			 [Id] 
			 ,[Period] 
			 ,[Type_Id] 
			 ,[State_Id] 
			 ,[OverallScore]
			 ,[DateUpdated]
			 ,[UnderDiscussionCount] 
			 ,[ContextCategory_Id]
			 ,[Status_Id] 
	
		FROM [EP].[PA].[Context])
	
	MERGE INTO [PA].[Context] AS Target
	USING Source
	ON Target.Id = Source.Id
	WHEN MATCHED AND (
		
			 target.[Period]					<> source.[Period]
			 OR target.[Type_Id] 				<> source.[Type_Id] 				
			 OR target.[State_Id] 				<> source.[State_Id] 				
			 OR target.[OverallScore]			<> source.[OverallScore]			
			 OR target.[DateUpdated]			<> source.[DateUpdated]			
			 OR target.[UnderDiscussionCount] 	<> source.[UnderDiscussionCount] 	
			 OR target.[ContextCategory_Id]		<> source.[ContextCategory_Id]		
			 OR target.[Status_Id] 				<> source.[Status_Id] 				
		
	) THEN
		UPDATE SET
			 target.[Period]				= source.[Period],
			 target.[Type_Id] 				= source.[Type_Id] ,				
			 target.[State_Id] 				= source.[State_Id] ,				
			 target.[OverallScore]			= source.[OverallScore]	,		
			 target.[DateUpdated]			= source.[DateUpdated]	,		
			 target.[UnderDiscussionCount] 	= source.[UnderDiscussionCount], 	
			 target.[ContextCategory_Id]	= source.[ContextCategory_Id],		
			 target.[Status_Id] 			= source.[Status_Id] 
	

	WHEN NOT MATCHED BY TARGET THEN
		INSERT(Id, [Period], [Type_Id], [State_Id], [OverallScore],[DateUpdated],[UnderDiscussionCount],[ContextCategory_Id],[Status_Id]) 
		VALUES(Id, [Period], [Type_Id], [State_Id], [OverallScore], [DateUpdated],[UnderDiscussionCount],[ContextCategory_Id],[Status_Id])
	WHEN NOT MATCHED BY SOURCE THEN
	DELETE;
	--GO
	PRINT 'Import was successful from PA.[Context]'
END
GO
/****** Object:  StoredProcedure [dbo].[usp_PAContextStateLoad]    Script Date: 28.08.2020 13:10:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[usp_PAContextStateLoad]
AS
BEGIN

	DECLARE @DefaultString nvarchar(255) = 'merging';
	DECLARE @DefaulttinyInt tinyInt = 0;
	
	WITH Source AS (
		SELECT [Id]
			,[Value]
			,[Description]
		
		FROM [EP].[PA].[ContextState])
	
	MERGE INTO [PA].[ContextState] AS Target
	USING Source
	ON Target.Id = Source.Id
	WHEN MATCHED AND (
		 ISNULL(Target.[Value], @DefaulttinyInt) <> ISNULL(Source.[Value], @DefaulttinyInt) 
		OR ISNULL(Target.[Description], @DefaultString) <> ISNULL(Source.[Description], @DefaultString) 
		
	) THEN
		UPDATE SET
			Target.[Value] = Source.[Value],
			Target.[Description] = Source.[Description]
		
	WHEN NOT MATCHED BY TARGET THEN
		INSERT(Id, [Value],  [Description]) 
		VALUES(Id, [Value],  [Description])
	WHEN NOT MATCHED BY SOURCE THEN
	DELETE;
	--GO

	PRINT 'Import was successful from PA.[ContextState]'
END
GO
/****** Object:  StoredProcedure [dbo].[usp_PAEPFeedbackLoad]    Script Date: 28.08.2020 13:10:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[usp_PAEPFeedbackLoad]
AS
BEGIN

	DECLARE @DefaultInt INT = 0;
	DECLARE @DefaultString nvarchar(255) = 'merging';

	WITH Source AS (
		SELECT [Id]
			,[EP_Id]
			,[Grade_Id]
			,[Comment]
					
		FROM [EP].[PA].[EPFeedback])
	
	MERGE INTO [PA].[EPFeedback] AS Target
	USING Source
	ON Target.Id = Source.Id
	WHEN MATCHED AND (
		Target.[EP_Id] <> Source.[EP_Id]
		OR Target.[Grade_Id] <> Source.[Grade_Id]
		OR ISNULL(Target.[Comment], @DefaultString) <> ISNULL(Source.[Comment], @DefaultString)
		
	) THEN
		UPDATE SET
			Target.[EP_Id] = Source.[EP_Id],
			Target.[Grade_Id] = Source.[Grade_Id],
			Target.[Comment] = Source.[Comment]
			
	WHEN NOT MATCHED BY TARGET THEN
		INSERT(Id, [EP_Id], [Grade_Id], [Comment]) 
		VALUES(Id, [EP_Id], [Grade_Id], [Comment])
	WHEN NOT MATCHED BY SOURCE THEN
	DELETE;
	--GO
	PRINT 'Import was successful from PA.[EPFeedback]'
END
GO
/****** Object:  StoredProcedure [dbo].[usp_PAEvaluationPeerLoad]    Script Date: 28.08.2020 13:10:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[usp_PAEvaluationPeerLoad]
AS
BEGIN

	DECLARE @DefaultInt INT = 0;
	DECLARE @DefaultString nvarchar(255) = 'merging';

	WITH Source AS (
		SELECT
			 [Id] 
			,[Context_Id] 
			,[Person_Id] 
			,[Relation_Id]
			,[State_Id] 
			,[DateCreated]
			,[DateUpdated]
			,[Status_Id] 
		
		FROM [EP].[PA].[EvaluationPeer])
	
	MERGE INTO [PA].[EvaluationPeer] AS Target
	USING Source
	ON Target.Id = Source.Id
	WHEN MATCHED AND (
		   Target.[Context_Id] <> Source.[Context_Id]
		OR Target.[Person_Id] <> Source.[Person_Id]
		OR Target.[Relation_Id]<> Source.[Relation_Id]
		OR Target.[State_Id] <> Source.[State_Id]
		OR Target.[DateCreated]  <> Source.[DateCreated]
		OR Target.[DateUpdated] <> Source.[DateUpdated]
		OR Target.[Status_Id]  <> Source.[Status_Id]
		
	) THEN
		UPDATE SET
			Target.[Context_Id] = Source.[Context_Id],
			Target.[Person_Id] = Source.[Person_Id],
			Target.[Relation_Id]= Source.[Relation_Id],
			Target.[State_Id] = Source.[State_Id],
			Target.[DateCreated]  = Source.[DateCreated],
			Target.[DateUpdated] = Source.[DateUpdated],
			Target.[Status_Id]  = Source.[Status_Id]
	

	WHEN NOT MATCHED BY TARGET THEN
		INSERT(Id, [Context_Id], [Person_Id], [Relation_Id], [State_Id],[DateCreated],[DateUpdated],[Status_Id]) 
		VALUES(Id, [Context_Id], [Person_Id], [Relation_Id], [State_Id], [DateCreated],[DateUpdated],[Status_Id])
	WHEN NOT MATCHED BY SOURCE THEN
	DELETE;
	--GO
	PRINT 'Import was successful from PA.[EvaluationPeer]'
END
GO
/****** Object:  StoredProcedure [dbo].[usp_PAGradeLoad]    Script Date: 28.08.2020 13:10:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[usp_PAGradeLoad]
AS
BEGIN

	DECLARE @DefaultInt INT = 0;
	DECLARE @DefaultString nvarchar(255) = 'merging';

	WITH Source AS (
		SELECT [Id]
			,[KPI_Id]
			,[Mark_Id]
			,[Value]
			,[Description]
			,[ContextCategory_Id]
		
		FROM [EP].[PA].[Grade])
	
	MERGE INTO [PA].[Grade] AS Target
	USING Source
	ON Target.Id = Source.Id
	WHEN MATCHED AND (
		 Target.[KPI_Id] <> Source.[KPI_Id]
		OR Target.[Mark_Id] <> Source.[Mark_Id]
		OR ISNULL(Target.[Value], @DefaultInt) <> ISNULL(Source.[Value], @DefaultInt)
		OR ISNULL(Target.[Description], @DefaultString) <> ISNULL(Source.[Description], @DefaultString)
		OR Target.[ContextCategory_Id]  <> Source.[ContextCategory_Id]
		
	) THEN
		UPDATE SET
			Target.[KPI_Id] = Source.[KPI_Id],
			Target.[Mark_Id] = Source.[Mark_Id],
			Target.[Value] = Source.[Value],
			Target.[Description] = Source.[Description]
	WHEN NOT MATCHED BY TARGET THEN
		INSERT(Id, [KPI_Id], [Mark_Id], [Value], [Description],[ContextCategory_Id]) 
		VALUES(Id, [KPI_Id], [Mark_Id], [Value], [Description], [ContextCategory_Id])
	WHEN NOT MATCHED BY SOURCE THEN
	DELETE;
	--GO
	PRINT 'Import was successful from PA.[Grade]'
END
GO
/****** Object:  StoredProcedure [dbo].[usp_PAKPILoad]    Script Date: 28.08.2020 13:10:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[usp_PAKPILoad]
AS
BEGIN

	DECLARE @DefaultString nvarchar(255) = 'merging';
	
	WITH Source AS (
		SELECT [Id]
			,[Name]
			,[Type_Id] 
			,[Order]
			,[Description]
		FROM [EP].[PA].[KPI])
	
	MERGE INTO [PA].[KPI] AS Target
	USING Source
	ON Target.Id = Source.Id
	WHEN MATCHED AND (
		Target.[Name] <> Source.[Name] 
		OR Target.[Type_Id] <> Source.[Type_Id] 
		OR Target.[Order] <> Source.[Order]
		OR ISNULL(Target.[Description], @DefaultString) <> ISNULL(Source.[Description], @DefaultString) 
	
	) THEN
		UPDATE SET
			Target.[Name] = Source.[Name],
			Target.[Type_Id] = Source.[Type_Id],
			Target.[Order] = Source.[Order],
			Target.[Description] = Source.[Description]
			
	WHEN NOT MATCHED BY TARGET THEN
		INSERT(Id, [Name], [Type_Id], [Order], [Description]) 
		VALUES(Id, [Name],[Type_Id], [Order], [Description])
	WHEN NOT MATCHED BY SOURCE THEN
	DELETE;
	--GO

	PRINT 'Import was successful from PA.[KPI]'
END
GO
/****** Object:  StoredProcedure [dbo].[usp_PAKPITypeLoad]    Script Date: 28.08.2020 13:10:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[usp_PAKPITypeLoad]
AS
BEGIN

	DECLARE @DefaultString nvarchar(255) = 'merging';
	
	WITH Source AS (
		SELECT [Id]
			,[Name]
			,[Description]
		
		FROM [EP].[PA].[KPIType])
	
	MERGE INTO [PA].[KPIType] AS Target
	USING Source
	ON Target.Id = Source.Id
	WHEN MATCHED AND (
		Target.[Name] <> Source.[Name] 
		OR ISNULL(Target.[Description], @DefaultString) <> ISNULL(Source.[Description], @DefaultString) 
		
	) THEN
		UPDATE SET
			Target.[Name] = Source.[Name],
			Target.[Description] = Source.[Description]
		
	WHEN NOT MATCHED BY TARGET THEN
		INSERT(Id, [Name],  [Description]) 
		VALUES(Id, [Name],  [Description])
	WHEN NOT MATCHED BY SOURCE THEN
	DELETE;
	--GO

	PRINT 'Import was successful from PA.[KPIType]'
END
GO
/****** Object:  StoredProcedure [dbo].[usp_PAMarkLoad]    Script Date: 28.08.2020 13:10:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[usp_PAMarkLoad]
AS
BEGIN
	DECLARE @DefaultString nvarchar(255) = 'merging';


	WITH Source AS (
		SELECT
			[Id],
			[Name]
		FROM [EP].[PA].[Mark])
	
	MERGE INTO [PA].[Mark] AS Target
	USING Source
	ON Target.Id = Source.Id
	WHEN MATCHED AND (
		Target.Name <> Source.Name
		
	) THEN
		UPDATE SET
			Target.[Name] = Source.[Name]
	WHEN NOT MATCHED BY TARGET THEN
		INSERT(Id, Name) 
		VALUES(Id, Name)
	WHEN NOT MATCHED BY SOURCE THEN
	DELETE;
	--GO

	PRINT 'Import was successful from PA.[MarkLoad]'
END
GO
/****** Object:  StoredProcedure [dbo].[usp_PARelationLoad]    Script Date: 28.08.2020 13:10:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
Create PROCEDURE [dbo].[usp_PARelationLoad]
AS
BEGIN
	DECLARE @DefaultString nvarchar(255) = 'merging';
	DECLARE @DefaultTinyInt tinyint = 0;
	DECLARE @DefaultVarBinary varbinary = 0;
	DECLARE @DefaultBit bit = 1;

	WITH Source AS (
		SELECT
			[Id],
			[Name],
			[ProcessOrder],
			[Description]
		FROM [EP].[PA].[Relation])
	
	MERGE INTO [PA].[Relation] AS Target
	USING Source
	ON Target.Id = Source.Id
	WHEN MATCHED AND (
		Target.Name <> Source.Name
		OR Target.[ProcessOrder] <> Source.[ProcessOrder]
		OR ISNULL(Target.[Description], @DefaultString) <> ISNULL(Source.[Description], @DefaultString) 
	) THEN
		UPDATE SET
			Target.[Name] = Source.[Name],
			Target.[ProcessOrder] = Source.[ProcessOrder],
			Target.[Description] = Source.[Description]

	WHEN NOT MATCHED BY TARGET THEN
		INSERT(Id, Name, [ProcessOrder], [Description]) 
		VALUES(Id, Name, [ProcessOrder], [Description])
	WHEN NOT MATCHED BY SOURCE THEN
	DELETE;
	--GO

	PRINT 'Import was successful from PA.[Relation]'
END
GO
/****** Object:  StoredProcedure [dbo].[usp_PASeniorityScoreLoad]    Script Date: 28.08.2020 13:10:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[usp_PASeniorityScoreLoad]
AS
BEGIN

	DECLARE @DefaultString nvarchar(255) = 'merging';
	
	WITH Source AS (
		SELECT 
			[Seniority_Id],
			[Value]
		FROM [EP].[PA].[SeniorityScore])
	
	MERGE INTO [PA].[SeniorityScore] AS Target
	USING Source
	ON Target.Seniority_Id = Source.Seniority_Id
	WHEN MATCHED AND (
		Target.[Value] <> Source.[Value] 
	) THEN
		UPDATE SET
			Target.[Value] = Source.[Value] 
	WHEN NOT MATCHED BY TARGET THEN
		INSERT([Seniority_Id], [Value]) 
		VALUES([Seniority_Id], [Value])
	WHEN NOT MATCHED BY SOURCE THEN
	DELETE;
	--GO

	PRINT 'Import was successful from SP.[SeniorityScore]'
END
GO
/****** Object:  StoredProcedure [dbo].[usp_PersonLoad]    Script Date: 28.08.2020 13:10:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
Create PROCEDURE [dbo].[usp_PersonLoad]
AS
BEGIN

	DECLARE @EmptyGuid UNIQUEIDENTIFIER = '00000000-0000-0000-0000-000000000000';
	DECLARE @DateMax DATE = CAST('9999-12-31' AS DATE);
	DECLARE @DefaultString nvarchar(255) = 'merging';
	DECLARE @DefaultTinyInt tinyint = 0;
	DECLARE @DefaultVarBinary varbinary = 0;
	DECLARE @DefaultBit bit = 1;

	WITH Source AS (
		SELECT [Id]
			,[Name]
			,[Dummy]
			,[Location_Id]
			,[Department_Id]
			,[Seniority_Id]
			,[Occupation_Id]
			,[Specialization_Id]
			,[HourlyPayType_Id]
			,[StaffType_Id]
			,[PartnerCompany_Id]
			,[MaternityLeave]
			,[EvaluationFrequency]  
			,[State_Id]
			,[LDAPSamAccountName]
			,[LDAPDisplayName]
			,[LDAPCN]
			,[LDAPSID]
			,[LDAPEmail]
			,[Execution]
			,[ProbationDuration]
			,[LDAPPhoto]
			,[StartDate]
			,[FinishDate]
			,[RelationshipWithInfopulse_Id]
			,[RelationshipWithPartner_Id]
			,[CompensationPackage]
			,[FirstNameUa]
			,[PatronymicNameUa]
			,[LastNameUa]
			,[LastName]
			,[FirstName]
			,[Birthday]
			,[Sex]
			,[EVRYAccount]
			,[EVRYID]

		FROM [ESD].[SP].[Person])
	
	MERGE INTO [SP].[Person] AS Target
	USING Source
	ON Target.Id = Source.Id
	WHEN MATCHED AND (
		Target.Name <> Source.Name
		OR Target.[Dummy] <> Source.[Dummy]
		OR Target.[Location_Id] <> Source.[Location_Id]
		OR Target.[Department_Id] <> Source.[Department_Id]
		OR Target.[Seniority_Id] <> Source.[Seniority_Id]
		OR Target.[Occupation_Id] <> Source.[Occupation_Id]
		OR ISNULL(Target.[Specialization_Id], @EmptyGuid) <> ISNULL(Source.[Specialization_Id], @EmptyGuid)
		OR Target.[HourlyPayType_Id] <> Source.[HourlyPayType_Id]
		OR Target.[StaffType_Id] <> Source.[StaffType_Id]
		OR ISNULL(Target.[PartnerCompany_Id], @EmptyGuid) <> ISNULL(Source.[PartnerCompany_Id], @EmptyGuid)
		OR Target.[MaternityLeave] <> Source.[MaternityLeave]
		OR ISNULL(Target.[EvaluationFrequency], @DefaultTinyInt) <> ISNULL(Source.[EvaluationFrequency], @DefaultTinyInt)
		OR Target.[State_Id] <> Source.[State_Id]
		OR Target.[LDAPSamAccountName] <> Source.[LDAPSamAccountName]
		OR Target.[LDAPDisplayName] <> Source.[LDAPDisplayName]
		OR Target.[LDAPCN] <> Source.[LDAPCN]
		OR Target.[LDAPSID] <> Source.[LDAPSID]
		OR Target.[LDAPEmail] <> Source.[LDAPEmail]
		OR ISNULL(Target.[Execution], @DateMax) <> ISNULL(Source.[Execution], @DateMax)
		OR ISNULL(Target.[ProbationDuration], @DefaultTinyInt) <> ISNULL(Source.[ProbationDuration], @DefaultTinyInt)
		OR ISNULL(Target.[LDAPPhoto], @DefaultVarBinary) <> ISNULL(Source.[LDAPPhoto], @DefaultVarBinary)
		OR ISNULL(Target.[StartDate], @DateMax) <> ISNULL(Source.[StartDate], @DateMax)
		OR ISNULL(Target.[FinishDate], @DateMax) <> ISNULL(Source.[FinishDate], @DateMax)
		OR ISNULL(Target.[RelationShipWithInfopulse_Id], @EmptyGuid) <> ISNULL(Source.[RelationShipWithInfopulse_Id], @EmptyGuid)
		OR ISNULL(Target.[RelationShipWithPartner_Id], @EmptyGuid) <> ISNULL(Source.[RelationShipWithPartner_Id], @EmptyGuid)
		OR ISNULL(Target.[CompensationPackage], @DefaultBit) <> ISNULL(Source.[CompensationPackage], @DefaultBit)
		OR ISNULL(Target.[FirstNameUa], @DefaultString) <> ISNULL(Source.[FirstNameUa], @DefaultString)
		OR ISNULL(Target.[PatronymicNameUa], @DefaultString) <> ISNULL(Source.[PatronymicNameUa], @DefaultString)
		OR ISNULL(Target.[LastNameUa], @DefaultString) <> ISNULL(Source.[LastNameUa], @DefaultString)
		OR ISNULL(Target.[LastName], @DefaultString) <> ISNULL(Source.[LastName], @DefaultString)
		OR ISNULL(Target.[FirstName], @DefaultString) <> ISNULL(Source.[FirstName], @DefaultString)
		OR ISNULL(Target.[BirthDay], @DateMax) <> ISNULL(Source.[BirthDay], @DateMax)
		OR ISNULL(Target.[Sex], @DefaultString) <> ISNULL(Source.[Sex], @DefaultString)
		OR ISNULL(Target.[EVRYAccount], @DateMax) <> ISNULL(Source.[EVRYAccount], @DateMax)
		OR ISNULL(Target.[EVRYId], @DateMax) <> ISNULL(Source.[EVRYId], @DateMax)
	) THEN
		UPDATE SET
			Target.Name = Source.Name,
			Target.[Dummy] = Source.[Dummy],
			Target.[Location_Id] = Source.[Location_Id],
			Target.[Department_Id] = Source.[Department_Id],
			Target.[Seniority_Id] = Source.[Seniority_Id],
			Target.[Occupation_Id] = Source.[Occupation_Id],
			Target.[Specialization_Id] = Source.[Specialization_Id],
			Target.[HourlyPayType_Id] = Source.[HourlyPayType_Id],
			Target.[StaffType_Id] = Source.[StaffType_Id],
			Target.[PartnerCompany_Id] = Source.[PartnerCompany_Id],
			Target.[MaternityLeave] = Source.[MaternityLeave],
			Target.[EvaluationFrequency] = Source.[EvaluationFrequency],
			Target.[State_Id] = Source.[State_Id],
			Target.[LDAPSamAccountName] = Source.[LDAPSamAccountName],
			Target.[LDAPDisplayName] = Source.[LDAPDisplayName],
			Target.[LDAPCN] = Source.[LDAPCN],
			Target.[LDAPSID] = Source.[LDAPSID],
			Target.[LDAPEmail] = Source.[LDAPEmail],
			Target.[Execution] = Source.[Execution],
			Target.[ProbationDuration] = Source.[ProbationDuration],
			Target.[LDAPPhoto] = Source.[LDAPPhoto],
			Target.[StartDate] = Source.[StartDate],
			Target.[FinishDate] = Source.[FinishDate],
			Target.[RelationshipWithInfopulse_Id] = Source.[RelationshipWithInfopulse_Id],
			Target.[RelationshipWithPartner_Id] = Source.[RelationshipWithPartner_Id],
			Target.[CompensationPackage] = Source.[CompensationPackage],
			Target.[FirstNameUa] = Source.[FirstNameUa],
			Target.[PatronymicNameUa] = Source.[PatronymicNameUa],
			Target.[LastNameUa] = Source.[LastNameUa],
			Target.[LastName] = Source.[LastName],
			Target.[FirstName] = Source.[FirstName],
			Target.[Birthday] = Source.[Birthday],
			Target.[Sex] = Source.[Sex],
			Target.[EVRYAccount] = Source.[EVRYAccount],
			Target.[EVRYID] = Source.[EVRYID]
	WHEN NOT MATCHED BY TARGET THEN
		INSERT(Id, Name, [Dummy], [Location_Id], [Department_Id], [Seniority_Id], [Occupation_Id], [Specialization_Id], [HourlyPayType_Id], [StaffType_Id], [PartnerCompany_Id], [MaternityLeave], [EvaluationFrequency], [State_Id], [LDAPSamAccountName], [LDAPDisplayName], [LDAPCN], [LDAPSID], [LDAPEmail], [Execution], [ProbationDuration], [LDAPPhoto], [StartDate], [FinishDate], [RelationshipWithInfopulse_Id], [RelationshipWithPartner_Id], [CompensationPackage], [FirstNameUa], [PatronymicNameUa], [LastNameUa], [LastName], [FirstName], [Birthday], [Sex], [EVRYAccount], [EVRYID]) 
		VALUES(Id, Name, [Dummy], [Location_Id], [Department_Id], [Seniority_Id], [Occupation_Id], [Specialization_Id], [HourlyPayType_Id], [StaffType_Id], [PartnerCompany_Id], [MaternityLeave], [EvaluationFrequency], [State_Id], [LDAPSamAccountName], [LDAPDisplayName], [LDAPCN], [LDAPSID], [LDAPEmail], [Execution], [ProbationDuration], [LDAPPhoto], [StartDate], [FinishDate], [RelationshipWithInfopulse_Id], [RelationshipWithPartner_Id], [CompensationPackage], [FirstNameUa], [PatronymicNameUa], [LastNameUa], [LastName], [FirstName], [Birthday], [Sex], [EVRYAccount], [EVRYID])
	WHEN NOT MATCHED BY SOURCE THEN
	DELETE;
	--GO

	PRINT 'Import was successful from SP.[Person]'
END
GO
/****** Object:  StoredProcedure [dbo].[usp_PostExcelImport]    Script Date: 28.08.2020 13:10:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[usp_PostExcelImport]
	-- Add the parameters for the stored procedure here

	@LoadMonth date, --
	@PriorLoadMonth date
AS
BEGIN
	DECLARE @RC int;
	Declare @Input nvarchar(256) =  cast(@LoadMonth as Nvarchar) +','+ Cast(@PriorLoadMonth as Nvarchar) ;
	Declare @Count nvarchar(128);
	SET NOCOUNT ON;
	--Loging start
	EXECUTE @RC = [dbo].[usp_log]
  		'EXCEL',																--@Source NVARCHAR(128), 
		@Input ,																--@Params NVARCHAR(512),
		'usp_PostExcelImport',													--@Sp_name NVARCHAR(256),
		't_s_report_excel',														--@Target_table NVARCHAR(256),
		'',																		--@Record_count nvarchar (128),t,
		'Start'																	--@Comment NVARCHAR(4000)

	
	--remove previous data for this month if exists

	Delete from  [dbo].[t_s_report_excel] 
	where [EffectiveMonthDate]= @LoadMonth;

    -- Insert statements for procedure here
	update [dbo].[t_s_report_excel] 
		set [EffectiveMonthDate]= @LoadMonth --'2020-02-01' 
	where 
		[EffectiveMonthDate] is null

	update [dbo].[t_subgrade] 
		set [EffectiveMonthDate]= @LoadMonth --'2020-02-01' 
	where [EffectiveMonthDate] is null
	--
	delete  
	from 
		[dbo].[t_s_report_excel] 
	where 
		grade like '%manager%' 
		or grade like '%administrator%' 
		or grade like '%executive%'
	--
	delete  
	from 
		[dbo].[t_s_report_excel] 
	where 
		currency = 'UAH'
	--
	delete 
	from 
		[dbo].[t_subgrade] 
	where SubGrade is null

	delete 
	from 
		[dbo].[t_s_report_excel] 
	where 
		TotalMoney < 100
	--
	update [dbo].[t_s_report_excel] 
		set Project = REPLACE(Project, 'Deloitte-Administrative;','') 
	where 
		Project <> 'Deloitte-Administrative'
	--
	update [dbo].[t_s_report_excel] 
		set Project = REPLACE(Project, ';Deloitte-Administrative','') 
	where Project <> 'Deloitte-Administrative'
	--
	update [dbo].[t_s_report_excel] 
		set Project = REPLACE(Project, 'Deloitte-NCA;','') 
	where 
		Project <> 'Deloitte-NCA'
	--
	update [dbo].[t_s_report_excel] 
		set Project = REPLACE(Project, ';Deloitte-NCA','') 
	where 
		Project <> 'Deloitte-NCA'
	
	update [dbo].[t_s_report_excel] 
		set Project = REPLACE(Project, 'Corporate Development-Administrative;','') 
	where 
		Project <> 'Corporate Development-Administrative'
	--
	update [dbo].[t_s_report_excel] 
		set Project = REPLACE(Project, ';Corporate Development-Administrative','') 
	where 
		Project <> 'Corporate Development-Administrative'

	-- call normalization SP for current @@LoadMonth

	EXECUTE  @RC = dbo.[usp_s_excell_report_normalization]
	  @LoadMonth,@LoadMonth;
	
-- call sub_grade calculation  for current @@LoadMonth
	EXECUTE [dbo].[usp_load_sub_grade]
	@LoadMonth ;  

	-- select changed grade persons
	select 
		* 
	from 
		[dbo].[t_s_report_excel] t1
		left join [dbo].[t_s_report_excel] t2 
			on t1.EffectiveMonthDate = @LoadMonth --'2019-07-01' 
			and t2.EffectiveMonthDate = @PriorLoadMonth --'2019-06-01' 
			and t1.Full_Name = t2.Full_Name
	where 
		t1.Grade <> t2.Grade or t1.Grade is null
		and t1.EffectiveMonthDate =  @LoadMonth --'2019-07-01'
		and t2.EffectiveMonthDate = @PriorLoadMonth --'2019-06-01'

	
	Select @Count = cast(count(*) as nvarchar) from [dbo].[t_s_report_excel] where EffectiveMonthDate = @LoadMonth ; 
	--Loging end
	EXECUTE @RC = [dbo].[usp_log]
  		'EXCEL',																--@Source NVARCHAR(128), 
		@Input ,																--@Params NVARCHAR(512),
		'usp_PostExcelImport',													--@Sp_name NVARCHAR(256),
		't_s_report_excel',														--@Target_table NVARCHAR(256),
		@Count,																	--@Record_count nvarchar (128),
		'End'																	--@Comment NVARCHAR(4000)

END

GO
/****** Object:  StoredProcedure [dbo].[usp_report_DetailedReport]    Script Date: 28.08.2020 13:10:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[usp_report_DetailedReport]
	-- Add the parameters for the stored procedure here
	 @Month date
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	select
re.Full_Name,
sg.Short_Grade,
sg.Grade,
sg.Specialization,
sg.Grade_Type,
re.Group_Leader,
re.Location_Short as [Location],
re.Project,
TotalMoney as TotalMoney,
Base,
Addon,
Variable
  FROM [EPAS].[dbo].[t_s_report_excel] re
  left join [EPAS].[dbo].[t_short_grades] sg on re.Grade = sg.Long_Grade
where 
	 re.EffectiveMonthDate = @Month


END
GO
/****** Object:  StoredProcedure [dbo].[usp_report_Statistics_ByLocation]    Script Date: 28.08.2020 13:10:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[usp_report_Statistics_ByLocation]
	-- Add the parameters for the stored procedure here
	@Month1 date,
	@Month2 date
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;


select
	re.EffectiveMonthDate,
	sg.Short_Grade,
	sg.Specialization,
	sg.Grade,
	sg.Grade_Type,
	re.Group_Leader,
	re.Full_Name,
	re.Location_Short,
	TotalMoney as Compensation
FROM [EPAS].[dbo].[t_s_report_excel] re
  left join [EPAS].[dbo].[t_short_grades] sg 
	on re.Grade = sg.Long_Grade
where 
	re.EffectiveMonthDate>=@Month1
	and re.EffectiveMonthDate<=@Month2

END
GO
/****** Object:  StoredProcedure [dbo].[usp_s_excell_report_normalization]    Script Date: 28.08.2020 13:10:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--obsolete SP
CREATE PROCEDURE [dbo].[usp_s_excell_report_normalization]
	@LoadMonthStart date,
	@LoadMonthEnd date
	
AS
BEGIN
	DECLARE @RC int;
	Declare @Input nvarchar(256) =  cast(@LoadMonthStart as Nvarchar) +','+ Cast(@LoadMonthEnd as Nvarchar) ;
	Declare @CountM int;
	Declare @CountP int;
	Declare @Concat nvarchar(256);

	SET NOCOUNT ON;
	--Loging start
	EXECUTE @RC = [dbo].[usp_log]
  		'EXCEL',																--@Source NVARCHAR(128), 
		@Input ,																--@Params NVARCHAR(512),
		'usp_s_excell_report_normalization',									--@Sp_name NVARCHAR(256),
		'[t_manager_map],[t_project_map]',										--@Target_table NVARCHAR(256),
		'',																		--@Record_count int,
		'Start'																	--@Comment NVARCHAR(4000)

	--project 
	delete from [dbo].[t_project_map]
	where EffectiveMonthDate between @LoadMonthStart and @LoadMonthEnd;

	insert into [t_project_map]
	(
	[EffectiveMonthDate],
	[Full_Name],
	[Project]
	)
	select 
		EffectiveMonthDate, 
		Full_Name,
		Value as Project  
	from 
		[dbo].[t_s_report_excel] m
		CROSS APPLY STRING_SPLIT(m.Project, ';')
	where
		 EffectiveMonthDate between @LoadMonthStart and @LoadMonthEnd;

	--manager 
	delete from [dbo].[t_manager_map]
	where
		EffectiveMonthDate between @LoadMonthStart and @LoadMonthEnd;

	insert into [t_manager_map]
	(
		[EffectiveMonthDate],
		[Full_Name],
		[Direct_Manager]
	)
	select 
		EffectiveMonthDate, 
		Full_Name,
		Value as Direct_Manager  
	from 
		[dbo].[t_s_report_excel] m
		CROSS APPLY STRING_SPLIT(m.Direct_Manager, ';')
	where
		 EffectiveMonthDate between @LoadMonthStart and @LoadMonthEnd;

		--Loging end
	Select 
		@CountM = count(*) 
	from 
		[dbo].[t_manager_map] 
	where 
		EffectiveMonthDate between @LoadMonthStart and @LoadMonthEnd;

	Select 
		@CountP = count(*) 
	from 
		[dbo].[t_Project_map] 
	where 
		EffectiveMonthDate between @LoadMonthStart and @LoadMonthEnd;

	 Select @Concat = cast(@CountM as Nvarchar) +','+ Cast(@CountP as Nvarchar);

	EXECUTE @RC = [dbo].[usp_log]
  		'EXCEL',																--@Source NVARCHAR(128), 
		@Input ,																--@Params NVARCHAR(512),
		'usp_s_excell_report_normalization',									--@Sp_name NVARCHAR(256),
		'[t_manager_map],[t_project_map]',										--@Target_table NVARCHAR(256),
		@Concat,																--@Record_count int,
		'End'																	--Comment		
  
END

GO
/****** Object:  StoredProcedure [dbo].[usp_SPPersonLoad]    Script Date: 28.08.2020 13:10:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[usp_SPPersonLoad]
AS
BEGIN

	DECLARE @EmptyGuid UNIQUEIDENTIFIER = '00000000-0000-0000-0000-000000000000';
	DECLARE @DateMax DATE = CAST('9999-12-31' AS DATE);
	DECLARE @DefaultString nvarchar(255) = 'merging';
	DECLARE @DefaultTinyInt tinyint = 0;
	DECLARE @DefaultVarBinary varbinary = 0;
	DECLARE @DefaultBit bit = 1;

	WITH Source AS (
		SELECT [Id]
			,[Name]
			,[Dummy]
			,[Location_Id]
			,[Department_Id]
			,[Seniority_Id]
			,[Occupation_Id]
			,[Specialization_Id]
			,[HourlyPayType_Id]
			,[StaffType_Id]
			,[PartnerCompany_Id]
			,[MaternityLeave]
			,[EvaluationFrequency]  
			,[State_Id]
			,[LDAPSamAccountName]
			,[LDAPDisplayName]
			,[LDAPCN]
			,[LDAPSID]
			,[LDAPEmail]
			,[Execution]
			,[ProbationDuration]
			,[LDAPPhoto]
			,[StartDate]
			,[FinishDate]
			,[RelationshipWithInfopulse_Id]
			,[RelationshipWithPartner_Id]
			,[CompensationPackage]
			,[FirstNameUa]
			,[PatronymicNameUa]
			,[LastNameUa]
			,[LastName]
			,[FirstName]
			,[Birthday]
			,[Sex]
			,[EVRYAccount]
			,[EVRYID]

		FROM [ESD].[SP].[Person])
	
	MERGE INTO [SP].[Person] AS Target
	USING Source
	ON Target.Id = Source.Id
	WHEN MATCHED AND (
		Target.Name <> Source.Name
		OR Target.[Dummy] <> Source.[Dummy]
		OR Target.[Location_Id] <> Source.[Location_Id]
		OR Target.[Department_Id] <> Source.[Department_Id]
		OR Target.[Seniority_Id] <> Source.[Seniority_Id]
		OR Target.[Occupation_Id] <> Source.[Occupation_Id]
		OR ISNULL(Target.[Specialization_Id], @EmptyGuid) <> ISNULL(Source.[Specialization_Id], @EmptyGuid)
		OR Target.[HourlyPayType_Id] <> Source.[HourlyPayType_Id]
		OR Target.[StaffType_Id] <> Source.[StaffType_Id]
		OR ISNULL(Target.[PartnerCompany_Id], @EmptyGuid) <> ISNULL(Source.[PartnerCompany_Id], @EmptyGuid)
		OR Target.[MaternityLeave] <> Source.[MaternityLeave]
		OR ISNULL(Target.[EvaluationFrequency], @DefaultTinyInt) <> ISNULL(Source.[EvaluationFrequency], @DefaultTinyInt)
		OR Target.[State_Id] <> Source.[State_Id]
		OR Target.[LDAPSamAccountName] <> Source.[LDAPSamAccountName]
		OR Target.[LDAPDisplayName] <> Source.[LDAPDisplayName]
		OR Target.[LDAPCN] <> Source.[LDAPCN]
		OR Target.[LDAPSID] <> Source.[LDAPSID]
		OR Target.[LDAPEmail] <> Source.[LDAPEmail]
		OR ISNULL(Target.[Execution], @DateMax) <> ISNULL(Source.[Execution], @DateMax)
		OR ISNULL(Target.[ProbationDuration], @DefaultTinyInt) <> ISNULL(Source.[ProbationDuration], @DefaultTinyInt)
		OR ISNULL(Target.[LDAPPhoto], @DefaultVarBinary) <> ISNULL(Source.[LDAPPhoto], @DefaultVarBinary)
		OR ISNULL(Target.[StartDate], @DateMax) <> ISNULL(Source.[StartDate], @DateMax)
		OR ISNULL(Target.[FinishDate], @DateMax) <> ISNULL(Source.[FinishDate], @DateMax)
		OR ISNULL(Target.[RelationShipWithInfopulse_Id], @EmptyGuid) <> ISNULL(Source.[RelationShipWithInfopulse_Id], @EmptyGuid)
		OR ISNULL(Target.[RelationShipWithPartner_Id], @EmptyGuid) <> ISNULL(Source.[RelationShipWithPartner_Id], @EmptyGuid)
		OR ISNULL(Target.[CompensationPackage], @DefaultBit) <> ISNULL(Source.[CompensationPackage], @DefaultBit)
		OR ISNULL(Target.[FirstNameUa], @DefaultString) <> ISNULL(Source.[FirstNameUa], @DefaultString)
		OR ISNULL(Target.[PatronymicNameUa], @DefaultString) <> ISNULL(Source.[PatronymicNameUa], @DefaultString)
		OR ISNULL(Target.[LastNameUa], @DefaultString) <> ISNULL(Source.[LastNameUa], @DefaultString)
		OR ISNULL(Target.[LastName], @DefaultString) <> ISNULL(Source.[LastName], @DefaultString)
		OR ISNULL(Target.[FirstName], @DefaultString) <> ISNULL(Source.[FirstName], @DefaultString)
		OR ISNULL(Target.[BirthDay], @DateMax) <> ISNULL(Source.[BirthDay], @DateMax)
		OR ISNULL(Target.[Sex], @DefaultString) <> ISNULL(Source.[Sex], @DefaultString)
		OR ISNULL(Target.[EVRYAccount], @DateMax) <> ISNULL(Source.[EVRYAccount], @DateMax)
		OR ISNULL(Target.[EVRYId], @DateMax) <> ISNULL(Source.[EVRYId], @DateMax)
	) THEN
		UPDATE SET
			Target.Name = Source.Name,
			Target.[Dummy] = Source.[Dummy],
			Target.[Location_Id] = Source.[Location_Id],
			Target.[Department_Id] = Source.[Department_Id],
			Target.[Seniority_Id] = Source.[Seniority_Id],
			Target.[Occupation_Id] = Source.[Occupation_Id],
			Target.[Specialization_Id] = Source.[Specialization_Id],
			Target.[HourlyPayType_Id] = Source.[HourlyPayType_Id],
			Target.[StaffType_Id] = Source.[StaffType_Id],
			Target.[PartnerCompany_Id] = Source.[PartnerCompany_Id],
			Target.[MaternityLeave] = Source.[MaternityLeave],
			Target.[EvaluationFrequency] = Source.[EvaluationFrequency],
			Target.[State_Id] = Source.[State_Id],
			Target.[LDAPSamAccountName] = Source.[LDAPSamAccountName],
			Target.[LDAPDisplayName] = Source.[LDAPDisplayName],
			Target.[LDAPCN] = Source.[LDAPCN],
			Target.[LDAPSID] = Source.[LDAPSID],
			Target.[LDAPEmail] = Source.[LDAPEmail],
			Target.[Execution] = Source.[Execution],
			Target.[ProbationDuration] = Source.[ProbationDuration],
			Target.[LDAPPhoto] = Source.[LDAPPhoto],
			Target.[StartDate] = Source.[StartDate],
			Target.[FinishDate] = Source.[FinishDate],
			Target.[RelationshipWithInfopulse_Id] = Source.[RelationshipWithInfopulse_Id],
			Target.[RelationshipWithPartner_Id] = Source.[RelationshipWithPartner_Id],
			Target.[CompensationPackage] = Source.[CompensationPackage],
			Target.[FirstNameUa] = Source.[FirstNameUa],
			Target.[PatronymicNameUa] = Source.[PatronymicNameUa],
			Target.[LastNameUa] = Source.[LastNameUa],
			Target.[LastName] = Source.[LastName],
			Target.[FirstName] = Source.[FirstName],
			Target.[Birthday] = Source.[Birthday],
			Target.[Sex] = Source.[Sex],
			Target.[EVRYAccount] = Source.[EVRYAccount],
			Target.[EVRYID] = Source.[EVRYID]
	WHEN NOT MATCHED BY TARGET THEN
		INSERT(Id, Name, [Dummy], [Location_Id], [Department_Id], [Seniority_Id], [Occupation_Id], [Specialization_Id], [HourlyPayType_Id], [StaffType_Id], [PartnerCompany_Id], [MaternityLeave], [EvaluationFrequency], [State_Id], [LDAPSamAccountName], [LDAPDisplayName], [LDAPCN], [LDAPSID], [LDAPEmail], [Execution], [ProbationDuration], [LDAPPhoto], [StartDate], [FinishDate], [RelationshipWithInfopulse_Id], [RelationshipWithPartner_Id], [CompensationPackage], [FirstNameUa], [PatronymicNameUa], [LastNameUa], [LastName], [FirstName], [Birthday], [Sex], [EVRYAccount], [EVRYID]) 
		VALUES(Id, Name, [Dummy], [Location_Id], [Department_Id], [Seniority_Id], [Occupation_Id], [Specialization_Id], [HourlyPayType_Id], [StaffType_Id], [PartnerCompany_Id], [MaternityLeave], [EvaluationFrequency], [State_Id], [LDAPSamAccountName], [LDAPDisplayName], [LDAPCN], [LDAPSID], [LDAPEmail], [Execution], [ProbationDuration], [LDAPPhoto], [StartDate], [FinishDate], [RelationshipWithInfopulse_Id], [RelationshipWithPartner_Id], [CompensationPackage], [FirstNameUa], [PatronymicNameUa], [LastNameUa], [LastName], [FirstName], [Birthday], [Sex], [EVRYAccount], [EVRYID])
	WHEN NOT MATCHED BY SOURCE THEN
	DELETE;
	--GO

	PRINT 'Import was successful from SP.[Person]'
END
GO
/****** Object:  StoredProcedure [dbo].[usp_SPSeniorityLoad]    Script Date: 28.08.2020 13:10:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[usp_SPSeniorityLoad]
AS
BEGIN

	DECLARE @DefaultString nvarchar(255) = 'merging';
	
	WITH Source AS (
		SELECT [Id]
			,[Name]
			,[Order]
			,[Description]
			,[State_Id]

		FROM [EP].[SP].[Seniority])
	
	MERGE INTO [SP].[Seniority] AS Target
	USING Source
	ON Target.Id = Source.Id
	WHEN MATCHED AND (
		Target.[Name] <> Source.[Name] 
		OR Target.[Order] <> Source.[Order]
		OR ISNULL(Target.[Description], @DefaultString) <> ISNULL(Source.[Description], @DefaultString) 
		OR Target.[State_Id] <> Source.[State_Id]
	) THEN
		UPDATE SET
			Target.[Name] = Source.[Name],
			Target.[Order] = Source.[Order],
			Target.[Description] = Source.[Description],
			Target.[State_Id] = Source.[State_Id]
	WHEN NOT MATCHED BY TARGET THEN
		INSERT(Id, [Name], [Order], [Description], [State_Id]) 
		VALUES(Id, [Name], [Order], [Description], [State_Id])
	WHEN NOT MATCHED BY SOURCE THEN
	DELETE;
	--GO

	PRINT 'Import was successful from SP.[Seniority]'
END
GO
/****** Object:  StoredProcedure [dbo].[usp_SPStateLoad]    Script Date: 28.08.2020 13:10:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[usp_SPStateLoad]
AS
BEGIN

	DECLARE @DefaultString nvarchar(255) = 'merging';

	WITH Source AS (
		SELECT [Id]
			,[Value]
			,[Description]

		FROM [EP].[SP].[State])
	
	MERGE INTO [SP].[State] AS Target
	USING Source
	ON Target.Id = Source.Id
	WHEN MATCHED AND (
		Target.[Value] <> Source.[Value]
		OR ISNULL(Target.[Description], '') <> ISNULL(Source.[Description], '') 
	) THEN
		UPDATE SET
			Target.[Value] = Source.[Value],
			Target.[Description] = Source.[Description]
	WHEN NOT MATCHED BY TARGET THEN
		INSERT(Id, [Value], [Description]) 
		VALUES(Id, [Value], [Description])
	WHEN NOT MATCHED BY SOURCE THEN
	DELETE;
	--GO

	PRINT 'Import was successful from SP.[State]'
END
GO
/****** Object:  StoredProcedure [dbo].[usp_val_ExcelImport]    Script Date: 28.08.2020 13:10:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================

CREATE PROCEDURE [dbo].[usp_val_ExcelImport]


	@dataset_ID uniqueidentifier
AS
BEGIN
	DECLARE @RC int;
	Declare @Input nvarchar(256) =  cast(@dataset_ID as Nvarchar(256)) ;
	Declare @DateErrorCount integer;
	Declare @BaseErrorCount integer;
	Declare @VarAddonErrorCount integer;
	Declare @Count nvarchar(128);
	
	SET NOCOUNT ON;
	SET DATEFORMAT dmy;

	--Loging start
	EXECUTE @RC = [dbo].[usp_log]
  		'EXCEL',																--@Source NVARCHAR(128), 
		@Input ,																--@Params NVARCHAR(512),
		'usp_val_ExcelImport',													--@Sp_name NVARCHAR(256),
		't_s_report_excel',														--@Target_table NVARCHAR(256),
		'',																		--@Record_count nvarchar (128),t,
		'Start'																	--@Comment NVARCHAR(4000)

	
	Create table #Checkdataset 
	
	(
	[Full_Name_UA] [nvarchar](255) NULL,
	[Full_Name] [nvarchar](255) NULL,
	[Relationship_IP] [nvarchar](255) NULL,
	[Relationship_Partner] [nvarchar](255) NULL,
	[Partner_Company] [nvarchar](255) NULL,
	[Department] [nvarchar](255) NULL,
	[Group_Leader] [nvarchar](255) NULL,
	[Project] [nvarchar](255) NULL,
	[Direct_Manager] [nvarchar](255) NULL,
	[Hourly_Pay_Type] [nvarchar](255) NULL,
	[Grade] [nvarchar](255) NULL,
	[Maternity_Leave] [nvarchar](255) NULL,
	[Compensation_Package_Group] [nvarchar](255) NULL,
	[Location] [nvarchar](255) NULL,
	[Staff_Type] [nvarchar](255) NULL,
	[Start_Date] [nvarchar](255) NULL,
	[Base] [nvarchar](255) NULL,
	[Currency] [nvarchar](255) NOT NULL,
	[Addon] [nvarchar](255) NULL,
	[Type_addon] [nvarchar](255) NULL,
	[Variable] [nvarchar](255) NULL,
	[DatasetID] [uniqueidentifier] NOT NULL
	);

	--remove previous data for this month if exists
	Insert Into #Checkdataset  
		(
		DatasetID,
		Full_Name_UA, 				
		Full_Name, 					
		Relationship_IP, 			
		Relationship_Partner, 		
		Partner_Company, 			
		Department, 				
		Group_Leader, 				
		Project, 					
		Direct_Manager, 			
		Hourly_Pay_Type, 			
		Grade, 						
		Maternity_Leave,			
		Compensation_Package_Group, 
		Location, 					
		Staff_Type, 				
		Start_Date, 				
		Base, 						
		Currency, 					
		Addon, 						
		Type_addon, 				
		Variable
		)

	Select 
		DatasetID,
		Full_Name_UA, 				
		Full_Name, 					
		Relationship_IP, 			
		Relationship_Partner, 		
		Partner_Company, 			
		Department, 				
		Group_Leader, 				
		Project, 					
		Direct_Manager, 			
		Hourly_Pay_Type, 			
		Grade, 						
		Maternity_Leave,			
		Compensation_Package_Group, 
		Location, 					
		Staff_Type, 				
		Start_Date, 				
		Base, 						
		Currency, 					
		Addon, 						
		Type_addon, 				
		Variable
	from 
		[dbo].[stg_t_s_report_excel]
	where 
		DatasetID = @dataset_ID
		and Status_id = 0;
	
	
	--validation Start date

	Select	
		@DateErrorCount =count(*) 
	from 
		#Checkdataset
	where 
		ISDATE(Start_Date) = 0;

	--validation Base

	Select	
		@BaseErrorCount =count(*) 
	from 
		[dbo].[stg_t_s_report_excel]
	where 
		ISNUMERIC(Base) = 0
		OR Base <=0 
		
	
	--validation Addon /variable

	Select	
		@VarAddonErrorCount =count(*) 
	from 
		#Checkdataset
	where 
		ISNUMERIC(Addon) = 0 
		or  ISNUMERIC(Variable) = 0
		or Addon < 0
		or Variable < 0
		;
	
	

	If (@DateErrorCount > 0 ) or (@BaseErrorCount > 0 ) or (@VarAddonErrorCount>0)
		
		begin

			Insert into [dbo].[t_Excell_load_errors] --error table
					(
					DatasetID,
					Full_Name_UA, 				
					Full_Name, 					
					Relationship_IP, 			
					Relationship_Partner, 		
					Partner_Company, 			
					Department, 				
					Group_Leader, 				
					Project, 					
					Direct_Manager, 			
					Hourly_Pay_Type, 			
					Grade, 						
					Maternity_Leave,			
					Compensation_Package_Group, 
					Location, 					
					Staff_Type, 				
					Start_Date, 				
					Base, 						
					Currency, 					
					Addon, 						
					Type_addon, 				
					Variable
					)
				Select 
					DatasetID,
					Full_Name_UA, 				
					Full_Name, 					
					Relationship_IP, 			
					Relationship_Partner, 		
					Partner_Company, 			
					Department, 				
					Group_Leader, 				
					Project, 					
					Direct_Manager, 			
					Hourly_Pay_Type, 			
					Grade, 						
					Maternity_Leave,			
					Compensation_Package_Group, 
					Location, 					
					Staff_Type, 				
					Start_Date, 				
					Base, 						
					Currency, 					
					Addon, 						
					Type_addon, 				
					Variable
				from
					#Checkdataset  
				where
					ISDATE(Start_Date) = 0
					or ISNUMERIC(Base) = 0
					or ISNUMERIC(Addon) = 0
					or ISNUMERIC(Variable) = 0
					or Addon < 0
					or Variable < 0
					or Base <=0 
					;

				Update [dbo].[stg_t_s_report_excel]
					SET Status_id = 2 --error
				where	
					DatasetID = @dataset_ID
					AND Status_id = 0; --not checked
		end
	else 

	-- if all ok - data will be updated to 1
		
		begin
			
		Update [dbo].[stg_t_s_report_excel]
			SET Status_id = 1 --validated
		where	
			DatasetID = @dataset_ID
			AND Status_id = 0; --not checked

			Insert into [dbo].[t_s_report_excel]
				(
				Full_Name_UA, 				
				Full_Name, 					
				Relationship_IP, 			
				Relationship_Partner, 		
				Partner_Company, 			
				Department, 				
				Group_Leader, 				
				Project, 					
				Direct_Manager, 			
				Hourly_Pay_Type, 			
				Grade, 						
				Maternity_Leave,			
				Compensation_Package_Group, 
				Location, 					
				Staff_Type, 				
				Start_Date, 				
				Base, 						
				Currency, 					
				Addon, 						
				Type_addon, 				
				Variable 					
		
				)
			Select	
				isnull(Full_Name_UA,''), 				
				isnull(Full_Name,'') , 					
				isnull(Relationship_IP,''), 			
				isnull(Relationship_Partner,''), 		
				isnull(Partner_Company,''), 			
				isnull(Department,''), 				
				isnull(Group_Leader,''), 				
				isnull(Project,''), 					
				isnull(Direct_Manager,''), 			
				isnull(Hourly_Pay_Type,''), 			
				isnull(Grade,''), 						
				isnull(Maternity_Leave,''),			
				isnull(Compensation_Package_Group,''), 
				isnull(Location,''), 					
				isnull(Staff_Type,''), 				
				cast(Start_Date as date), 				
				cast(Base as money), 						
				isnull(Currency,''), 					
				cast(isnull(Addon,0) as money),						
				isnull(Type_addon,''), 				
				cast(isnull(Variable,0) as money)
			from 
				[dbo].[stg_t_s_report_excel]
			WHERE 
				DatasetID = @dataset_ID
				AND Status_id = 1;--just loaded
		end
	
	
	
	--Loging end
	Select @Count = cast(count(*) as nvarchar) from [dbo].[t_s_report_excel] where EffectiveMonthDate is null ; 
	EXECUTE @RC = [dbo].[usp_log]
  		'EXCEL',																--@Source NVARCHAR(128), 
		@Input ,																--@Params NVARCHAR(512),
		'usp_PostExcelImport',													--@Sp_name NVARCHAR(256),
		't_s_report_excel',														--@Target_table NVARCHAR(256),
		@Count,																	--@Record_count nvarchar (128),
		'End'																	--@Comment NVARCHAR(4000)

	If(OBJECT_ID('tempdb..#Checkdataset') Is Not Null)
	Begin
		Drop Table #Checkdataset
	End;
	-- show error names list as Output for reject file 
	Select 
		Full_name 
	from 
		t_Excell_load_errors
	where 
		DatasetID = @dataset_ID;
	

END

GO
/****** Object:  StoredProcedure [dbo].[usp_val_rateImport]    Script Date: 28.08.2020 13:10:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================

CREATE PROCEDURE [dbo].[usp_val_rateImport]


	@dataset_ID uniqueidentifier
AS
BEGIN
	DECLARE @RC int;
	Declare @Input nvarchar(256) =  cast(@dataset_ID as Nvarchar(256)) ;
	Declare @StartDateErrorCount integer;
	Declare @EndDateErrorCount integer;
	Declare @RoleErrorCount integer;
	Declare @VarAddonErrorCount integer;
	Declare @Count nvarchar(128);
	
	SET NOCOUNT ON;
	SET DATEFORMAT dmy;

	--Loging start
	EXECUTE @RC = [dbo].[usp_log]
  		'EXCEL',																--@Source NVARCHAR(128), 
		@Input ,																--@Params NVARCHAR(512),
		'usp_val_rateImport',													--@Sp_name NVARCHAR(256),
		't_rates',																--@Target_table NVARCHAR(256),
		'',																		--@Record_count nvarchar (128),t,
		'Start'																	--@Comment NVARCHAR(4000)

	
	--remove previous data if exists
	Delete from [dbo].[t_rates]
		;
	
	select 
		* Into #checkdataset  
	from 
		[dbo].[stg_t_rates]
	where 
		DatasetID = @dataset_ID
		and Status_id = 0;
	
	
	--validation Start date

	Select	
		@StartDateErrorCount =count(*) 
	from 
		#checkdataset
	where 
		ISDATE(Start_Date) = 0;
	
	Select	
		@EndDateErrorCount =count(*) 
	from 
		#checkdataset
	where 
		ISDATE(Start_Date) = 0;


	--validation Short_Role

	Select	
		@RoleErrorCount =count(*) 
	from 
		#checkdataset
	where 
		isnull(Short_Role,'') = '';
	
	
	--validation Start date

	Select	
		@StartDateErrorCount =count(*) 
	from 
		#checkdataset
	group by [Short_Role],[Start_date] 
	having count(*) > 1

	If (@StartDateErrorCount > 0 ) or (@RoleErrorCount>0)
		begin

			
		Insert INTO [dbo].t_rates_load_errors --error table
				(
				[Role],
				[Short_Role],
				[Hr_Rate],
				[Start_date],
				DatasetID
				)
			Select 
				[Role],
				[Short_Role],
				[Hr_Rate],
				[Start_date],
				DatasetID
				
			from
				#checkdataset  
			where
				ISDATE(Start_Date) = 0
				or isnull(Short_Role,'') = '' 
				or  [Short_Role] in 
									(
									Select	
										Short_Role
									from 
										#checkdataset
									group by [Short_Role],[Start_date] 
									having count(*) > 1
									)
				

			Update [dbo].[stg_t_rates]
				SET Status_id = 2 --error
			where	
				DatasetID = @dataset_ID
				AND Status_id = 0; --not checked
		end
	else 

	-- if all ok - data will be updated to 1
		
		begin
				Update [dbo].[stg_t_rates]
					SET Status_id = 1 --validated
				where	
					DatasetID = @dataset_ID
					AND Status_id = 0; --not checked
		
			Insert into [dbo].[t_rates]
				(
				[Role],
				[Short_Role],
				[Hr_Rate],
				[Start_date],
				[End_date]
				)
			Select	
				isnull(Role,''), 				
				isnull(Short_Role,'') , 					
				cast(Hr_Rate as money), 						
				cast(Start_Date as date), 
				cast (End_date as date)   --the record is active till the next rate comes
			from 
				[dbo].[stg_t_rates]
			WHERE 
				DatasetID = @dataset_ID
				AND Status_id = 1;--just loaded
		end




	--Loging end
	Select @Count = cast(count(*) as nvarchar) from [dbo].[t_s_report_excel] where EffectiveMonthDate is null ; 
	EXECUTE @RC = [dbo].[usp_log]
  		'EXCEL',																--@Source NVARCHAR(128), 
		@Input ,																--@Params NVARCHAR(512),
		'usp_val_rateImport',													--@Sp_name NVARCHAR(256),
		't_rates',														--@Target_table NVARCHAR(256),
		@Count,																	--@Record_count nvarchar (128),
		'End'																	--@Comment NVARCHAR(4000)

	If(OBJECT_ID('tempdb..#checkdataset') Is Not Null)
	Begin
		Drop Table #checkdataset
	End;
	-- show error names list as Output for reject file 
	Select 
		Short_Role 
	from 
		[dbo].[t_rates_load_errors ]
	where 
		DatasetID = @dataset_ID;
	

END

GO
