USE [master]
GO
/****** Object:  Database [EPAS_DEV]    Script Date: 28.08.2020 13:00:50 ******/
CREATE DATABASE [EPAS_DEV]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EPAS_DEV', FILENAME = N'D:\DBdata\EPAS_DEV.mdf' , SIZE = 509952KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EPAS_DEV_log', FILENAME = N'D:\DBdata\EPAS_DEV_log.ldf' , SIZE = 615424KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EPAS_DEV].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EPAS_DEV]
GO
USE [EPAS_DEV]
GO
/****** Object:  Schema [PA]    Script Date: 28.08.2020 13:00:50 ******/
CREATE SCHEMA [PA]
GO
/****** Object:  Schema [SP]    Script Date: 28.08.2020 13:00:50 ******/
CREATE SCHEMA [SP]
GO
/****** Object:  UserDefinedFunction [dbo].[get_ep_score]    Script Date: 28.08.2020 13:00:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[get_ep_score]
(    
   @EmployeeName NVARCHAR(128)
   
)
RETURNS @RtnValue TABLE 
(
   
   EmployeeName NVARCHAR(128),
   LastEvalReriod date,
   OverallScore INT,
   AvgProductivityScore INT,
   EP_ID uniqueidentifier
) 
AS
BEGIN 
    
	with CTE_Seniority as (
		select 
			con.[Id] as ID, 
			con.[Period], 
			per.[Name], 
			rel.[Name] Role, 
			con.OverallScore ,
			iif(m.Name is null, '-', m.name) as mark, 
			ss.Value ProductivityScore 
		from 
			pa.[Context] con
			join PA.[ContextState] st 	 on con.[State_Id] = st.[Id]
			join PA.[EvaluationPeer] ep	 on con.[Id] = ep.[Context_Id]
			join sp.[Person] per 		 on ep.[Person_Id] = per.[Id]
			join pa.[Relation] rel 		 on rel.[Id] = ep.[Relation_Id] 
			join pa.[ContextCategory] cc on con.[ContextCategory_Id] = cc.[Id]
			join pa.EPFeedback fd		 on fd.EP_Id = ep.Id
			join pa.Grade g				 on g.id = fd.Grade_id
			join pa.KPI k				 on k.Id = g.KPI_Id
			left join pa.Mark m			 on m.id = g.Mark_id
			join sp.Seniority s			 on s.Name = m.name
			join pa.SeniorityScore ss	 on ss.Seniority_Id =s.Id
		where  
			exists 
 				(
				select 
					[Context].[Id]
     			from 
					[EP].[PA].[Context]
					join PA.[EvaluationPeer] ep	on [Context].[Id] = ep.[Context_Id]
					join sp.Person on Person.Id = ep.Person_Id
					join pa.[Relation] rel 		on rel.[Id] = ep.[Relation_Id] 
				where 
					con.[Id] = [Context].[Id]
					and person.Name = @EmployeeName  
					and rel.Name = 'Evaluated Person'

			)
		and st.Description = 'Completed' and rel.[Name] in ('Evaluator', 'Direct Manager' )
		and  cc.[Description] = 'Specialist'
		and k.Name = 'Productivity')

	Insert into @RtnValue (
		EmployeeName, 
		LastEvalReriod,
		OverallScore, 
		AvgProductivityScore ,
		EP_ID
			)
	Select distinct
		@EmployeeName
		,Period 
		,OverallScore 
		,avg(ProductivityScore) over (partition by ID) as AvgProductivityScore
		,ID as EP_ID
	from 
		CTE_Seniority
	where 
		CTE_Seniority.Period in 
			(
				Select 
					max(Period) 
				from 
					CTE_Seniority
				)
	return	
 
END
GO
/****** Object:  View [dbo].[vw_lookup_role_assignment]    Script Date: 28.08.2020 13:00:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create view [dbo].[vw_lookup_role_assignment]
	(
	   [Id]
      ,[Person_Id]
	  ,[Person_Name]
      ,[Project_Id]
	  ,[Project_Name]
      ,[Role_Id]
	  ,[Role_Name]
      ,[Manager_Id]
	  ,[Manager_Name]
      ,[State_Id]
	  , [State_value]
      ,[DateFrom]
      ,[DateTo]
      ,[EmploymentLevel]
      ,[Execution]
      ,[ContractPosition_Id]
	  ,[ContractPosition_Name]
      ,[Workplace_Id]
	  ,[Workplace_Name]
      ,[Sp_Id]	
	  )
as  select 
	   Assignment.[Id]
      ,Assignment.[Person_Id]
	  ,Assignment_Person.[Name] as [Person_Name]
      ,Assignment.[Project_Id]
	  ,Project.[Name] as [Project_Name]
      ,Assignment.[Role_Id]
	  ,Role.[Name] as Role_Name
      ,Assignment.[Manager_Id]
	  ,Assignment_Manager.[Name] as Manager_Name
      ,Assignment.[State_Id]
	  ,state.[Value] as [State_Value]
      ,Assignment.[DateFrom]
      ,Assignment.[DateTo]
      ,Assignment.[EmploymentLevel]
      ,Assignment.[Execution]
      ,Assignment.[ContractPosition_Id]
	  ,ContractPosition.[Name] as [ContractPosition_Name]
      ,[Workplace_Id]
	  ,Location.Name as [Workplace_Name]
      ,[Sp_Id]	
	from 
		ESD.SP.Assignment as Assignment
		left join [ESD].[SP].[ContractPosition] as ContractPosition
			ON ContractPosition.[Id] = Assignment.[ContractPosition_Id]
			
		left join [ESD].[SP].[Location] as Location
			on  Location.[Id] = Assignment.[Workplace_ID]
			
		left join [ESD].[SP].[Person]  as Assignment_Manager
			on  Assignment_Manager.[Id] = Assignment.[Manager_Id]

		left join [ESD].[SP].[Person]  as Assignment_Person
			on  Assignment_Person.[Id] = Assignment.[Person_Id]
		
		left join [ESD].[SP].[Role] as Role
			on  Role.[Id] = Assignment.[role_Id]

		left join [ESD].[SP].[Project] as Project
			on  Project.[Id] = Assignment.[Project_Id]
		
		left join [ESD].[SP].[State] as State
			on  State.[Id] = Assignment.[State_Id]

GO
/****** Object:  Table [dbo].[ImportResult]    Script Date: 28.08.2020 13:00:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImportResult](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Start] [datetime] NOT NULL,
	[End] [datetime] NULL,
	[CommentError] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[stg_t_rates]    Script Date: 28.08.2020 13:00:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stg_t_rates](
	[Role] [nvarchar](255) NULL,
	[Short_Role] [nvarchar](255) NULL,
	[Hr_Rate] [nvarchar](255) NULL,
	[Start_date] [nvarchar](255) NULL,
	[End_date] [nvarchar](255) NULL,
	[Created_by] [nvarchar](256) NOT NULL,
	[Created_on] [datetime] NOT NULL,
	[Status_id] [int] NOT NULL,
	[DatasetID] [uniqueidentifier] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[stg_t_s_report_excel]    Script Date: 28.08.2020 13:00:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stg_t_s_report_excel](
	[Full_Name_UA] [nvarchar](255) NULL,
	[Full_Name] [nvarchar](255) NULL,
	[Relationship_IP] [nvarchar](255) NULL,
	[Relationship_Partner] [nvarchar](255) NULL,
	[Partner_Company] [nvarchar](255) NULL,
	[Department] [nvarchar](255) NULL,
	[Group_Leader] [nvarchar](255) NULL,
	[Project] [nvarchar](255) NULL,
	[Direct_Manager] [nvarchar](255) NULL,
	[Hourly_Pay_Type] [nvarchar](255) NULL,
	[Grade] [nvarchar](255) NULL,
	[Maternity_Leave] [nvarchar](255) NULL,
	[Compensation_Package_Group] [nvarchar](255) NULL,
	[Location] [nvarchar](255) NULL,
	[Staff_Type] [nvarchar](255) NULL,
	[Start_Date] [nvarchar](255) NULL,
	[Base] [nvarchar](255) NULL,
	[Currency] [nvarchar](255) NOT NULL,
	[Addon] [nvarchar](255) NULL,
	[Type_addon] [nvarchar](255) NULL,
	[Variable] [nvarchar](255) NULL,
	[Created_by] [nvarchar](256) NOT NULL,
	[Created_on] [datetime] NOT NULL,
	[Status_id] [int] NOT NULL,
	[DatasetID] [uniqueidentifier] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[t_dataset]    Script Date: 28.08.2020 13:00:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_dataset](
	[Dataset_ID] [uniqueidentifier] NOT NULL,
	[FileName] [nvarchar](256) NOT NULL,
	[Created_by] [nvarchar](256) NOT NULL,
	[Created_on] [datetime] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[t_EP_Plan]    Script Date: 28.08.2020 13:00:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_EP_Plan](
	[ID] [uniqueidentifier] NOT NULL,
	[FullName] [nvarchar](256) NOT NULL,
	[EffectiveMonthDate] [date] NOT NULL,
	[EP_date] [date] NOT NULL,
	[Scenario_ID] [uniqueidentifier] NOT NULL,
	[Grade] [nvarchar](50) NOT NULL,
	[Base] [money] NULL,
	[Currency] [nvarchar](255) NOT NULL,
	[Addon] [money] NULL,
	[Type_addon] [nvarchar](255) NULL,
	[Variable] [money] NULL,
	[TotalMoney]  AS (([Base]+[Addon])+[Variable]),
	[Created_by] [nvarchar](256) NOT NULL,
	[Created_on] [datetime] NOT NULL,
 CONSTRAINT [EP_Plan_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = ON, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[t_Excell_load_errors]    Script Date: 28.08.2020 13:00:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_Excell_load_errors](
	[Full_Name_UA] [nvarchar](255) NULL,
	[Full_Name] [nvarchar](255) NULL,
	[Relationship_IP] [nvarchar](255) NULL,
	[Relationship_Partner] [nvarchar](255) NULL,
	[Partner_Company] [nvarchar](255) NULL,
	[Department] [nvarchar](255) NULL,
	[Group_Leader] [nvarchar](255) NULL,
	[Project] [nvarchar](255) NULL,
	[Direct_Manager] [nvarchar](255) NULL,
	[Hourly_Pay_Type] [nvarchar](255) NULL,
	[Grade] [nvarchar](255) NULL,
	[Maternity_Leave] [nvarchar](255) NULL,
	[Compensation_Package_Group] [nvarchar](255) NULL,
	[Location] [nvarchar](255) NULL,
	[Staff_Type] [nvarchar](255) NULL,
	[Start_Date] [nvarchar](255) NULL,
	[Base] [nvarchar](255) NULL,
	[Currency] [nvarchar](255) NOT NULL,
	[Addon] [nvarchar](255) NULL,
	[Type_addon] [nvarchar](255) NULL,
	[Variable] [nvarchar](255) NULL,
	[DatasetID] [uniqueidentifier] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[t_log]    Script Date: 28.08.2020 13:00:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_log](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Source] [nvarchar](128) NULL,
	[params] [nvarchar](512) NULL,
	[SP_name] [nvarchar](256) NULL,
	[Target_table] [nvarchar](256) NULL,
	[Record_count] [nvarchar](128) NULL,
	[Comment] [nvarchar](4000) NULL,
	[Created_by] [nvarchar](256) NOT NULL,
	[Created_on] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[t_manager_map]    Script Date: 28.08.2020 13:00:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_manager_map](
	[ID] [uniqueidentifier] NOT NULL,
	[EffectiveMonthDate] [date] NOT NULL,
	[Full_Name] [nvarchar](255) NOT NULL,
	[Direct_Manager] [nvarchar](255) NULL,
	[Created_by] [nvarchar](256) NOT NULL,
	[Created_on] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[t_project_map]    Script Date: 28.08.2020 13:00:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_project_map](
	[ID] [uniqueidentifier] NOT NULL,
	[EffectiveMonthDate] [date] NOT NULL,
	[Full_Name] [nvarchar](255) NOT NULL,
	[Project] [nvarchar](255) NULL,
	[Created_by] [nvarchar](256) NOT NULL,
	[Created_on] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[t_rates]    Script Date: 28.08.2020 13:00:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_rates](
	[ID] [uniqueidentifier] NOT NULL,
	[Role] [nvarchar](256) NOT NULL,
	[Short_Role] [nvarchar](50) NOT NULL,
	[Hr_Rate] [money] NOT NULL,
	[Start_date] [datetime] NOT NULL,
	[End_date] [datetime] NOT NULL,
	[Scenario_ID] [uniqueidentifier] NULL,
	[Created_by] [nvarchar](256) NOT NULL,
	[Created_on] [datetime] NOT NULL,
 CONSTRAINT [Rates_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = ON, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[t_rates_load_errors ]    Script Date: 28.08.2020 13:00:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_rates_load_errors ](
	[Role] [nvarchar](255) NULL,
	[Short_Role] [nvarchar](255) NULL,
	[Hr_Rate] [nvarchar](255) NULL,
	[Start_date] [nvarchar](255) NULL,
	[End_date] [nvarchar](255) NULL,
	[DatasetID] [uniqueidentifier] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[t_s_report_excel]    Script Date: 28.08.2020 13:00:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_s_report_excel](
	[EffectiveMonthDate] [date] NULL,
	[Full_Name_UA] [nvarchar](255) NULL,
	[Full_Name] [nvarchar](255) NULL,
	[Relationship_IP] [nvarchar](255) NULL,
	[Relationship_Partner] [nvarchar](255) NULL,
	[Partner_Company] [nvarchar](255) NULL,
	[Department] [nvarchar](255) NULL,
	[Group_Leader] [nvarchar](255) NULL,
	[Project] [nvarchar](255) NULL,
	[Direct_Manager] [nvarchar](255) NULL,
	[Hourly_Pay_Type] [nvarchar](255) NULL,
	[Grade] [nvarchar](255) NULL,
	[Maternity_Leave] [nvarchar](255) NULL,
	[Compensation_Package_Group] [nvarchar](255) NULL,
	[Location] [nvarchar](255) NULL,
	[Staff_Type] [nvarchar](255) NULL,
	[Start_Date] [date] NULL,
	[Base] [money] NULL,
	[Currency] [nvarchar](255) NOT NULL,
	[Addon] [money] NULL,
	[Type_addon] [nvarchar](255) NULL,
	[Variable] [money] NULL,
	[TotalMoney]  AS (([Base]+[Addon])+[Variable]),
	[ImportedDt] [datetime] NOT NULL,
	[Location_Short]  AS (case when substring([Location],(1),charindex(',',[Location]+',')-(1))='' then 'Remote' else substring([Location],(1),charindex(',',[Location]+',')-(1)) end),
	[EffectiveYear]  AS (datepart(year,[EffectiveMonthDate])),
	[MonthName]  AS (datename(month,[EffectiveMonthDate]))
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[t_scenario]    Script Date: 28.08.2020 13:00:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_scenario](
	[ID] [uniqueidentifier] NOT NULL,
	[ScenarioName] [nvarchar](256) NOT NULL,
	[Corporate_overhead] [money] NOT NULL,
	[Hrs_count] [uniqueidentifier] NOT NULL,
	[Created_by] [nvarchar](256) NOT NULL,
	[Created_on] [datetime] NOT NULL,
 CONSTRAINT [Scenario_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = ON, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[t_short_grades]    Script Date: 28.08.2020 13:00:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_short_grades](
	[Long_Grade] [nvarchar](255) NOT NULL,
	[Short_Grade] [nvarchar](255) NOT NULL,
	[Grade] [nvarchar](50) NOT NULL,
	[Specialization] [nvarchar](50) NOT NULL,
	[Grade_Type] [nvarchar](50) NOT NULL,
	[Short_Role] [nvarchar](50) NULL,
 CONSTRAINT [PK_t_short_grades] PRIMARY KEY CLUSTERED 
(
	[Long_Grade] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[t_subgrade]    Script Date: 28.08.2020 13:00:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_subgrade](
	[EffectiveMonthDate] [date] NOT NULL,
	[Full_Name] [nvarchar](255) NOT NULL,
	[OverallScore] [int] NOT NULL,
	[AvgProductivityScore] [int] NOT NULL,
	[SubGrade] [nvarchar](50) NOT NULL,
	[ImportedDt] [datetime] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [PA].[Context]    Script Date: 28.08.2020 13:00:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PA].[Context](
	[Id] [uniqueidentifier] NOT NULL,
	[Period] [date] NOT NULL,
	[Type_Id] [uniqueidentifier] NOT NULL,
	[State_Id] [uniqueidentifier] NOT NULL,
	[OverallScore] [real] NULL,
	[DateUpdated] [datetime] NOT NULL,
	[UnderDiscussionCount] [int] NOT NULL,
	[ContextCategory_Id] [uniqueidentifier] NOT NULL,
	[Status_Id] [uniqueidentifier] NOT NULL,
 CONSTRAINT [Context_PK] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [PA].[ContextCategory]    Script Date: 28.08.2020 13:00:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PA].[ContextCategory](
	[Id] [uniqueidentifier] NOT NULL,
	[Value] [tinyint] NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
 CONSTRAINT [Context_Category_PK] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [PA].[ContextState]    Script Date: 28.08.2020 13:00:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PA].[ContextState](
	[Id] [uniqueidentifier] NOT NULL,
	[Value] [tinyint] NOT NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [ContextState_PK] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [PA].[EPFeedback]    Script Date: 28.08.2020 13:00:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PA].[EPFeedback](
	[Id] [uniqueidentifier] NOT NULL,
	[EP_Id] [uniqueidentifier] NOT NULL,
	[Grade_Id] [uniqueidentifier] NOT NULL,
	[Comment] [nvarchar](max) NULL,
 CONSTRAINT [EPFeedback_PK] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = ON, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [PA].[EvaluationPeer]    Script Date: 28.08.2020 13:00:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PA].[EvaluationPeer](
	[Id] [uniqueidentifier] NOT NULL,
	[Context_Id] [uniqueidentifier] NOT NULL,
	[Person_Id] [uniqueidentifier] NOT NULL,
	[Relation_Id] [uniqueidentifier] NOT NULL,
	[State_Id] [uniqueidentifier] NOT NULL,
	[DateCreated] [datetime] NOT NULL,
	[DateUpdated] [datetime] NOT NULL,
	[Status_Id] [uniqueidentifier] NOT NULL,
 CONSTRAINT [EvaluationPeer_PK] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = ON, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [PA].[Grade]    Script Date: 28.08.2020 13:00:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PA].[Grade](
	[Id] [uniqueidentifier] NOT NULL,
	[KPI_Id] [uniqueidentifier] NOT NULL,
	[Mark_Id] [uniqueidentifier] NULL,
	[Value] [int] NULL,
	[Description] [nvarchar](max) NULL,
	[ContextCategory_Id] [uniqueidentifier] NOT NULL,
 CONSTRAINT [Grade_PK] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [PA].[KPI]    Script Date: 28.08.2020 13:00:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PA].[KPI](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
	[Type_Id] [uniqueidentifier] NOT NULL,
	[Order] [tinyint] NOT NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [KPI_PK] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [PA].[KPIType]    Script Date: 28.08.2020 13:00:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PA].[KPIType](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](32) NOT NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [KPIType_PK] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [PA].[Mark]    Script Date: 28.08.2020 13:00:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PA].[Mark](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](32) NOT NULL,
 CONSTRAINT [Mark_PK] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [PA].[Relation]    Script Date: 28.08.2020 13:00:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PA].[Relation](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](32) NOT NULL,
	[ProcessOrder] [tinyint] NOT NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [Relation_PK] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [PA].[SeniorityScore]    Script Date: 28.08.2020 13:00:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PA].[SeniorityScore](
	[Seniority_Id] [uniqueidentifier] NOT NULL,
	[Value] [tinyint] NOT NULL,
 CONSTRAINT [PK_SeniorityScore] PRIMARY KEY CLUSTERED 
(
	[Seniority_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [SP].[Person]    Script Date: 28.08.2020 13:00:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SP].[Person](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](512) NOT NULL,
	[Dummy] [bit] NOT NULL,
	[Location_Id] [uniqueidentifier] NOT NULL,
	[Department_Id] [uniqueidentifier] NOT NULL,
	[Seniority_Id] [uniqueidentifier] NOT NULL,
	[Occupation_Id] [uniqueidentifier] NOT NULL,
	[Specialization_Id] [uniqueidentifier] NULL,
	[HourlyPayType_Id] [uniqueidentifier] NOT NULL,
	[StaffType_Id] [uniqueidentifier] NOT NULL,
	[PartnerCompany_Id] [uniqueidentifier] NULL,
	[MaternityLeave] [bit] NOT NULL,
	[EvaluationFrequency] [tinyint] NULL,
	[State_Id] [uniqueidentifier] NOT NULL,
	[LDAPSamAccountName] [nvarchar](512) NOT NULL,
	[LDAPDisplayName] [nvarchar](512) NOT NULL,
	[LDAPCN] [nvarchar](512) NOT NULL,
	[LDAPSID] [nvarchar](max) NOT NULL,
	[LDAPEmail] [nvarchar](512) NOT NULL,
	[Execution] [datetime] NULL,
	[ProbationDuration] [tinyint] NULL,
	[LDAPPhoto] [varbinary](max) NULL,
	[StartDate] [date] NULL,
	[FinishDate] [date] NULL,
	[RelationshipWithInfopulse_Id] [uniqueidentifier] NULL,
	[RelationshipWithPartner_Id] [uniqueidentifier] NULL,
	[CompensationPackage] [bit] NULL,
	[FirstNameUa] [nvarchar](50) NULL,
	[PatronymicNameUa] [nvarchar](50) NULL,
	[LastNameUa] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[FirstName] [nvarchar](50) NULL,
	[Birthday] [date] NULL,
	[Sex] [nvarchar](50) NULL,
	[PhotoUrl]  AS (('https://ihome/Topics/Resources/Team_200_200/'+replace([LDAPDisplayName],' ','.'))+'.jpg'),
	[EVRYAccount] [nvarchar](255) NULL,
	[EVRYID] [nvarchar](255) NULL,
 CONSTRAINT [Person_PK] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [SP].[Seniority]    Script Date: 28.08.2020 13:00:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SP].[Seniority](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](32) NOT NULL,
	[Order] [tinyint] NOT NULL,
	[Description] [nvarchar](255) NULL,
	[State_Id] [uniqueidentifier] NOT NULL,
 CONSTRAINT [Seniority_PK] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [SP].[State]    Script Date: 28.08.2020 13:00:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SP].[State](
	[Id] [uniqueidentifier] NOT NULL,
	[Value] [smallint] NOT NULL,
	[Description] [nvarchar](255) NULL,
 CONSTRAINT [State_PK] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[stg_t_rates] ADD  DEFAULT (CONVERT([nvarchar],user_name())) FOR [Created_by]
GO
ALTER TABLE [dbo].[stg_t_rates] ADD  DEFAULT (getdate()) FOR [Created_on]
GO
ALTER TABLE [dbo].[stg_t_rates] ADD  DEFAULT ((0)) FOR [Status_id]
GO
ALTER TABLE [dbo].[stg_t_s_report_excel] ADD  DEFAULT (CONVERT([nvarchar],user_name())) FOR [Created_by]
GO
ALTER TABLE [dbo].[stg_t_s_report_excel] ADD  DEFAULT (getdate()) FOR [Created_on]
GO
ALTER TABLE [dbo].[stg_t_s_report_excel] ADD  DEFAULT ((0)) FOR [Status_id]
GO
ALTER TABLE [dbo].[t_dataset] ADD  DEFAULT (CONVERT([nvarchar],user_name())) FOR [Created_by]
GO
ALTER TABLE [dbo].[t_dataset] ADD  DEFAULT (getdate()) FOR [Created_on]
GO
ALTER TABLE [dbo].[t_EP_Plan] ADD  DEFAULT (CONVERT([nvarchar],user_name())) FOR [Created_by]
GO
ALTER TABLE [dbo].[t_EP_Plan] ADD  DEFAULT (getdate()) FOR [Created_on]
GO
ALTER TABLE [dbo].[t_log] ADD  DEFAULT (CONVERT([nvarchar],user_name())) FOR [Created_by]
GO
ALTER TABLE [dbo].[t_log] ADD  DEFAULT (getdate()) FOR [Created_on]
GO
ALTER TABLE [dbo].[t_manager_map] ADD  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[t_manager_map] ADD  DEFAULT (CONVERT([nvarchar],user_name())) FOR [Created_by]
GO
ALTER TABLE [dbo].[t_manager_map] ADD  DEFAULT (getdate()) FOR [Created_on]
GO
ALTER TABLE [dbo].[t_project_map] ADD  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[t_project_map] ADD  DEFAULT (CONVERT([nvarchar],user_name())) FOR [Created_by]
GO
ALTER TABLE [dbo].[t_project_map] ADD  DEFAULT (getdate()) FOR [Created_on]
GO
ALTER TABLE [dbo].[t_rates] ADD  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[t_rates] ADD  DEFAULT (CONVERT([nvarchar],user_name())) FOR [Created_by]
GO
ALTER TABLE [dbo].[t_rates] ADD  DEFAULT (getdate()) FOR [Created_on]
GO
ALTER TABLE [dbo].[t_s_report_excel] ADD  CONSTRAINT [DF_t_s_report_excel_ImportedDt]  DEFAULT (getdate()) FOR [ImportedDt]
GO
ALTER TABLE [dbo].[t_scenario] ADD  DEFAULT (CONVERT([nvarchar],user_name())) FOR [Created_by]
GO
ALTER TABLE [dbo].[t_scenario] ADD  DEFAULT (getdate()) FOR [Created_on]
GO
ALTER TABLE [dbo].[t_subgrade] ADD  CONSTRAINT [DF_t_subgrade_ImportedDt]  DEFAULT (getdate()) FOR [ImportedDt]
GO
ALTER TABLE [PA].[Context] ADD  DEFAULT (getdate()) FOR [DateUpdated]
GO
ALTER TABLE [PA].[Context] ADD  DEFAULT ((0)) FOR [UnderDiscussionCount]
GO
ALTER TABLE [PA].[Context] ADD  DEFAULT (newid()) FOR [ContextCategory_Id]
GO
ALTER TABLE [PA].[Context] ADD  DEFAULT ('00000000-0000-0000-0000-000000000000') FOR [Status_Id]
GO
ALTER TABLE [PA].[EvaluationPeer] ADD  DEFAULT (getdate()) FOR [DateCreated]
GO
ALTER TABLE [PA].[EvaluationPeer] ADD  DEFAULT (getdate()) FOR [DateUpdated]
GO
ALTER TABLE [PA].[EvaluationPeer] ADD  DEFAULT (newid()) FOR [Status_Id]
GO
ALTER TABLE [dbo].[t_EP_Plan]  WITH CHECK ADD  CONSTRAINT [EP_Plan_Scenario_FK] FOREIGN KEY([Scenario_ID])
REFERENCES [dbo].[t_scenario] ([ID])
GO
ALTER TABLE [dbo].[t_EP_Plan] CHECK CONSTRAINT [EP_Plan_Scenario_FK]
GO
ALTER TABLE [dbo].[t_rates]  WITH CHECK ADD  CONSTRAINT [Rates_Scenario_FK] FOREIGN KEY([Scenario_ID])
REFERENCES [dbo].[t_scenario] ([ID])
GO
ALTER TABLE [dbo].[t_rates] CHECK CONSTRAINT [Rates_Scenario_FK]
GO
ALTER TABLE [PA].[EvaluationPeer]  WITH CHECK ADD  CONSTRAINT [EvaluationPeer_Context_FK] FOREIGN KEY([Context_Id])
REFERENCES [PA].[Context] ([Id])
GO
ALTER TABLE [PA].[EvaluationPeer] CHECK CONSTRAINT [EvaluationPeer_Context_FK]
GO
ALTER TABLE [PA].[Grade]  WITH CHECK ADD  CONSTRAINT [Grade_ContextCategory_FK] FOREIGN KEY([ContextCategory_Id])
REFERENCES [PA].[ContextCategory] ([Id])
GO
ALTER TABLE [PA].[Grade] CHECK CONSTRAINT [Grade_ContextCategory_FK]
GO
ALTER TABLE [PA].[Grade]  WITH CHECK ADD  CONSTRAINT [Grade_KPI_FK] FOREIGN KEY([KPI_Id])
REFERENCES [PA].[KPI] ([Id])
GO
ALTER TABLE [PA].[Grade] CHECK CONSTRAINT [Grade_KPI_FK]
GO
ALTER TABLE [PA].[Grade]  WITH CHECK ADD  CONSTRAINT [Grade_Mark_FK] FOREIGN KEY([Mark_Id])
REFERENCES [PA].[Mark] ([Id])
GO
ALTER TABLE [PA].[Grade] CHECK CONSTRAINT [Grade_Mark_FK]
GO
ALTER TABLE [PA].[KPI]  WITH CHECK ADD  CONSTRAINT [KPI_Type_FK] FOREIGN KEY([Type_Id])
REFERENCES [PA].[KPIType] ([Id])
GO
ALTER TABLE [PA].[KPI] CHECK CONSTRAINT [KPI_Type_FK]
GO
ALTER TABLE [PA].[SeniorityScore]  WITH CHECK ADD  CONSTRAINT [FK_SeniorityScore_Seniority] FOREIGN KEY([Seniority_Id])
REFERENCES [SP].[Seniority] ([Id])
GO
ALTER TABLE [PA].[SeniorityScore] CHECK CONSTRAINT [FK_SeniorityScore_Seniority]
GO
ALTER TABLE [SP].[Person]  WITH CHECK ADD  CONSTRAINT [Person_Seniority_FK] FOREIGN KEY([Seniority_Id])
REFERENCES [SP].[Seniority] ([Id])
GO
ALTER TABLE [SP].[Person] CHECK CONSTRAINT [Person_Seniority_FK]
GO
ALTER TABLE [SP].[Seniority]  WITH CHECK ADD  CONSTRAINT [Seniority_State_FK] FOREIGN KEY([State_Id])
REFERENCES [SP].[State] ([Id])
GO
ALTER TABLE [SP].[Seniority] CHECK CONSTRAINT [Seniority_State_FK]
GO
/****** Object:  StoredProcedure [dbo].[PA_SP_MainLoad]    Script Date: 28.08.2020 13:00:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[PA_SP_MainLoad]
AS
BEGIN
	DECLARE @ImportId int
	DECLARE @ImportResult nvarchar(MAX)

	INSERT INTO [dbo].[ImportResult] (Start) VALUES(GETDATE())
	SET @ImportId = SCOPE_IDENTITY()

	EXEC sp_msforeachtable "ALTER TABLE ? NOCHECK CONSTRAINT all"

	BEGIN TRANSACTION;

	BEGIN TRY

		EXEC dbo.[usp_SPStateLoad]
		EXEC [dbo].[usp_SPSeniorityLoad]
		EXEC dbo.[usp_SPPersonLoad]
		EXEC [dbo].[usp_PASeniorityScoreLoad]
		EXEC dbo.usp_PARelationLoad
		EXEC dbo.usp_PAMarkLoad
		EXEC [dbo].[usp_PAKPITypeLoad]
		EXEC [dbo].[usp_PAKPILoad]
		EXEC [dbo].[usp_PAContextCategoryLoad]
		EXEC dbo.usp_PAGradeLoad
		EXEC dbo.usp_PAContextLoad
		EXEC dbo.usp_PAEvaluationPeerLoad
		EXEC dbo.usp_PAContextStateLoad
		EXEC dbo.usp_PAEPFeedbackLoad

		SET @ImportResult = 'Import Complete'
	END TRY
	BEGIN CATCH
		
		SELECT @ImportResult = ERROR_MESSAGE()

		IF @@TRANCOUNT > 0
			ROLLBACK TRANSACTION;
	END CATCH

	IF @@TRANCOUNT > 0
		COMMIT TRANSACTION;

	UPDATE dbo.[ImportResult] SET CommentError = @ImportResult, [End] = GETDATE()  WHERE Id = @ImportId
	PRINT(@ImportResult)

EXEC sp_msforeachtable "ALTER TABLE ? WITH CHECK CHECK CONSTRAINT all"

END
GO
/****** Object:  StoredProcedure [dbo].[usp_Get_New_dataset_id]    Script Date: 28.08.2020 13:00:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_Get_New_dataset_id] (@FileName varchar(256))
AS
 BEGIN
 DECLARE @RC int;
 DECLARE @NewdatasetID uniqueidentifier;
 SET NOCOUNT ON;
 --loging start
 
	 EXECUTE @RC = [dbo].[usp_log]
  		'DATASET',																--@Source NVARCHAR(128), 
		@FileName ,																--@Params NVARCHAR(512),
		'usp_Get_New_dataset_id',												--@Sp_name NVARCHAR(256),
		't_dataset',															--@Target_table NVARCHAR(256),
		'',																		--@Record_count nvarchar (128),t,
		'Start'																	--@Comment NVARCHAR(4000)

 SELECT
  @NewdatasetID = NewID();
  INSERT INTO [dbo].[t_dataset]
  (
	dataset_id, 
	FileName
  )
  SELECT 
	@NewdatasetID, 
	@FileName;
--loging end
	EXECUTE @RC = [dbo].[usp_log]
  		'DATASET',																--@Source NVARCHAR(128), 
		@FileName ,																--@Params NVARCHAR(512),
		'usp_Get_New_dataset_id',												--@Sp_name NVARCHAR(256),
		't_dataset',															--@Target_table NVARCHAR(256),
		'1',																		--@Record_count nvarchar (128),t,
		'End'																	--@Comment NVARCHAR(4000)

 select @NewdatasetID AS NewdatasetID;

end;

GO
/****** Object:  StoredProcedure [dbo].[usp_load_EP_plan]    Script Date: 28.08.2020 13:00:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--obsolete SP
CREATE PROCEDURE [dbo].[usp_load_EP_plan]
	@LoadMonth date,
	@ScenarioName nvarchar(256) 
	
AS
BEGIN
	DECLARE @RC int;
	Declare @Input nvarchar(256) =  cast(@LoadMonth as Nvarchar)  ;
	Declare @CountM int;
	Declare @CountP int;
	Declare @Concat nvarchar(256);

	SET NOCOUNT ON;
	--Loging start
	EXECUTE @RC = [dbo].[usp_log]
  		'EXCEL',																--@Source NVARCHAR(128), 
		@Input ,																--@Params NVARCHAR(512),
		'usp_load_EP_plan',														--@Sp_name NVARCHAR(256),
		'[t_EP_Plan]',															--@Target_table NVARCHAR(256),
		'',																		--@Record_count int,
		'Start'																	--@Comment NVARCHAR(4000)

	--project 
	delete from  [dbo].[t_EP_Plan]
	where EffectiveMonthDate =@LoadMonth;

	insert into dbo.[t_EP_Plan]
	(
		[ID],
		[FullName],
		[EffectiveMonthDate],
		[EP_date],
		[Scenario_ID],
		[Grade],
		[Base],
		[Currency],
		[Addon],
		[Type_addon],
		[Variable]
	
	)
	select distinct
		EP_ID,
		m.Full_Name,
		m.EffectiveMonthDate, 
		DATEADD(month, p.[EvaluationFrequency], fn_res.LastEvalReriod) AS [EP_date],
		s.ID,
		g.Grade,
		m.Base,
		m.Currency,
		m.Addon,
		m.Type_addon,
		m.Variable
	from 
		[dbo].[t_s_report_excel] m
		left join [dbo].[t_short_grades] g
			on g.Long_Grade = m.Grade
		Left join [SP].[Person] p
			on p.Name = m.Full_Name
		left join [dbo].[t_scenario] s
			on s.ScenarioName = @ScenarioName
		cross apply [dbo].[get_ep_score](m.Full_Name) as fn_res
	where
		 EffectiveMonthDate = @LoadMonth;
	
		--Loging end
	Select 
		@CountM = count(*) 
	from 
		[dbo].[t_subgrade] 
	
	where EffectiveMonthDate =@LoadMonth;


	 Select @Concat = cast(@CountM as Nvarchar) ;

	EXECUTE @RC = [dbo].[usp_log]
  		'EXCEL',																--@Source NVARCHAR(128), 
		@Input ,																--@Params NVARCHAR(512),
		'usp_load_sub_grade',													--@Sp_name NVARCHAR(256),
		'[t_subgrade]',													--@Target_table NVARCHAR(256),
		@Concat,																--@Record_count int,
		'End'																	--Comment		
  
END

GO
/****** Object:  StoredProcedure [dbo].[usp_load_sub_grade]    Script Date: 28.08.2020 13:00:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--obsolete SP
CREATE PROCEDURE [dbo].[usp_load_sub_grade]
	@LoadMonth date
	
AS
BEGIN
	DECLARE @RC int;
	Declare @Input nvarchar(256) =  cast(@LoadMonth as Nvarchar)  ;
	Declare @CountM int;
	Declare @CountP int;
	Declare @Concat nvarchar(256);

	SET NOCOUNT ON;
	--Loging start
	EXECUTE @RC = [dbo].[usp_log]
  		'EXCEL',																--@Source NVARCHAR(128), 
		@Input ,																--@Params NVARCHAR(512),
		'usp_load_sub_grade',													--@Sp_name NVARCHAR(256),
		'[t_manager_map],[t_project_map]',										--@Target_table NVARCHAR(256),
		'',																		--@Record_count int,
		'Start'																	--@Comment NVARCHAR(4000)

	--project 
	delete from  [dbo].[t_subgrade]
	where EffectiveMonthDate =@LoadMonth;

	insert into dbo.[t_subgrade]
	(
	[EffectiveMonthDate],
	[Full_Name],
	[OverallScore],
	[AvgProductivityScore],
	[SubGrade]

	)
	select distinct
		m.EffectiveMonthDate, 
		m.Full_Name,
		fn_res.OverallScore,
		fn_res.AvgProductivityScore, 
		case 
			when  g.Grade ='Trainee' and fn_res.OverallScore =100   then 'Low_performer' --?
			when  g.Grade ='Trainee' and fn_res.OverallScore >= 100 and fn_res.OverallScore < 150   then 'Middle_performer' --?
			when  g.Grade ='Trainee' and fn_res.OverallScore > 150   then 'High_performer' --?

			when  g.Grade ='Junior' and fn_res.OverallScore = 100 and fn_res.AvgProductivityScore <= 2  then 'Low_performer'
			when  g.Grade ='Junior' and fn_res.OverallScore >= 100 and fn_res.OverallScore < 150 and  fn_res.AvgProductivityScore > 2  and fn_res.AvgProductivityScore < 4  then 'Middle_performer'
			when  g.Grade ='Junior' and fn_res.OverallScore > 150 and fn_res.AvgProductivityScore  >= 3  then 'High_performer'
			
			when  g.Grade ='Middle' and fn_res.OverallScore = 100 and fn_res.AvgProductivityScore <= 4  then 'Low_performer'
			when  g.Grade ='Middle' and fn_res.OverallScore >= 100 and fn_res.OverallScore < 150 and fn_res.AvgProductivityScore > 4 and fn_res.AvgProductivityScore  < 8  then 'Middle_performer'
			when  g.Grade ='Middle' and fn_res.OverallScore > 150 and fn_res.AvgProductivityScore >= 7  then 'High_performer'

			when  g.Grade ='Senior' and fn_res.OverallScore = 100 and fn_res.AvgProductivityScore <= 8  then 'Low_performer'
			when  g.Grade ='Senior' and fn_res.OverallScore >= 100 and fn_res.OverallScore < 150 and fn_res.AvgProductivityScore > 8 and fn_res.AvgProductivityScore  < 16  then 'Middle_performer'
			when  g.Grade ='Senior' and fn_res.OverallScore > 150 and fn_res.AvgProductivityScore >= 14  then 'High_performer'
			
			when  g.Grade ='Expert' and fn_res.OverallScore =100   then 'Low_performer' --?
			when  g.Grade ='Expert' and fn_res.OverallScore >= 100 and fn_res.OverallScore < 150   then 'Middle_performer' --?
			when  g.Grade ='Expert' and fn_res.OverallScore > 150   then 'High_performer' --?

		end as [SubGrade] 
	from 
		[dbo].[t_s_report_excel] m
		  left join [dbo].[t_short_grades] g
			on g.Long_Grade = m.Grade
		cross apply [dbo].[get_ep_score](m.Full_Name) as fn_res
	where
		 EffectiveMonthDate = @LoadMonth;

	
		--Loging end
	Select 
		@CountM = count(*) 
	from 
		[dbo].[t_subgrade] 
	
	where EffectiveMonthDate =@LoadMonth;


	 Select @Concat = cast(@CountM as Nvarchar) ;

	EXECUTE @RC = [dbo].[usp_log]
  		'EXCEL',																--@Source NVARCHAR(128), 
		@Input ,																--@Params NVARCHAR(512),
		'usp_load_sub_grade',													--@Sp_name NVARCHAR(256),
		'[t_subgrade]',													--@Target_table NVARCHAR(256),
		@Concat,																--@Record_count int,
		'End'																	--Comment		
  
END

GO
/****** Object:  StoredProcedure [dbo].[usp_log]    Script Date: 28.08.2020 13:00:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   procedure [dbo].[usp_log]
  
	@Source NVARCHAR(128), 
	@Params NVARCHAR(512),
	@Sp_name NVARCHAR(256),
	@Target_table NVARCHAR(256),
	@Record_count NVARCHAR(128),
	@Comment NVARCHAR(4000)
AS
BEGIN
	SET NOCOUNT ON;
	
		     -- Insert log record into the table
			INSERT INTO t_log (
					Source , 
					params ,
					SP_name,
					Target_table,
					Record_count,
					Comment
			)
				SELECT 
					@Source			as Source,		
					@Params			as Params,			
					@Sp_name		as Sp_name,		
					@Target_table	as Target_table,
					@Record_count	as Record_count,
					@Comment        as Comment


END;
GO
/****** Object:  StoredProcedure [dbo].[usp_PAContextCategoryLoad]    Script Date: 28.08.2020 13:00:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[usp_PAContextCategoryLoad]
AS
BEGIN

	DECLARE @DefaultString nvarchar(255) = 'merging';
	DECLARE @DefaulttinyInt tinyInt = 0;
	
	WITH Source AS (
		SELECT [Id]
			,[Value]
			,[Description]
		
		FROM [EP].[PA].[ContextCategory])
	
	MERGE INTO [PA].[ContextCategory] AS Target
	USING Source
	ON Target.Id = Source.Id
	WHEN MATCHED AND (
		 ISNULL(Target.[Value], @DefaulttinyInt) <> ISNULL(Source.[Value], @DefaulttinyInt) 
		OR ISNULL(Target.[Description], @DefaultString) <> ISNULL(Source.[Description], @DefaultString) 
		
	) THEN
		UPDATE SET
			Target.[Value] = Source.[Value],
			Target.[Description] = Source.[Description]
		
	WHEN NOT MATCHED BY TARGET THEN
		INSERT(Id, [Value],  [Description]) 
		VALUES(Id, [Value],  [Description])
	WHEN NOT MATCHED BY SOURCE THEN
	DELETE;
	--GO

	PRINT 'Import was successful from PA.[ContextCategory]'
END
GO
/****** Object:  StoredProcedure [dbo].[usp_PAContextLoad]    Script Date: 28.08.2020 13:00:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[usp_PAContextLoad]
AS
BEGIN

	DECLARE @DefaultInt INT = 0;
	DECLARE @DefaultString nvarchar(255) = 'merging';

	WITH Source AS (
		SELECT
			 
			 [Id] 
			 ,[Period] 
			 ,[Type_Id] 
			 ,[State_Id] 
			 ,[OverallScore]
			 ,[DateUpdated]
			 ,[UnderDiscussionCount] 
			 ,[ContextCategory_Id]
			 ,[Status_Id] 
	
		FROM [EP].[PA].[Context])
	
	MERGE INTO [PA].[Context] AS Target
	USING Source
	ON Target.Id = Source.Id
	WHEN MATCHED AND (
		
			 target.[Period]					<> source.[Period]
			 OR target.[Type_Id] 				<> source.[Type_Id] 				
			 OR target.[State_Id] 				<> source.[State_Id] 				
			 OR target.[OverallScore]			<> source.[OverallScore]			
			 OR target.[DateUpdated]			<> source.[DateUpdated]			
			 OR target.[UnderDiscussionCount] 	<> source.[UnderDiscussionCount] 	
			 OR target.[ContextCategory_Id]		<> source.[ContextCategory_Id]		
			 OR target.[Status_Id] 				<> source.[Status_Id] 				
		
	) THEN
		UPDATE SET
			 target.[Period]				= source.[Period],
			 target.[Type_Id] 				= source.[Type_Id] ,				
			 target.[State_Id] 				= source.[State_Id] ,				
			 target.[OverallScore]			= source.[OverallScore]	,		
			 target.[DateUpdated]			= source.[DateUpdated]	,		
			 target.[UnderDiscussionCount] 	= source.[UnderDiscussionCount], 	
			 target.[ContextCategory_Id]	= source.[ContextCategory_Id],		
			 target.[Status_Id] 			= source.[Status_Id] 
	

	WHEN NOT MATCHED BY TARGET THEN
		INSERT(Id, [Period], [Type_Id], [State_Id], [OverallScore],[DateUpdated],[UnderDiscussionCount],[ContextCategory_Id],[Status_Id]) 
		VALUES(Id, [Period], [Type_Id], [State_Id], [OverallScore], [DateUpdated],[UnderDiscussionCount],[ContextCategory_Id],[Status_Id])
	WHEN NOT MATCHED BY SOURCE THEN
	DELETE;
	--GO
	PRINT 'Import was successful from PA.[Context]'
END
GO
/****** Object:  StoredProcedure [dbo].[usp_PAContextStateLoad]    Script Date: 28.08.2020 13:00:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[usp_PAContextStateLoad]
AS
BEGIN

	DECLARE @DefaultString nvarchar(255) = 'merging';
	DECLARE @DefaulttinyInt tinyInt = 0;
	
	WITH Source AS (
		SELECT [Id]
			,[Value]
			,[Description]
		
		FROM [EP].[PA].[ContextState])
	
	MERGE INTO [PA].[ContextState] AS Target
	USING Source
	ON Target.Id = Source.Id
	WHEN MATCHED AND (
		 ISNULL(Target.[Value], @DefaulttinyInt) <> ISNULL(Source.[Value], @DefaulttinyInt) 
		OR ISNULL(Target.[Description], @DefaultString) <> ISNULL(Source.[Description], @DefaultString) 
		
	) THEN
		UPDATE SET
			Target.[Value] = Source.[Value],
			Target.[Description] = Source.[Description]
		
	WHEN NOT MATCHED BY TARGET THEN
		INSERT(Id, [Value],  [Description]) 
		VALUES(Id, [Value],  [Description])
	WHEN NOT MATCHED BY SOURCE THEN
	DELETE;
	--GO

	PRINT 'Import was successful from PA.[ContextState]'
END
GO
/****** Object:  StoredProcedure [dbo].[usp_PAEPFeedbackLoad]    Script Date: 28.08.2020 13:00:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[usp_PAEPFeedbackLoad]
AS
BEGIN

	DECLARE @DefaultInt INT = 0;
	DECLARE @DefaultString nvarchar(255) = 'merging';

	WITH Source AS (
		SELECT [Id]
			,[EP_Id]
			,[Grade_Id]
			,[Comment]
					
		FROM [EP].[PA].[EPFeedback])
	
	MERGE INTO [PA].[EPFeedback] AS Target
	USING Source
	ON Target.Id = Source.Id
	WHEN MATCHED AND (
		Target.[EP_Id] <> Source.[EP_Id]
		OR Target.[Grade_Id] <> Source.[Grade_Id]
		OR ISNULL(Target.[Comment], @DefaultString) <> ISNULL(Source.[Comment], @DefaultString)
		
	) THEN
		UPDATE SET
			Target.[EP_Id] = Source.[EP_Id],
			Target.[Grade_Id] = Source.[Grade_Id],
			Target.[Comment] = Source.[Comment]
			
	WHEN NOT MATCHED BY TARGET THEN
		INSERT(Id, [EP_Id], [Grade_Id], [Comment]) 
		VALUES(Id, [EP_Id], [Grade_Id], [Comment])
	WHEN NOT MATCHED BY SOURCE THEN
	DELETE;
	--GO
	PRINT 'Import was successful from PA.[EPFeedback]'
END
GO
/****** Object:  StoredProcedure [dbo].[usp_PAEvaluationPeerLoad]    Script Date: 28.08.2020 13:00:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[usp_PAEvaluationPeerLoad]
AS
BEGIN

	DECLARE @DefaultInt INT = 0;
	DECLARE @DefaultString nvarchar(255) = 'merging';

	WITH Source AS (
		SELECT
			 [Id] 
			,[Context_Id] 
			,[Person_Id] 
			,[Relation_Id]
			,[State_Id] 
			,[DateCreated]
			,[DateUpdated]
			,[Status_Id] 
		
		FROM [EP].[PA].[EvaluationPeer])
	
	MERGE INTO [PA].[EvaluationPeer] AS Target
	USING Source
	ON Target.Id = Source.Id
	WHEN MATCHED AND (
		   Target.[Context_Id] <> Source.[Context_Id]
		OR Target.[Person_Id] <> Source.[Person_Id]
		OR Target.[Relation_Id]<> Source.[Relation_Id]
		OR Target.[State_Id] <> Source.[State_Id]
		OR Target.[DateCreated]  <> Source.[DateCreated]
		OR Target.[DateUpdated] <> Source.[DateUpdated]
		OR Target.[Status_Id]  <> Source.[Status_Id]
		
	) THEN
		UPDATE SET
			Target.[Context_Id] = Source.[Context_Id],
			Target.[Person_Id] = Source.[Person_Id],
			Target.[Relation_Id]= Source.[Relation_Id],
			Target.[State_Id] = Source.[State_Id],
			Target.[DateCreated]  = Source.[DateCreated],
			Target.[DateUpdated] = Source.[DateUpdated],
			Target.[Status_Id]  = Source.[Status_Id]
	

	WHEN NOT MATCHED BY TARGET THEN
		INSERT(Id, [Context_Id], [Person_Id], [Relation_Id], [State_Id],[DateCreated],[DateUpdated],[Status_Id]) 
		VALUES(Id, [Context_Id], [Person_Id], [Relation_Id], [State_Id], [DateCreated],[DateUpdated],[Status_Id])
	WHEN NOT MATCHED BY SOURCE THEN
	DELETE;
	--GO
	PRINT 'Import was successful from PA.[EvaluationPeer]'
END
GO
/****** Object:  StoredProcedure [dbo].[usp_PAGradeLoad]    Script Date: 28.08.2020 13:00:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[usp_PAGradeLoad]
AS
BEGIN

	DECLARE @DefaultInt INT = 0;
	DECLARE @DefaultString nvarchar(255) = 'merging';

	WITH Source AS (
		SELECT [Id]
			,[KPI_Id]
			,[Mark_Id]
			,[Value]
			,[Description]
			,[ContextCategory_Id]
		
		FROM [EP].[PA].[Grade])
	
	MERGE INTO [PA].[Grade] AS Target
	USING Source
	ON Target.Id = Source.Id
	WHEN MATCHED AND (
		 Target.[KPI_Id] <> Source.[KPI_Id]
		OR Target.[Mark_Id] <> Source.[Mark_Id]
		OR ISNULL(Target.[Value], @DefaultInt) <> ISNULL(Source.[Value], @DefaultInt)
		OR ISNULL(Target.[Description], @DefaultString) <> ISNULL(Source.[Description], @DefaultString)
		OR Target.[ContextCategory_Id]  <> Source.[ContextCategory_Id]
		
	) THEN
		UPDATE SET
			Target.[KPI_Id] = Source.[KPI_Id],
			Target.[Mark_Id] = Source.[Mark_Id],
			Target.[Value] = Source.[Value],
			Target.[Description] = Source.[Description]
	WHEN NOT MATCHED BY TARGET THEN
		INSERT(Id, [KPI_Id], [Mark_Id], [Value], [Description],[ContextCategory_Id]) 
		VALUES(Id, [KPI_Id], [Mark_Id], [Value], [Description], [ContextCategory_Id])
	WHEN NOT MATCHED BY SOURCE THEN
	DELETE;
	--GO
	PRINT 'Import was successful from PA.[Grade]'
END
GO
/****** Object:  StoredProcedure [dbo].[usp_PAKPILoad]    Script Date: 28.08.2020 13:00:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[usp_PAKPILoad]
AS
BEGIN

	DECLARE @DefaultString nvarchar(255) = 'merging';
	
	WITH Source AS (
		SELECT [Id]
			,[Name]
			,[Type_Id] 
			,[Order]
			,[Description]
		FROM [EP].[PA].[KPI])
	
	MERGE INTO [PA].[KPI] AS Target
	USING Source
	ON Target.Id = Source.Id
	WHEN MATCHED AND (
		Target.[Name] <> Source.[Name] 
		OR Target.[Type_Id] <> Source.[Type_Id] 
		OR Target.[Order] <> Source.[Order]
		OR ISNULL(Target.[Description], @DefaultString) <> ISNULL(Source.[Description], @DefaultString) 
	
	) THEN
		UPDATE SET
			Target.[Name] = Source.[Name],
			Target.[Type_Id] = Source.[Type_Id],
			Target.[Order] = Source.[Order],
			Target.[Description] = Source.[Description]
			
	WHEN NOT MATCHED BY TARGET THEN
		INSERT(Id, [Name], [Type_Id], [Order], [Description]) 
		VALUES(Id, [Name],[Type_Id], [Order], [Description])
	WHEN NOT MATCHED BY SOURCE THEN
	DELETE;
	--GO

	PRINT 'Import was successful from PA.[KPI]'
END
GO
/****** Object:  StoredProcedure [dbo].[usp_PAKPITypeLoad]    Script Date: 28.08.2020 13:00:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[usp_PAKPITypeLoad]
AS
BEGIN

	DECLARE @DefaultString nvarchar(255) = 'merging';
	
	WITH Source AS (
		SELECT [Id]
			,[Name]
			,[Description]
		
		FROM [EP].[PA].[KPIType])
	
	MERGE INTO [PA].[KPIType] AS Target
	USING Source
	ON Target.Id = Source.Id
	WHEN MATCHED AND (
		Target.[Name] <> Source.[Name] 
		OR ISNULL(Target.[Description], @DefaultString) <> ISNULL(Source.[Description], @DefaultString) 
		
	) THEN
		UPDATE SET
			Target.[Name] = Source.[Name],
			Target.[Description] = Source.[Description]
		
	WHEN NOT MATCHED BY TARGET THEN
		INSERT(Id, [Name],  [Description]) 
		VALUES(Id, [Name],  [Description])
	WHEN NOT MATCHED BY SOURCE THEN
	DELETE;
	--GO

	PRINT 'Import was successful from PA.[KPIType]'
END
GO
/****** Object:  StoredProcedure [dbo].[usp_PAMarkLoad]    Script Date: 28.08.2020 13:00:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[usp_PAMarkLoad]
AS
BEGIN
	DECLARE @DefaultString nvarchar(255) = 'merging';


	WITH Source AS (
		SELECT
			[Id],
			[Name]
		FROM [EP].[PA].[Mark])
	
	MERGE INTO [PA].[Mark] AS Target
	USING Source
	ON Target.Id = Source.Id
	WHEN MATCHED AND (
		Target.Name <> Source.Name
		
	) THEN
		UPDATE SET
			Target.[Name] = Source.[Name]
	WHEN NOT MATCHED BY TARGET THEN
		INSERT(Id, Name) 
		VALUES(Id, Name)
	WHEN NOT MATCHED BY SOURCE THEN
	DELETE;
	--GO

	PRINT 'Import was successful from PA.[MarkLoad]'
END
GO
/****** Object:  StoredProcedure [dbo].[usp_PARelationLoad]    Script Date: 28.08.2020 13:00:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
Create PROCEDURE [dbo].[usp_PARelationLoad]
AS
BEGIN
	DECLARE @DefaultString nvarchar(255) = 'merging';
	DECLARE @DefaultTinyInt tinyint = 0;
	DECLARE @DefaultVarBinary varbinary = 0;
	DECLARE @DefaultBit bit = 1;

	WITH Source AS (
		SELECT
			[Id],
			[Name],
			[ProcessOrder],
			[Description]
		FROM [EP].[PA].[Relation])
	
	MERGE INTO [PA].[Relation] AS Target
	USING Source
	ON Target.Id = Source.Id
	WHEN MATCHED AND (
		Target.Name <> Source.Name
		OR Target.[ProcessOrder] <> Source.[ProcessOrder]
		OR ISNULL(Target.[Description], @DefaultString) <> ISNULL(Source.[Description], @DefaultString) 
	) THEN
		UPDATE SET
			Target.[Name] = Source.[Name],
			Target.[ProcessOrder] = Source.[ProcessOrder],
			Target.[Description] = Source.[Description]

	WHEN NOT MATCHED BY TARGET THEN
		INSERT(Id, Name, [ProcessOrder], [Description]) 
		VALUES(Id, Name, [ProcessOrder], [Description])
	WHEN NOT MATCHED BY SOURCE THEN
	DELETE;
	--GO

	PRINT 'Import was successful from PA.[Relation]'
END
GO
/****** Object:  StoredProcedure [dbo].[usp_PASeniorityScoreLoad]    Script Date: 28.08.2020 13:00:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[usp_PASeniorityScoreLoad]
AS
BEGIN

	DECLARE @DefaultString nvarchar(255) = 'merging';
	
	WITH Source AS (
		SELECT 
			[Seniority_Id],
			[Value]
		FROM [EP].[PA].[SeniorityScore])
	
	MERGE INTO [PA].[SeniorityScore] AS Target
	USING Source
	ON Target.Seniority_Id = Source.Seniority_Id
	WHEN MATCHED AND (
		Target.[Value] <> Source.[Value] 
	) THEN
		UPDATE SET
			Target.[Value] = Source.[Value] 
	WHEN NOT MATCHED BY TARGET THEN
		INSERT([Seniority_Id], [Value]) 
		VALUES([Seniority_Id], [Value])
	WHEN NOT MATCHED BY SOURCE THEN
	DELETE;
	--GO

	PRINT 'Import was successful from SP.[SeniorityScore]'
END
GO
/****** Object:  StoredProcedure [dbo].[usp_PersonLoad]    Script Date: 28.08.2020 13:00:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
Create PROCEDURE [dbo].[usp_PersonLoad]
AS
BEGIN

	DECLARE @EmptyGuid UNIQUEIDENTIFIER = '00000000-0000-0000-0000-000000000000';
	DECLARE @DateMax DATE = CAST('9999-12-31' AS DATE);
	DECLARE @DefaultString nvarchar(255) = 'merging';
	DECLARE @DefaultTinyInt tinyint = 0;
	DECLARE @DefaultVarBinary varbinary = 0;
	DECLARE @DefaultBit bit = 1;

	WITH Source AS (
		SELECT [Id]
			,[Name]
			,[Dummy]
			,[Location_Id]
			,[Department_Id]
			,[Seniority_Id]
			,[Occupation_Id]
			,[Specialization_Id]
			,[HourlyPayType_Id]
			,[StaffType_Id]
			,[PartnerCompany_Id]
			,[MaternityLeave]
			,[EvaluationFrequency]  
			,[State_Id]
			,[LDAPSamAccountName]
			,[LDAPDisplayName]
			,[LDAPCN]
			,[LDAPSID]
			,[LDAPEmail]
			,[Execution]
			,[ProbationDuration]
			,[LDAPPhoto]
			,[StartDate]
			,[FinishDate]
			,[RelationshipWithInfopulse_Id]
			,[RelationshipWithPartner_Id]
			,[CompensationPackage]
			,[FirstNameUa]
			,[PatronymicNameUa]
			,[LastNameUa]
			,[LastName]
			,[FirstName]
			,[Birthday]
			,[Sex]
			,[EVRYAccount]
			,[EVRYID]

		FROM [ESD].[SP].[Person])
	
	MERGE INTO [SP].[Person] AS Target
	USING Source
	ON Target.Id = Source.Id
	WHEN MATCHED AND (
		Target.Name <> Source.Name
		OR Target.[Dummy] <> Source.[Dummy]
		OR Target.[Location_Id] <> Source.[Location_Id]
		OR Target.[Department_Id] <> Source.[Department_Id]
		OR Target.[Seniority_Id] <> Source.[Seniority_Id]
		OR Target.[Occupation_Id] <> Source.[Occupation_Id]
		OR ISNULL(Target.[Specialization_Id], @EmptyGuid) <> ISNULL(Source.[Specialization_Id], @EmptyGuid)
		OR Target.[HourlyPayType_Id] <> Source.[HourlyPayType_Id]
		OR Target.[StaffType_Id] <> Source.[StaffType_Id]
		OR ISNULL(Target.[PartnerCompany_Id], @EmptyGuid) <> ISNULL(Source.[PartnerCompany_Id], @EmptyGuid)
		OR Target.[MaternityLeave] <> Source.[MaternityLeave]
		OR ISNULL(Target.[EvaluationFrequency], @DefaultTinyInt) <> ISNULL(Source.[EvaluationFrequency], @DefaultTinyInt)
		OR Target.[State_Id] <> Source.[State_Id]
		OR Target.[LDAPSamAccountName] <> Source.[LDAPSamAccountName]
		OR Target.[LDAPDisplayName] <> Source.[LDAPDisplayName]
		OR Target.[LDAPCN] <> Source.[LDAPCN]
		OR Target.[LDAPSID] <> Source.[LDAPSID]
		OR Target.[LDAPEmail] <> Source.[LDAPEmail]
		OR ISNULL(Target.[Execution], @DateMax) <> ISNULL(Source.[Execution], @DateMax)
		OR ISNULL(Target.[ProbationDuration], @DefaultTinyInt) <> ISNULL(Source.[ProbationDuration], @DefaultTinyInt)
		OR ISNULL(Target.[LDAPPhoto], @DefaultVarBinary) <> ISNULL(Source.[LDAPPhoto], @DefaultVarBinary)
		OR ISNULL(Target.[StartDate], @DateMax) <> ISNULL(Source.[StartDate], @DateMax)
		OR ISNULL(Target.[FinishDate], @DateMax) <> ISNULL(Source.[FinishDate], @DateMax)
		OR ISNULL(Target.[RelationShipWithInfopulse_Id], @EmptyGuid) <> ISNULL(Source.[RelationShipWithInfopulse_Id], @EmptyGuid)
		OR ISNULL(Target.[RelationShipWithPartner_Id], @EmptyGuid) <> ISNULL(Source.[RelationShipWithPartner_Id], @EmptyGuid)
		OR ISNULL(Target.[CompensationPackage], @DefaultBit) <> ISNULL(Source.[CompensationPackage], @DefaultBit)
		OR ISNULL(Target.[FirstNameUa], @DefaultString) <> ISNULL(Source.[FirstNameUa], @DefaultString)
		OR ISNULL(Target.[PatronymicNameUa], @DefaultString) <> ISNULL(Source.[PatronymicNameUa], @DefaultString)
		OR ISNULL(Target.[LastNameUa], @DefaultString) <> ISNULL(Source.[LastNameUa], @DefaultString)
		OR ISNULL(Target.[LastName], @DefaultString) <> ISNULL(Source.[LastName], @DefaultString)
		OR ISNULL(Target.[FirstName], @DefaultString) <> ISNULL(Source.[FirstName], @DefaultString)
		OR ISNULL(Target.[BirthDay], @DateMax) <> ISNULL(Source.[BirthDay], @DateMax)
		OR ISNULL(Target.[Sex], @DefaultString) <> ISNULL(Source.[Sex], @DefaultString)
		OR ISNULL(Target.[EVRYAccount], @DateMax) <> ISNULL(Source.[EVRYAccount], @DateMax)
		OR ISNULL(Target.[EVRYId], @DateMax) <> ISNULL(Source.[EVRYId], @DateMax)
	) THEN
		UPDATE SET
			Target.Name = Source.Name,
			Target.[Dummy] = Source.[Dummy],
			Target.[Location_Id] = Source.[Location_Id],
			Target.[Department_Id] = Source.[Department_Id],
			Target.[Seniority_Id] = Source.[Seniority_Id],
			Target.[Occupation_Id] = Source.[Occupation_Id],
			Target.[Specialization_Id] = Source.[Specialization_Id],
			Target.[HourlyPayType_Id] = Source.[HourlyPayType_Id],
			Target.[StaffType_Id] = Source.[StaffType_Id],
			Target.[PartnerCompany_Id] = Source.[PartnerCompany_Id],
			Target.[MaternityLeave] = Source.[MaternityLeave],
			Target.[EvaluationFrequency] = Source.[EvaluationFrequency],
			Target.[State_Id] = Source.[State_Id],
			Target.[LDAPSamAccountName] = Source.[LDAPSamAccountName],
			Target.[LDAPDisplayName] = Source.[LDAPDisplayName],
			Target.[LDAPCN] = Source.[LDAPCN],
			Target.[LDAPSID] = Source.[LDAPSID],
			Target.[LDAPEmail] = Source.[LDAPEmail],
			Target.[Execution] = Source.[Execution],
			Target.[ProbationDuration] = Source.[ProbationDuration],
			Target.[LDAPPhoto] = Source.[LDAPPhoto],
			Target.[StartDate] = Source.[StartDate],
			Target.[FinishDate] = Source.[FinishDate],
			Target.[RelationshipWithInfopulse_Id] = Source.[RelationshipWithInfopulse_Id],
			Target.[RelationshipWithPartner_Id] = Source.[RelationshipWithPartner_Id],
			Target.[CompensationPackage] = Source.[CompensationPackage],
			Target.[FirstNameUa] = Source.[FirstNameUa],
			Target.[PatronymicNameUa] = Source.[PatronymicNameUa],
			Target.[LastNameUa] = Source.[LastNameUa],
			Target.[LastName] = Source.[LastName],
			Target.[FirstName] = Source.[FirstName],
			Target.[Birthday] = Source.[Birthday],
			Target.[Sex] = Source.[Sex],
			Target.[EVRYAccount] = Source.[EVRYAccount],
			Target.[EVRYID] = Source.[EVRYID]
	WHEN NOT MATCHED BY TARGET THEN
		INSERT(Id, Name, [Dummy], [Location_Id], [Department_Id], [Seniority_Id], [Occupation_Id], [Specialization_Id], [HourlyPayType_Id], [StaffType_Id], [PartnerCompany_Id], [MaternityLeave], [EvaluationFrequency], [State_Id], [LDAPSamAccountName], [LDAPDisplayName], [LDAPCN], [LDAPSID], [LDAPEmail], [Execution], [ProbationDuration], [LDAPPhoto], [StartDate], [FinishDate], [RelationshipWithInfopulse_Id], [RelationshipWithPartner_Id], [CompensationPackage], [FirstNameUa], [PatronymicNameUa], [LastNameUa], [LastName], [FirstName], [Birthday], [Sex], [EVRYAccount], [EVRYID]) 
		VALUES(Id, Name, [Dummy], [Location_Id], [Department_Id], [Seniority_Id], [Occupation_Id], [Specialization_Id], [HourlyPayType_Id], [StaffType_Id], [PartnerCompany_Id], [MaternityLeave], [EvaluationFrequency], [State_Id], [LDAPSamAccountName], [LDAPDisplayName], [LDAPCN], [LDAPSID], [LDAPEmail], [Execution], [ProbationDuration], [LDAPPhoto], [StartDate], [FinishDate], [RelationshipWithInfopulse_Id], [RelationshipWithPartner_Id], [CompensationPackage], [FirstNameUa], [PatronymicNameUa], [LastNameUa], [LastName], [FirstName], [Birthday], [Sex], [EVRYAccount], [EVRYID])
	WHEN NOT MATCHED BY SOURCE THEN
	DELETE;
	--GO

	PRINT 'Import was successful from SP.[Person]'
END
GO
/****** Object:  StoredProcedure [dbo].[usp_PostExcelImport]    Script Date: 28.08.2020 13:00:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[usp_PostExcelImport]
	-- Add the parameters for the stored procedure here

	@LoadMonth date, --
	@PriorLoadMonth date
AS
BEGIN
	DECLARE @RC int;
	Declare @Input nvarchar(256) =  cast(@LoadMonth as Nvarchar) +','+ Cast(@PriorLoadMonth as Nvarchar) ;
	Declare @Count nvarchar(128);
	SET NOCOUNT ON;
	--Loging start
	EXECUTE @RC = [dbo].[usp_log]
  		'EXCEL',																--@Source NVARCHAR(128), 
		@Input ,																--@Params NVARCHAR(512),
		'usp_PostExcelImport',													--@Sp_name NVARCHAR(256),
		't_s_report_excel',														--@Target_table NVARCHAR(256),
		'',																		--@Record_count nvarchar (128),t,
		'Start'																	--@Comment NVARCHAR(4000)

	
	--remove previous data for this month if exists

	Delete from  [dbo].[t_s_report_excel] 
	where [EffectiveMonthDate]= @LoadMonth;

    -- Insert statements for procedure here
	update [dbo].[t_s_report_excel] 
		set [EffectiveMonthDate]= @LoadMonth --'2020-02-01' 
	where 
		[EffectiveMonthDate] is null

	update [dbo].[t_subgrade] 
		set [EffectiveMonthDate]= @LoadMonth --'2020-02-01' 
	where [EffectiveMonthDate] is null
	--
	delete  
	from 
		[dbo].[t_s_report_excel] 
	where 
		grade like '%manager%' 
		or grade like '%administrator%' 
		or grade like '%executive%'
	--
	delete  
	from 
		[dbo].[t_s_report_excel] 
	where 
		currency = 'UAH'
	--
	delete 
	from 
		[dbo].[t_subgrade] 
	where SubGrade is null

	delete 
	from 
		[dbo].[t_s_report_excel] 
	where 
		TotalMoney < 100
	--
	update [dbo].[t_s_report_excel] 
		set Project = REPLACE(Project, 'Deloitte-Administrative;','') 
	where 
		Project <> 'Deloitte-Administrative'
	--
	update [dbo].[t_s_report_excel] 
		set Project = REPLACE(Project, ';Deloitte-Administrative','') 
	where Project <> 'Deloitte-Administrative'
	--
	update [dbo].[t_s_report_excel] 
		set Project = REPLACE(Project, 'Deloitte-NCA;','') 
	where 
		Project <> 'Deloitte-NCA'
	--
	update [dbo].[t_s_report_excel] 
		set Project = REPLACE(Project, ';Deloitte-NCA','') 
	where 
		Project <> 'Deloitte-NCA'
	
	update [dbo].[t_s_report_excel] 
		set Project = REPLACE(Project, 'Corporate Development-Administrative;','') 
	where 
		Project <> 'Corporate Development-Administrative'
	--
	update [dbo].[t_s_report_excel] 
		set Project = REPLACE(Project, ';Corporate Development-Administrative','') 
	where 
		Project <> 'Corporate Development-Administrative'

	-- call normalization SP for current @@LoadMonth

	EXECUTE  @RC = dbo.[usp_s_excell_report_normalization]
	  @LoadMonth,@LoadMonth;
	
-- call sub_grade calculation  for current @@LoadMonth
	EXECUTE [dbo].[usp_load_sub_grade]
	@LoadMonth ;  

	-- select changed grade persons
	select 
		* 
	from 
		[dbo].[t_s_report_excel] t1
		left join [dbo].[t_s_report_excel] t2 
			on t1.EffectiveMonthDate = @LoadMonth --'2019-07-01' 
			and t2.EffectiveMonthDate = @PriorLoadMonth --'2019-06-01' 
			and t1.Full_Name = t2.Full_Name
	where 
		t1.Grade <> t2.Grade or t1.Grade is null
		and t1.EffectiveMonthDate =  @LoadMonth --'2019-07-01'
		and t2.EffectiveMonthDate = @PriorLoadMonth --'2019-06-01'

	
	Select @Count = cast(count(*) as nvarchar) from [dbo].[t_s_report_excel] where EffectiveMonthDate = @LoadMonth ; 
	--Loging end
	EXECUTE @RC = [dbo].[usp_log]
  		'EXCEL',																--@Source NVARCHAR(128), 
		@Input ,																--@Params NVARCHAR(512),
		'usp_PostExcelImport',													--@Sp_name NVARCHAR(256),
		't_s_report_excel',														--@Target_table NVARCHAR(256),
		@Count,																	--@Record_count nvarchar (128),
		'End'																	--@Comment NVARCHAR(4000)

END

GO
/****** Object:  StoredProcedure [dbo].[usp_report_DetailedReport]    Script Date: 28.08.2020 13:00:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[usp_report_DetailedReport]
	-- Add the parameters for the stored procedure here
	 @Month date
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	select
re.Full_Name,
sg.Short_Grade,
sg.Grade,
sg.Specialization,
sg.Grade_Type,
re.Group_Leader,
re.Location_Short as [Location],
re.Project,
TotalMoney as TotalMoney,
Base,
Addon,
Variable
  FROM [EPAS].[dbo].[t_s_report_excel] re
  left join [EPAS].[dbo].[t_short_grades] sg on re.Grade = sg.Long_Grade
where 
	 re.EffectiveMonthDate = @Month


END
GO
/****** Object:  StoredProcedure [dbo].[usp_report_Statistics_ByLocation]    Script Date: 28.08.2020 13:00:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[usp_report_Statistics_ByLocation]
	-- Add the parameters for the stored procedure here
	@Month1 date,
	@Month2 date
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;


select
	re.EffectiveMonthDate,
	sg.Short_Grade,
	sg.Specialization,
	sg.Grade,
	sg.Grade_Type,
	re.Group_Leader,
	re.Full_Name,
	re.Location_Short,
	TotalMoney as Compensation
FROM [EPAS].[dbo].[t_s_report_excel] re
  left join [EPAS].[dbo].[t_short_grades] sg 
	on re.Grade = sg.Long_Grade
where 
	re.EffectiveMonthDate>=@Month1
	and re.EffectiveMonthDate<=@Month2

END
GO
/****** Object:  StoredProcedure [dbo].[usp_s_excell_report_normalization]    Script Date: 28.08.2020 13:00:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--obsolete SP
CREATE PROCEDURE [dbo].[usp_s_excell_report_normalization]
	@LoadMonthStart date,
	@LoadMonthEnd date
	
AS
BEGIN
	DECLARE @RC int;
	Declare @Input nvarchar(256) =  cast(@LoadMonthStart as Nvarchar) +','+ Cast(@LoadMonthEnd as Nvarchar) ;
	Declare @CountM int;
	Declare @CountP int;
	Declare @Concat nvarchar(256);

	SET NOCOUNT ON;
	--Loging start
	EXECUTE @RC = [dbo].[usp_log]
  		'EXCEL',																--@Source NVARCHAR(128), 
		@Input ,																--@Params NVARCHAR(512),
		'usp_s_excell_report_normalization',									--@Sp_name NVARCHAR(256),
		'[t_manager_map],[t_project_map]',										--@Target_table NVARCHAR(256),
		'',																		--@Record_count int,
		'Start'																	--@Comment NVARCHAR(4000)

	--project 
	delete from [dbo].[t_project_map]
	where EffectiveMonthDate between @LoadMonthStart and @LoadMonthEnd;

	insert into [t_project_map]
	(
	[EffectiveMonthDate],
	[Full_Name],
	[Project]
	)
	select 
		EffectiveMonthDate, 
		Full_Name,
		Value as Project  
	from 
		[dbo].[t_s_report_excel] m
		CROSS APPLY STRING_SPLIT(m.Project, ';')
	where
		 EffectiveMonthDate between @LoadMonthStart and @LoadMonthEnd;

	--manager 
	delete from [dbo].[t_manager_map]
	where
		EffectiveMonthDate between @LoadMonthStart and @LoadMonthEnd;

	insert into [t_manager_map]
	(
		[EffectiveMonthDate],
		[Full_Name],
		[Direct_Manager]
	)
	select 
		EffectiveMonthDate, 
		Full_Name,
		Value as Direct_Manager  
	from 
		[dbo].[t_s_report_excel] m
		CROSS APPLY STRING_SPLIT(m.Direct_Manager, ';')
	where
		 EffectiveMonthDate between @LoadMonthStart and @LoadMonthEnd;

		--Loging end
	Select 
		@CountM = count(*) 
	from 
		[dbo].[t_manager_map] 
	where 
		EffectiveMonthDate between @LoadMonthStart and @LoadMonthEnd;

	Select 
		@CountP = count(*) 
	from 
		[dbo].[t_Project_map] 
	where 
		EffectiveMonthDate between @LoadMonthStart and @LoadMonthEnd;

	 Select @Concat = cast(@CountM as Nvarchar) +','+ Cast(@CountP as Nvarchar);

	EXECUTE @RC = [dbo].[usp_log]
  		'EXCEL',																--@Source NVARCHAR(128), 
		@Input ,																--@Params NVARCHAR(512),
		'usp_s_excell_report_normalization',									--@Sp_name NVARCHAR(256),
		'[t_manager_map],[t_project_map]',										--@Target_table NVARCHAR(256),
		@Concat,																--@Record_count int,
		'End'																	--Comment		
  
END

GO
/****** Object:  StoredProcedure [dbo].[usp_SPPersonLoad]    Script Date: 28.08.2020 13:00:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[usp_SPPersonLoad]
AS
BEGIN

	DECLARE @EmptyGuid UNIQUEIDENTIFIER = '00000000-0000-0000-0000-000000000000';
	DECLARE @DateMax DATE = CAST('9999-12-31' AS DATE);
	DECLARE @DefaultString nvarchar(255) = 'merging';
	DECLARE @DefaultTinyInt tinyint = 0;
	DECLARE @DefaultVarBinary varbinary = 0;
	DECLARE @DefaultBit bit = 1;

	WITH Source AS (
		SELECT [Id]
			,[Name]
			,[Dummy]
			,[Location_Id]
			,[Department_Id]
			,[Seniority_Id]
			,[Occupation_Id]
			,[Specialization_Id]
			,[HourlyPayType_Id]
			,[StaffType_Id]
			,[PartnerCompany_Id]
			,[MaternityLeave]
			,[EvaluationFrequency]  
			,[State_Id]
			,[LDAPSamAccountName]
			,[LDAPDisplayName]
			,[LDAPCN]
			,[LDAPSID]
			,[LDAPEmail]
			,[Execution]
			,[ProbationDuration]
			,[LDAPPhoto]
			,[StartDate]
			,[FinishDate]
			,[RelationshipWithInfopulse_Id]
			,[RelationshipWithPartner_Id]
			,[CompensationPackage]
			,[FirstNameUa]
			,[PatronymicNameUa]
			,[LastNameUa]
			,[LastName]
			,[FirstName]
			,[Birthday]
			,[Sex]
			,[EVRYAccount]
			,[EVRYID]

		FROM [ESD].[SP].[Person])
	
	MERGE INTO [SP].[Person] AS Target
	USING Source
	ON Target.Id = Source.Id
	WHEN MATCHED AND (
		Target.Name <> Source.Name
		OR Target.[Dummy] <> Source.[Dummy]
		OR Target.[Location_Id] <> Source.[Location_Id]
		OR Target.[Department_Id] <> Source.[Department_Id]
		OR Target.[Seniority_Id] <> Source.[Seniority_Id]
		OR Target.[Occupation_Id] <> Source.[Occupation_Id]
		OR ISNULL(Target.[Specialization_Id], @EmptyGuid) <> ISNULL(Source.[Specialization_Id], @EmptyGuid)
		OR Target.[HourlyPayType_Id] <> Source.[HourlyPayType_Id]
		OR Target.[StaffType_Id] <> Source.[StaffType_Id]
		OR ISNULL(Target.[PartnerCompany_Id], @EmptyGuid) <> ISNULL(Source.[PartnerCompany_Id], @EmptyGuid)
		OR Target.[MaternityLeave] <> Source.[MaternityLeave]
		OR ISNULL(Target.[EvaluationFrequency], @DefaultTinyInt) <> ISNULL(Source.[EvaluationFrequency], @DefaultTinyInt)
		OR Target.[State_Id] <> Source.[State_Id]
		OR Target.[LDAPSamAccountName] <> Source.[LDAPSamAccountName]
		OR Target.[LDAPDisplayName] <> Source.[LDAPDisplayName]
		OR Target.[LDAPCN] <> Source.[LDAPCN]
		OR Target.[LDAPSID] <> Source.[LDAPSID]
		OR Target.[LDAPEmail] <> Source.[LDAPEmail]
		OR ISNULL(Target.[Execution], @DateMax) <> ISNULL(Source.[Execution], @DateMax)
		OR ISNULL(Target.[ProbationDuration], @DefaultTinyInt) <> ISNULL(Source.[ProbationDuration], @DefaultTinyInt)
		OR ISNULL(Target.[LDAPPhoto], @DefaultVarBinary) <> ISNULL(Source.[LDAPPhoto], @DefaultVarBinary)
		OR ISNULL(Target.[StartDate], @DateMax) <> ISNULL(Source.[StartDate], @DateMax)
		OR ISNULL(Target.[FinishDate], @DateMax) <> ISNULL(Source.[FinishDate], @DateMax)
		OR ISNULL(Target.[RelationShipWithInfopulse_Id], @EmptyGuid) <> ISNULL(Source.[RelationShipWithInfopulse_Id], @EmptyGuid)
		OR ISNULL(Target.[RelationShipWithPartner_Id], @EmptyGuid) <> ISNULL(Source.[RelationShipWithPartner_Id], @EmptyGuid)
		OR ISNULL(Target.[CompensationPackage], @DefaultBit) <> ISNULL(Source.[CompensationPackage], @DefaultBit)
		OR ISNULL(Target.[FirstNameUa], @DefaultString) <> ISNULL(Source.[FirstNameUa], @DefaultString)
		OR ISNULL(Target.[PatronymicNameUa], @DefaultString) <> ISNULL(Source.[PatronymicNameUa], @DefaultString)
		OR ISNULL(Target.[LastNameUa], @DefaultString) <> ISNULL(Source.[LastNameUa], @DefaultString)
		OR ISNULL(Target.[LastName], @DefaultString) <> ISNULL(Source.[LastName], @DefaultString)
		OR ISNULL(Target.[FirstName], @DefaultString) <> ISNULL(Source.[FirstName], @DefaultString)
		OR ISNULL(Target.[BirthDay], @DateMax) <> ISNULL(Source.[BirthDay], @DateMax)
		OR ISNULL(Target.[Sex], @DefaultString) <> ISNULL(Source.[Sex], @DefaultString)
		OR ISNULL(Target.[EVRYAccount], @DateMax) <> ISNULL(Source.[EVRYAccount], @DateMax)
		OR ISNULL(Target.[EVRYId], @DateMax) <> ISNULL(Source.[EVRYId], @DateMax)
	) THEN
		UPDATE SET
			Target.Name = Source.Name,
			Target.[Dummy] = Source.[Dummy],
			Target.[Location_Id] = Source.[Location_Id],
			Target.[Department_Id] = Source.[Department_Id],
			Target.[Seniority_Id] = Source.[Seniority_Id],
			Target.[Occupation_Id] = Source.[Occupation_Id],
			Target.[Specialization_Id] = Source.[Specialization_Id],
			Target.[HourlyPayType_Id] = Source.[HourlyPayType_Id],
			Target.[StaffType_Id] = Source.[StaffType_Id],
			Target.[PartnerCompany_Id] = Source.[PartnerCompany_Id],
			Target.[MaternityLeave] = Source.[MaternityLeave],
			Target.[EvaluationFrequency] = Source.[EvaluationFrequency],
			Target.[State_Id] = Source.[State_Id],
			Target.[LDAPSamAccountName] = Source.[LDAPSamAccountName],
			Target.[LDAPDisplayName] = Source.[LDAPDisplayName],
			Target.[LDAPCN] = Source.[LDAPCN],
			Target.[LDAPSID] = Source.[LDAPSID],
			Target.[LDAPEmail] = Source.[LDAPEmail],
			Target.[Execution] = Source.[Execution],
			Target.[ProbationDuration] = Source.[ProbationDuration],
			Target.[LDAPPhoto] = Source.[LDAPPhoto],
			Target.[StartDate] = Source.[StartDate],
			Target.[FinishDate] = Source.[FinishDate],
			Target.[RelationshipWithInfopulse_Id] = Source.[RelationshipWithInfopulse_Id],
			Target.[RelationshipWithPartner_Id] = Source.[RelationshipWithPartner_Id],
			Target.[CompensationPackage] = Source.[CompensationPackage],
			Target.[FirstNameUa] = Source.[FirstNameUa],
			Target.[PatronymicNameUa] = Source.[PatronymicNameUa],
			Target.[LastNameUa] = Source.[LastNameUa],
			Target.[LastName] = Source.[LastName],
			Target.[FirstName] = Source.[FirstName],
			Target.[Birthday] = Source.[Birthday],
			Target.[Sex] = Source.[Sex],
			Target.[EVRYAccount] = Source.[EVRYAccount],
			Target.[EVRYID] = Source.[EVRYID]
	WHEN NOT MATCHED BY TARGET THEN
		INSERT(Id, Name, [Dummy], [Location_Id], [Department_Id], [Seniority_Id], [Occupation_Id], [Specialization_Id], [HourlyPayType_Id], [StaffType_Id], [PartnerCompany_Id], [MaternityLeave], [EvaluationFrequency], [State_Id], [LDAPSamAccountName], [LDAPDisplayName], [LDAPCN], [LDAPSID], [LDAPEmail], [Execution], [ProbationDuration], [LDAPPhoto], [StartDate], [FinishDate], [RelationshipWithInfopulse_Id], [RelationshipWithPartner_Id], [CompensationPackage], [FirstNameUa], [PatronymicNameUa], [LastNameUa], [LastName], [FirstName], [Birthday], [Sex], [EVRYAccount], [EVRYID]) 
		VALUES(Id, Name, [Dummy], [Location_Id], [Department_Id], [Seniority_Id], [Occupation_Id], [Specialization_Id], [HourlyPayType_Id], [StaffType_Id], [PartnerCompany_Id], [MaternityLeave], [EvaluationFrequency], [State_Id], [LDAPSamAccountName], [LDAPDisplayName], [LDAPCN], [LDAPSID], [LDAPEmail], [Execution], [ProbationDuration], [LDAPPhoto], [StartDate], [FinishDate], [RelationshipWithInfopulse_Id], [RelationshipWithPartner_Id], [CompensationPackage], [FirstNameUa], [PatronymicNameUa], [LastNameUa], [LastName], [FirstName], [Birthday], [Sex], [EVRYAccount], [EVRYID])
	WHEN NOT MATCHED BY SOURCE THEN
	DELETE;
	--GO

	PRINT 'Import was successful from SP.[Person]'
END
GO
/****** Object:  StoredProcedure [dbo].[usp_SPSeniorityLoad]    Script Date: 28.08.2020 13:00:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[usp_SPSeniorityLoad]
AS
BEGIN

	DECLARE @DefaultString nvarchar(255) = 'merging';
	
	WITH Source AS (
		SELECT [Id]
			,[Name]
			,[Order]
			,[Description]
			,[State_Id]

		FROM [EP].[SP].[Seniority])
	
	MERGE INTO [SP].[Seniority] AS Target
	USING Source
	ON Target.Id = Source.Id
	WHEN MATCHED AND (
		Target.[Name] <> Source.[Name] 
		OR Target.[Order] <> Source.[Order]
		OR ISNULL(Target.[Description], @DefaultString) <> ISNULL(Source.[Description], @DefaultString) 
		OR Target.[State_Id] <> Source.[State_Id]
	) THEN
		UPDATE SET
			Target.[Name] = Source.[Name],
			Target.[Order] = Source.[Order],
			Target.[Description] = Source.[Description],
			Target.[State_Id] = Source.[State_Id]
	WHEN NOT MATCHED BY TARGET THEN
		INSERT(Id, [Name], [Order], [Description], [State_Id]) 
		VALUES(Id, [Name], [Order], [Description], [State_Id])
	WHEN NOT MATCHED BY SOURCE THEN
	DELETE;
	--GO

	PRINT 'Import was successful from SP.[Seniority]'
END
GO
/****** Object:  StoredProcedure [dbo].[usp_SPStateLoad]    Script Date: 28.08.2020 13:00:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[usp_SPStateLoad]
AS
BEGIN

	DECLARE @DefaultString nvarchar(255) = 'merging';

	WITH Source AS (
		SELECT [Id]
			,[Value]
			,[Description]

		FROM [EP].[SP].[State])
	
	MERGE INTO [SP].[State] AS Target
	USING Source
	ON Target.Id = Source.Id
	WHEN MATCHED AND (
		Target.[Value] <> Source.[Value]
		OR ISNULL(Target.[Description], '') <> ISNULL(Source.[Description], '') 
	) THEN
		UPDATE SET
			Target.[Value] = Source.[Value],
			Target.[Description] = Source.[Description]
	WHEN NOT MATCHED BY TARGET THEN
		INSERT(Id, [Value], [Description]) 
		VALUES(Id, [Value], [Description])
	WHEN NOT MATCHED BY SOURCE THEN
	DELETE;
	--GO

	PRINT 'Import was successful from SP.[State]'
END
GO
/****** Object:  StoredProcedure [dbo].[usp_val_ExcelImport]    Script Date: 28.08.2020 13:00:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================

CREATE PROCEDURE [dbo].[usp_val_ExcelImport]


	@dataset_ID uniqueidentifier
AS
BEGIN
	DECLARE @RC int;
	Declare @Input nvarchar(256) =  cast(@dataset_ID as Nvarchar(256)) ;
	Declare @DateErrorCount integer;
	Declare @BaseErrorCount integer;
	Declare @VarAddonErrorCount integer;
	Declare @Count nvarchar(128);
	
	SET NOCOUNT ON;
	SET DATEFORMAT dmy;

	--Loging start
	EXECUTE @RC = [dbo].[usp_log]
  		'EXCEL',																--@Source NVARCHAR(128), 
		@Input ,																--@Params NVARCHAR(512),
		'usp_val_ExcelImport',													--@Sp_name NVARCHAR(256),
		't_s_report_excel',														--@Target_table NVARCHAR(256),
		'',																		--@Record_count nvarchar (128),t,
		'Start'																	--@Comment NVARCHAR(4000)

	
	Create table #Checkdataset 
	
	(
	[Full_Name_UA] [nvarchar](255) NULL,
	[Full_Name] [nvarchar](255) NULL,
	[Relationship_IP] [nvarchar](255) NULL,
	[Relationship_Partner] [nvarchar](255) NULL,
	[Partner_Company] [nvarchar](255) NULL,
	[Department] [nvarchar](255) NULL,
	[Group_Leader] [nvarchar](255) NULL,
	[Project] [nvarchar](255) NULL,
	[Direct_Manager] [nvarchar](255) NULL,
	[Hourly_Pay_Type] [nvarchar](255) NULL,
	[Grade] [nvarchar](255) NULL,
	[Maternity_Leave] [nvarchar](255) NULL,
	[Compensation_Package_Group] [nvarchar](255) NULL,
	[Location] [nvarchar](255) NULL,
	[Staff_Type] [nvarchar](255) NULL,
	[Start_Date] [nvarchar](255) NULL,
	[Base] [nvarchar](255) NULL,
	[Currency] [nvarchar](255) NOT NULL,
	[Addon] [nvarchar](255) NULL,
	[Type_addon] [nvarchar](255) NULL,
	[Variable] [nvarchar](255) NULL,
	[DatasetID] [uniqueidentifier] NOT NULL
	);

	--remove previous data for this month if exists
	Insert Into #Checkdataset  
		(
		DatasetID,
		Full_Name_UA, 				
		Full_Name, 					
		Relationship_IP, 			
		Relationship_Partner, 		
		Partner_Company, 			
		Department, 				
		Group_Leader, 				
		Project, 					
		Direct_Manager, 			
		Hourly_Pay_Type, 			
		Grade, 						
		Maternity_Leave,			
		Compensation_Package_Group, 
		Location, 					
		Staff_Type, 				
		Start_Date, 				
		Base, 						
		Currency, 					
		Addon, 						
		Type_addon, 				
		Variable
		)

	Select 
		DatasetID,
		Full_Name_UA, 				
		Full_Name, 					
		Relationship_IP, 			
		Relationship_Partner, 		
		Partner_Company, 			
		Department, 				
		Group_Leader, 				
		Project, 					
		Direct_Manager, 			
		Hourly_Pay_Type, 			
		Grade, 						
		Maternity_Leave,			
		Compensation_Package_Group, 
		Location, 					
		Staff_Type, 				
		Start_Date, 				
		Base, 						
		Currency, 					
		Addon, 						
		Type_addon, 				
		Variable
	from 
		[dbo].[stg_t_s_report_excel]
	where 
		DatasetID = @dataset_ID
		and Status_id = 0;
	
	
	--validation Start date

	Select	
		@DateErrorCount =count(*) 
	from 
		#Checkdataset
	where 
		ISDATE(Start_Date) = 0;

	--validation Base

	Select	
		@BaseErrorCount =count(*) 
	from 
		[dbo].[stg_t_s_report_excel]
	where 
		ISNUMERIC(Base) = 0
		OR Base <=0 
		
	
	--validation Addon /variable

	Select	
		@VarAddonErrorCount =count(*) 
	from 
		#Checkdataset
	where 
		ISNUMERIC(Addon) = 0 
		or  ISNUMERIC(Variable) = 0
		or Addon < 0
		or Variable < 0
		;
	
	

	If (@DateErrorCount > 0 ) or (@BaseErrorCount > 0 ) or (@VarAddonErrorCount>0)
		
		begin

			Insert into [dbo].[t_Excell_load_errors] --error table
					(
					DatasetID,
					Full_Name_UA, 				
					Full_Name, 					
					Relationship_IP, 			
					Relationship_Partner, 		
					Partner_Company, 			
					Department, 				
					Group_Leader, 				
					Project, 					
					Direct_Manager, 			
					Hourly_Pay_Type, 			
					Grade, 						
					Maternity_Leave,			
					Compensation_Package_Group, 
					Location, 					
					Staff_Type, 				
					Start_Date, 				
					Base, 						
					Currency, 					
					Addon, 						
					Type_addon, 				
					Variable
					)
				Select 
					DatasetID,
					Full_Name_UA, 				
					Full_Name, 					
					Relationship_IP, 			
					Relationship_Partner, 		
					Partner_Company, 			
					Department, 				
					Group_Leader, 				
					Project, 					
					Direct_Manager, 			
					Hourly_Pay_Type, 			
					Grade, 						
					Maternity_Leave,			
					Compensation_Package_Group, 
					Location, 					
					Staff_Type, 				
					Start_Date, 				
					Base, 						
					Currency, 					
					Addon, 						
					Type_addon, 				
					Variable
				from
					#Checkdataset  
				where
					ISDATE(Start_Date) = 0
					or ISNUMERIC(Base) = 0
					or ISNUMERIC(Addon) = 0
					or ISNUMERIC(Variable) = 0
					or Addon < 0
					or Variable < 0
					or Base <=0 
					;

				Update [dbo].[stg_t_s_report_excel]
					SET Status_id = 2 --error
				where	
					DatasetID = @dataset_ID
					AND Status_id = 0; --not checked
		end
	else 

	-- if all ok - data will be updated to 1
		
		begin
			
		Update [dbo].[stg_t_s_report_excel]
			SET Status_id = 1 --validated
		where	
			DatasetID = @dataset_ID
			AND Status_id = 0; --not checked

			Insert into [dbo].[t_s_report_excel]
				(
				Full_Name_UA, 				
				Full_Name, 					
				Relationship_IP, 			
				Relationship_Partner, 		
				Partner_Company, 			
				Department, 				
				Group_Leader, 				
				Project, 					
				Direct_Manager, 			
				Hourly_Pay_Type, 			
				Grade, 						
				Maternity_Leave,			
				Compensation_Package_Group, 
				Location, 					
				Staff_Type, 				
				Start_Date, 				
				Base, 						
				Currency, 					
				Addon, 						
				Type_addon, 				
				Variable 					
		
				)
			Select	
				isnull(Full_Name_UA,''), 				
				isnull(Full_Name,'') , 					
				isnull(Relationship_IP,''), 			
				isnull(Relationship_Partner,''), 		
				isnull(Partner_Company,''), 			
				isnull(Department,''), 				
				isnull(Group_Leader,''), 				
				isnull(Project,''), 					
				isnull(Direct_Manager,''), 			
				isnull(Hourly_Pay_Type,''), 			
				isnull(Grade,''), 						
				isnull(Maternity_Leave,''),			
				isnull(Compensation_Package_Group,''), 
				isnull(Location,''), 					
				isnull(Staff_Type,''), 				
				cast(Start_Date as date), 				
				cast(Base as money), 						
				isnull(Currency,''), 					
				cast(isnull(Addon,0) as money),						
				isnull(Type_addon,''), 				
				cast(isnull(Variable,0) as money)
			from 
				[dbo].[stg_t_s_report_excel]
			WHERE 
				DatasetID = @dataset_ID
				AND Status_id = 1;--just loaded
		end
	
	
	
	--Loging end
	Select @Count = cast(count(*) as nvarchar) from [dbo].[t_s_report_excel] where EffectiveMonthDate is null ; 
	EXECUTE @RC = [dbo].[usp_log]
  		'EXCEL',																--@Source NVARCHAR(128), 
		@Input ,																--@Params NVARCHAR(512),
		'usp_PostExcelImport',													--@Sp_name NVARCHAR(256),
		't_s_report_excel',														--@Target_table NVARCHAR(256),
		@Count,																	--@Record_count nvarchar (128),
		'End'																	--@Comment NVARCHAR(4000)

	If(OBJECT_ID('tempdb..#Checkdataset') Is Not Null)
	Begin
		Drop Table #Checkdataset
	End;
	-- show error names list as Output for reject file 
	Select 
		Full_name 
	from 
		t_Excell_load_errors
	where 
		DatasetID = @dataset_ID;
	

END

GO
/****** Object:  StoredProcedure [dbo].[usp_val_rateImport]    Script Date: 28.08.2020 13:00:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================

CREATE PROCEDURE [dbo].[usp_val_rateImport]


	@dataset_ID uniqueidentifier
AS
BEGIN
	DECLARE @RC int;
	Declare @Input nvarchar(256) =  cast(@dataset_ID as Nvarchar(256)) ;
	Declare @StartDateErrorCount integer;
	Declare @EndDateErrorCount integer;
	Declare @RoleErrorCount integer;
	Declare @VarAddonErrorCount integer;
	Declare @Count nvarchar(128);
	
	SET NOCOUNT ON;
	SET DATEFORMAT dmy;

	--Loging start
	EXECUTE @RC = [dbo].[usp_log]
  		'EXCEL',																--@Source NVARCHAR(128), 
		@Input ,																--@Params NVARCHAR(512),
		'usp_val_rateImport',													--@Sp_name NVARCHAR(256),
		't_rates',																--@Target_table NVARCHAR(256),
		'',																		--@Record_count nvarchar (128),t,
		'Start'																	--@Comment NVARCHAR(4000)

	
	--remove previous data if exists
	Delete from [dbo].[t_rates]
		;
	
	select 
		* Into #checkdataset  
	from 
		[dbo].[stg_t_rates]
	where 
		DatasetID = @dataset_ID
		and Status_id = 0;
	
	
	--validation Start date

	Select	
		@StartDateErrorCount =count(*) 
	from 
		#checkdataset
	where 
		ISDATE(Start_Date) = 0;
	
	Select	
		@EndDateErrorCount =count(*) 
	from 
		#checkdataset
	where 
		ISDATE(Start_Date) = 0;


	--validation Short_Role

	Select	
		@RoleErrorCount =count(*) 
	from 
		#checkdataset
	where 
		isnull(Short_Role,'') = '';
	
	
	--validation Start date

	Select	
		@StartDateErrorCount =count(*) 
	from 
		#checkdataset
	group by [Short_Role],[Start_date] 
	having count(*) > 1

	If (@StartDateErrorCount > 0 ) or (@RoleErrorCount>0)
		begin

			
		Insert INTO [dbo].t_rates_load_errors --error table
				(
				[Role],
				[Short_Role],
				[Hr_Rate],
				[Start_date],
				DatasetID
				)
			Select 
				[Role],
				[Short_Role],
				[Hr_Rate],
				[Start_date],
				DatasetID
				
			from
				#checkdataset  
			where
				ISDATE(Start_Date) = 0
				or isnull(Short_Role,'') = '' 
				or  [Short_Role] in 
									(
									Select	
										Short_Role
									from 
										#checkdataset
									group by [Short_Role],[Start_date] 
									having count(*) > 1
									)
				

			Update [dbo].[stg_t_rates]
				SET Status_id = 2 --error
			where	
				DatasetID = @dataset_ID
				AND Status_id = 0; --not checked
		end
	else 

	-- if all ok - data will be updated to 1
		
		begin
				Update [dbo].[stg_t_rates]
					SET Status_id = 1 --validated
				where	
					DatasetID = @dataset_ID
					AND Status_id = 0; --not checked
		
			Insert into [dbo].[t_rates]
				(
				[Role],
				[Short_Role],
				[Hr_Rate],
				[Start_date],
				[End_date]
				)
			Select	
				isnull(Role,''), 				
				isnull(Short_Role,'') , 					
				cast(Hr_Rate as money), 						
				cast(Start_Date as date), 
				cast (End_date as date)   --the record is active till the next rate comes
			from 
				[dbo].[stg_t_rates]
			WHERE 
				DatasetID = @dataset_ID
				AND Status_id = 1;--just loaded
		end




	--Loging end
	Select @Count = cast(count(*) as nvarchar) from [dbo].[t_s_report_excel] where EffectiveMonthDate is null ; 
	EXECUTE @RC = [dbo].[usp_log]
  		'EXCEL',																--@Source NVARCHAR(128), 
		@Input ,																--@Params NVARCHAR(512),
		'usp_val_rateImport',													--@Sp_name NVARCHAR(256),
		't_rates',														--@Target_table NVARCHAR(256),
		@Count,																	--@Record_count nvarchar (128),
		'End'																	--@Comment NVARCHAR(4000)

	If(OBJECT_ID('tempdb..#checkdataset') Is Not Null)
	Begin
		Drop Table #checkdataset
	End;
	-- show error names list as Output for reject file 
	Select 
		Short_Role 
	from 
		[dbo].[t_rates_load_errors ]
	where 
		DatasetID = @dataset_ID;
	

END

GO
USE [master]
GO
