USE [EPAS_DEV]
GO
/****** Object:  Table [dbo].[ImportResult]    Script Date: 28.08.2020 13:08:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImportResult](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Start] [datetime] NOT NULL,
	[End] [datetime] NULL,
	[CommentError] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[stg_t_rates]    Script Date: 28.08.2020 13:08:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stg_t_rates](
	[Role] [nvarchar](255) NULL,
	[Short_Role] [nvarchar](255) NULL,
	[Hr_Rate] [nvarchar](255) NULL,
	[Start_date] [nvarchar](255) NULL,
	[End_date] [nvarchar](255) NULL,
	[Created_by] [nvarchar](256) NOT NULL,
	[Created_on] [datetime] NOT NULL,
	[Status_id] [int] NOT NULL,
	[DatasetID] [uniqueidentifier] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[stg_t_s_report_excel]    Script Date: 28.08.2020 13:08:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stg_t_s_report_excel](
	[Full_Name_UA] [nvarchar](255) NULL,
	[Full_Name] [nvarchar](255) NULL,
	[Relationship_IP] [nvarchar](255) NULL,
	[Relationship_Partner] [nvarchar](255) NULL,
	[Partner_Company] [nvarchar](255) NULL,
	[Department] [nvarchar](255) NULL,
	[Group_Leader] [nvarchar](255) NULL,
	[Project] [nvarchar](255) NULL,
	[Direct_Manager] [nvarchar](255) NULL,
	[Hourly_Pay_Type] [nvarchar](255) NULL,
	[Grade] [nvarchar](255) NULL,
	[Maternity_Leave] [nvarchar](255) NULL,
	[Compensation_Package_Group] [nvarchar](255) NULL,
	[Location] [nvarchar](255) NULL,
	[Staff_Type] [nvarchar](255) NULL,
	[Start_Date] [nvarchar](255) NULL,
	[Base] [nvarchar](255) NULL,
	[Currency] [nvarchar](255) NOT NULL,
	[Addon] [nvarchar](255) NULL,
	[Type_addon] [nvarchar](255) NULL,
	[Variable] [nvarchar](255) NULL,
	[Created_by] [nvarchar](256) NOT NULL,
	[Created_on] [datetime] NOT NULL,
	[Status_id] [int] NOT NULL,
	[DatasetID] [uniqueidentifier] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[t_dataset]    Script Date: 28.08.2020 13:08:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_dataset](
	[Dataset_ID] [uniqueidentifier] NOT NULL,
	[FileName] [nvarchar](256) NOT NULL,
	[Created_by] [nvarchar](256) NOT NULL,
	[Created_on] [datetime] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[t_EP_Plan]    Script Date: 28.08.2020 13:08:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_EP_Plan](
	[ID] [uniqueidentifier] NOT NULL,
	[FullName] [nvarchar](256) NOT NULL,
	[EffectiveMonthDate] [date] NOT NULL,
	[EP_date] [date] NOT NULL,
	[Scenario_ID] [uniqueidentifier] NOT NULL,
	[Grade] [nvarchar](50) NOT NULL,
	[Base] [money] NULL,
	[Currency] [nvarchar](255) NOT NULL,
	[Addon] [money] NULL,
	[Type_addon] [nvarchar](255) NULL,
	[Variable] [money] NULL,
	[TotalMoney]  AS (([Base]+[Addon])+[Variable]),
	[Created_by] [nvarchar](256) NOT NULL,
	[Created_on] [datetime] NOT NULL,
 CONSTRAINT [EP_Plan_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = ON, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[t_Excell_load_errors]    Script Date: 28.08.2020 13:08:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_Excell_load_errors](
	[Full_Name_UA] [nvarchar](255) NULL,
	[Full_Name] [nvarchar](255) NULL,
	[Relationship_IP] [nvarchar](255) NULL,
	[Relationship_Partner] [nvarchar](255) NULL,
	[Partner_Company] [nvarchar](255) NULL,
	[Department] [nvarchar](255) NULL,
	[Group_Leader] [nvarchar](255) NULL,
	[Project] [nvarchar](255) NULL,
	[Direct_Manager] [nvarchar](255) NULL,
	[Hourly_Pay_Type] [nvarchar](255) NULL,
	[Grade] [nvarchar](255) NULL,
	[Maternity_Leave] [nvarchar](255) NULL,
	[Compensation_Package_Group] [nvarchar](255) NULL,
	[Location] [nvarchar](255) NULL,
	[Staff_Type] [nvarchar](255) NULL,
	[Start_Date] [nvarchar](255) NULL,
	[Base] [nvarchar](255) NULL,
	[Currency] [nvarchar](255) NOT NULL,
	[Addon] [nvarchar](255) NULL,
	[Type_addon] [nvarchar](255) NULL,
	[Variable] [nvarchar](255) NULL,
	[DatasetID] [uniqueidentifier] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[t_log]    Script Date: 28.08.2020 13:08:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_log](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Source] [nvarchar](128) NULL,
	[params] [nvarchar](512) NULL,
	[SP_name] [nvarchar](256) NULL,
	[Target_table] [nvarchar](256) NULL,
	[Record_count] [nvarchar](128) NULL,
	[Comment] [nvarchar](4000) NULL,
	[Created_by] [nvarchar](256) NOT NULL,
	[Created_on] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[t_manager_map]    Script Date: 28.08.2020 13:08:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_manager_map](
	[ID] [uniqueidentifier] NOT NULL,
	[EffectiveMonthDate] [date] NOT NULL,
	[Full_Name] [nvarchar](255) NOT NULL,
	[Direct_Manager] [nvarchar](255) NULL,
	[Created_by] [nvarchar](256) NOT NULL,
	[Created_on] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[t_project_map]    Script Date: 28.08.2020 13:08:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_project_map](
	[ID] [uniqueidentifier] NOT NULL,
	[EffectiveMonthDate] [date] NOT NULL,
	[Full_Name] [nvarchar](255) NOT NULL,
	[Project] [nvarchar](255) NULL,
	[Created_by] [nvarchar](256) NOT NULL,
	[Created_on] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[t_rates]    Script Date: 28.08.2020 13:08:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_rates](
	[ID] [uniqueidentifier] NOT NULL,
	[Role] [nvarchar](256) NOT NULL,
	[Short_Role] [nvarchar](50) NOT NULL,
	[Hr_Rate] [money] NOT NULL,
	[Start_date] [datetime] NOT NULL,
	[End_date] [datetime] NOT NULL,
	[Scenario_ID] [uniqueidentifier] NULL,
	[Created_by] [nvarchar](256) NOT NULL,
	[Created_on] [datetime] NOT NULL,
 CONSTRAINT [Rates_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = ON, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[t_rates_load_errors ]    Script Date: 28.08.2020 13:08:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_rates_load_errors ](
	[Role] [nvarchar](255) NULL,
	[Short_Role] [nvarchar](255) NULL,
	[Hr_Rate] [nvarchar](255) NULL,
	[Start_date] [nvarchar](255) NULL,
	[End_date] [nvarchar](255) NULL,
	[DatasetID] [uniqueidentifier] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[t_s_report_excel]    Script Date: 28.08.2020 13:08:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_s_report_excel](
	[EffectiveMonthDate] [date] NULL,
	[Full_Name_UA] [nvarchar](255) NULL,
	[Full_Name] [nvarchar](255) NULL,
	[Relationship_IP] [nvarchar](255) NULL,
	[Relationship_Partner] [nvarchar](255) NULL,
	[Partner_Company] [nvarchar](255) NULL,
	[Department] [nvarchar](255) NULL,
	[Group_Leader] [nvarchar](255) NULL,
	[Project] [nvarchar](255) NULL,
	[Direct_Manager] [nvarchar](255) NULL,
	[Hourly_Pay_Type] [nvarchar](255) NULL,
	[Grade] [nvarchar](255) NULL,
	[Maternity_Leave] [nvarchar](255) NULL,
	[Compensation_Package_Group] [nvarchar](255) NULL,
	[Location] [nvarchar](255) NULL,
	[Staff_Type] [nvarchar](255) NULL,
	[Start_Date] [date] NULL,
	[Base] [money] NULL,
	[Currency] [nvarchar](255) NOT NULL,
	[Addon] [money] NULL,
	[Type_addon] [nvarchar](255) NULL,
	[Variable] [money] NULL,
	[TotalMoney]  AS (([Base]+[Addon])+[Variable]),
	[ImportedDt] [datetime] NOT NULL,
	[Location_Short]  AS (case when substring([Location],(1),charindex(',',[Location]+',')-(1))='' then 'Remote' else substring([Location],(1),charindex(',',[Location]+',')-(1)) end),
	[EffectiveYear]  AS (datepart(year,[EffectiveMonthDate])),
	[MonthName]  AS (datename(month,[EffectiveMonthDate]))
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[t_scenario]    Script Date: 28.08.2020 13:08:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_scenario](
	[ID] [uniqueidentifier] NOT NULL,
	[ScenarioName] [nvarchar](256) NOT NULL,
	[Corporate_overhead] [money] NOT NULL,
	[Hrs_count] [uniqueidentifier] NOT NULL,
	[Created_by] [nvarchar](256) NOT NULL,
	[Created_on] [datetime] NOT NULL,
 CONSTRAINT [Scenario_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = ON, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[t_short_grades]    Script Date: 28.08.2020 13:08:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_short_grades](
	[Long_Grade] [nvarchar](255) NOT NULL,
	[Short_Grade] [nvarchar](255) NOT NULL,
	[Grade] [nvarchar](50) NOT NULL,
	[Specialization] [nvarchar](50) NOT NULL,
	[Grade_Type] [nvarchar](50) NOT NULL,
	[Short_Role] [nvarchar](50) NULL,
 CONSTRAINT [PK_t_short_grades] PRIMARY KEY CLUSTERED 
(
	[Long_Grade] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[t_subgrade]    Script Date: 28.08.2020 13:08:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_subgrade](
	[EffectiveMonthDate] [date] NOT NULL,
	[Full_Name] [nvarchar](255) NOT NULL,
	[OverallScore] [int] NOT NULL,
	[AvgProductivityScore] [int] NOT NULL,
	[SubGrade] [nvarchar](50) NOT NULL,
	[ImportedDt] [datetime] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [PA].[Context]    Script Date: 28.08.2020 13:08:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PA].[Context](
	[Id] [uniqueidentifier] NOT NULL,
	[Period] [date] NOT NULL,
	[Type_Id] [uniqueidentifier] NOT NULL,
	[State_Id] [uniqueidentifier] NOT NULL,
	[OverallScore] [real] NULL,
	[DateUpdated] [datetime] NOT NULL,
	[UnderDiscussionCount] [int] NOT NULL,
	[ContextCategory_Id] [uniqueidentifier] NOT NULL,
	[Status_Id] [uniqueidentifier] NOT NULL,
 CONSTRAINT [Context_PK] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [PA].[ContextCategory]    Script Date: 28.08.2020 13:08:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PA].[ContextCategory](
	[Id] [uniqueidentifier] NOT NULL,
	[Value] [tinyint] NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
 CONSTRAINT [Context_Category_PK] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [PA].[ContextState]    Script Date: 28.08.2020 13:08:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PA].[ContextState](
	[Id] [uniqueidentifier] NOT NULL,
	[Value] [tinyint] NOT NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [ContextState_PK] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [PA].[EPFeedback]    Script Date: 28.08.2020 13:08:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PA].[EPFeedback](
	[Id] [uniqueidentifier] NOT NULL,
	[EP_Id] [uniqueidentifier] NOT NULL,
	[Grade_Id] [uniqueidentifier] NOT NULL,
	[Comment] [nvarchar](max) NULL,
 CONSTRAINT [EPFeedback_PK] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = ON, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [PA].[EvaluationPeer]    Script Date: 28.08.2020 13:08:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PA].[EvaluationPeer](
	[Id] [uniqueidentifier] NOT NULL,
	[Context_Id] [uniqueidentifier] NOT NULL,
	[Person_Id] [uniqueidentifier] NOT NULL,
	[Relation_Id] [uniqueidentifier] NOT NULL,
	[State_Id] [uniqueidentifier] NOT NULL,
	[DateCreated] [datetime] NOT NULL,
	[DateUpdated] [datetime] NOT NULL,
	[Status_Id] [uniqueidentifier] NOT NULL,
 CONSTRAINT [EvaluationPeer_PK] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = ON, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [PA].[Grade]    Script Date: 28.08.2020 13:08:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PA].[Grade](
	[Id] [uniqueidentifier] NOT NULL,
	[KPI_Id] [uniqueidentifier] NOT NULL,
	[Mark_Id] [uniqueidentifier] NULL,
	[Value] [int] NULL,
	[Description] [nvarchar](max) NULL,
	[ContextCategory_Id] [uniqueidentifier] NOT NULL,
 CONSTRAINT [Grade_PK] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [PA].[KPI]    Script Date: 28.08.2020 13:08:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PA].[KPI](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
	[Type_Id] [uniqueidentifier] NOT NULL,
	[Order] [tinyint] NOT NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [KPI_PK] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [PA].[KPIType]    Script Date: 28.08.2020 13:08:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PA].[KPIType](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](32) NOT NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [KPIType_PK] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [PA].[Mark]    Script Date: 28.08.2020 13:08:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PA].[Mark](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](32) NOT NULL,
 CONSTRAINT [Mark_PK] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [PA].[Relation]    Script Date: 28.08.2020 13:08:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PA].[Relation](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](32) NOT NULL,
	[ProcessOrder] [tinyint] NOT NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [Relation_PK] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [PA].[SeniorityScore]    Script Date: 28.08.2020 13:08:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PA].[SeniorityScore](
	[Seniority_Id] [uniqueidentifier] NOT NULL,
	[Value] [tinyint] NOT NULL,
 CONSTRAINT [PK_SeniorityScore] PRIMARY KEY CLUSTERED 
(
	[Seniority_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [SP].[Person]    Script Date: 28.08.2020 13:08:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SP].[Person](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](512) NOT NULL,
	[Dummy] [bit] NOT NULL,
	[Location_Id] [uniqueidentifier] NOT NULL,
	[Department_Id] [uniqueidentifier] NOT NULL,
	[Seniority_Id] [uniqueidentifier] NOT NULL,
	[Occupation_Id] [uniqueidentifier] NOT NULL,
	[Specialization_Id] [uniqueidentifier] NULL,
	[HourlyPayType_Id] [uniqueidentifier] NOT NULL,
	[StaffType_Id] [uniqueidentifier] NOT NULL,
	[PartnerCompany_Id] [uniqueidentifier] NULL,
	[MaternityLeave] [bit] NOT NULL,
	[EvaluationFrequency] [tinyint] NULL,
	[State_Id] [uniqueidentifier] NOT NULL,
	[LDAPSamAccountName] [nvarchar](512) NOT NULL,
	[LDAPDisplayName] [nvarchar](512) NOT NULL,
	[LDAPCN] [nvarchar](512) NOT NULL,
	[LDAPSID] [nvarchar](max) NOT NULL,
	[LDAPEmail] [nvarchar](512) NOT NULL,
	[Execution] [datetime] NULL,
	[ProbationDuration] [tinyint] NULL,
	[LDAPPhoto] [varbinary](max) NULL,
	[StartDate] [date] NULL,
	[FinishDate] [date] NULL,
	[RelationshipWithInfopulse_Id] [uniqueidentifier] NULL,
	[RelationshipWithPartner_Id] [uniqueidentifier] NULL,
	[CompensationPackage] [bit] NULL,
	[FirstNameUa] [nvarchar](50) NULL,
	[PatronymicNameUa] [nvarchar](50) NULL,
	[LastNameUa] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[FirstName] [nvarchar](50) NULL,
	[Birthday] [date] NULL,
	[Sex] [nvarchar](50) NULL,
	[PhotoUrl]  AS (('https://ihome/Topics/Resources/Team_200_200/'+replace([LDAPDisplayName],' ','.'))+'.jpg'),
	[EVRYAccount] [nvarchar](255) NULL,
	[EVRYID] [nvarchar](255) NULL,
 CONSTRAINT [Person_PK] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [SP].[Seniority]    Script Date: 28.08.2020 13:08:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SP].[Seniority](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](32) NOT NULL,
	[Order] [tinyint] NOT NULL,
	[Description] [nvarchar](255) NULL,
	[State_Id] [uniqueidentifier] NOT NULL,
 CONSTRAINT [Seniority_PK] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [SP].[State]    Script Date: 28.08.2020 13:08:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SP].[State](
	[Id] [uniqueidentifier] NOT NULL,
	[Value] [smallint] NOT NULL,
	[Description] [nvarchar](255) NULL,
 CONSTRAINT [State_PK] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[stg_t_rates] ADD  DEFAULT (CONVERT([nvarchar],user_name())) FOR [Created_by]
GO
ALTER TABLE [dbo].[stg_t_rates] ADD  DEFAULT (getdate()) FOR [Created_on]
GO
ALTER TABLE [dbo].[stg_t_rates] ADD  DEFAULT ((0)) FOR [Status_id]
GO
ALTER TABLE [dbo].[stg_t_s_report_excel] ADD  DEFAULT (CONVERT([nvarchar],user_name())) FOR [Created_by]
GO
ALTER TABLE [dbo].[stg_t_s_report_excel] ADD  DEFAULT (getdate()) FOR [Created_on]
GO
ALTER TABLE [dbo].[stg_t_s_report_excel] ADD  DEFAULT ((0)) FOR [Status_id]
GO
ALTER TABLE [dbo].[t_dataset] ADD  DEFAULT (CONVERT([nvarchar],user_name())) FOR [Created_by]
GO
ALTER TABLE [dbo].[t_dataset] ADD  DEFAULT (getdate()) FOR [Created_on]
GO
ALTER TABLE [dbo].[t_EP_Plan] ADD  DEFAULT (CONVERT([nvarchar],user_name())) FOR [Created_by]
GO
ALTER TABLE [dbo].[t_EP_Plan] ADD  DEFAULT (getdate()) FOR [Created_on]
GO
ALTER TABLE [dbo].[t_log] ADD  DEFAULT (CONVERT([nvarchar],user_name())) FOR [Created_by]
GO
ALTER TABLE [dbo].[t_log] ADD  DEFAULT (getdate()) FOR [Created_on]
GO
ALTER TABLE [dbo].[t_manager_map] ADD  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[t_manager_map] ADD  DEFAULT (CONVERT([nvarchar],user_name())) FOR [Created_by]
GO
ALTER TABLE [dbo].[t_manager_map] ADD  DEFAULT (getdate()) FOR [Created_on]
GO
ALTER TABLE [dbo].[t_project_map] ADD  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[t_project_map] ADD  DEFAULT (CONVERT([nvarchar],user_name())) FOR [Created_by]
GO
ALTER TABLE [dbo].[t_project_map] ADD  DEFAULT (getdate()) FOR [Created_on]
GO
ALTER TABLE [dbo].[t_rates] ADD  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[t_rates] ADD  DEFAULT (CONVERT([nvarchar],user_name())) FOR [Created_by]
GO
ALTER TABLE [dbo].[t_rates] ADD  DEFAULT (getdate()) FOR [Created_on]
GO
ALTER TABLE [dbo].[t_s_report_excel] ADD  CONSTRAINT [DF_t_s_report_excel_ImportedDt]  DEFAULT (getdate()) FOR [ImportedDt]
GO
ALTER TABLE [dbo].[t_scenario] ADD  DEFAULT (CONVERT([nvarchar],user_name())) FOR [Created_by]
GO
ALTER TABLE [dbo].[t_scenario] ADD  DEFAULT (getdate()) FOR [Created_on]
GO
ALTER TABLE [dbo].[t_subgrade] ADD  CONSTRAINT [DF_t_subgrade_ImportedDt]  DEFAULT (getdate()) FOR [ImportedDt]
GO
ALTER TABLE [PA].[Context] ADD  DEFAULT (getdate()) FOR [DateUpdated]
GO
ALTER TABLE [PA].[Context] ADD  DEFAULT ((0)) FOR [UnderDiscussionCount]
GO
ALTER TABLE [PA].[Context] ADD  DEFAULT (newid()) FOR [ContextCategory_Id]
GO
ALTER TABLE [PA].[Context] ADD  DEFAULT ('00000000-0000-0000-0000-000000000000') FOR [Status_Id]
GO
ALTER TABLE [PA].[EvaluationPeer] ADD  DEFAULT (getdate()) FOR [DateCreated]
GO
ALTER TABLE [PA].[EvaluationPeer] ADD  DEFAULT (getdate()) FOR [DateUpdated]
GO
ALTER TABLE [PA].[EvaluationPeer] ADD  DEFAULT (newid()) FOR [Status_Id]
GO
ALTER TABLE [dbo].[t_EP_Plan]  WITH CHECK ADD  CONSTRAINT [EP_Plan_Scenario_FK] FOREIGN KEY([Scenario_ID])
REFERENCES [dbo].[t_scenario] ([ID])
GO
ALTER TABLE [dbo].[t_EP_Plan] CHECK CONSTRAINT [EP_Plan_Scenario_FK]
GO
ALTER TABLE [dbo].[t_rates]  WITH CHECK ADD  CONSTRAINT [Rates_Scenario_FK] FOREIGN KEY([Scenario_ID])
REFERENCES [dbo].[t_scenario] ([ID])
GO
ALTER TABLE [dbo].[t_rates] CHECK CONSTRAINT [Rates_Scenario_FK]
GO
ALTER TABLE [PA].[EvaluationPeer]  WITH CHECK ADD  CONSTRAINT [EvaluationPeer_Context_FK] FOREIGN KEY([Context_Id])
REFERENCES [PA].[Context] ([Id])
GO
ALTER TABLE [PA].[EvaluationPeer] CHECK CONSTRAINT [EvaluationPeer_Context_FK]
GO
ALTER TABLE [PA].[Grade]  WITH CHECK ADD  CONSTRAINT [Grade_ContextCategory_FK] FOREIGN KEY([ContextCategory_Id])
REFERENCES [PA].[ContextCategory] ([Id])
GO
ALTER TABLE [PA].[Grade] CHECK CONSTRAINT [Grade_ContextCategory_FK]
GO
ALTER TABLE [PA].[Grade]  WITH CHECK ADD  CONSTRAINT [Grade_KPI_FK] FOREIGN KEY([KPI_Id])
REFERENCES [PA].[KPI] ([Id])
GO
ALTER TABLE [PA].[Grade] CHECK CONSTRAINT [Grade_KPI_FK]
GO
ALTER TABLE [PA].[Grade]  WITH CHECK ADD  CONSTRAINT [Grade_Mark_FK] FOREIGN KEY([Mark_Id])
REFERENCES [PA].[Mark] ([Id])
GO
ALTER TABLE [PA].[Grade] CHECK CONSTRAINT [Grade_Mark_FK]
GO
ALTER TABLE [PA].[KPI]  WITH CHECK ADD  CONSTRAINT [KPI_Type_FK] FOREIGN KEY([Type_Id])
REFERENCES [PA].[KPIType] ([Id])
GO
ALTER TABLE [PA].[KPI] CHECK CONSTRAINT [KPI_Type_FK]
GO
ALTER TABLE [PA].[SeniorityScore]  WITH CHECK ADD  CONSTRAINT [FK_SeniorityScore_Seniority] FOREIGN KEY([Seniority_Id])
REFERENCES [SP].[Seniority] ([Id])
GO
ALTER TABLE [PA].[SeniorityScore] CHECK CONSTRAINT [FK_SeniorityScore_Seniority]
GO
ALTER TABLE [SP].[Person]  WITH CHECK ADD  CONSTRAINT [Person_Seniority_FK] FOREIGN KEY([Seniority_Id])
REFERENCES [SP].[Seniority] ([Id])
GO
ALTER TABLE [SP].[Person] CHECK CONSTRAINT [Person_Seniority_FK]
GO
ALTER TABLE [SP].[Seniority]  WITH CHECK ADD  CONSTRAINT [Seniority_State_FK] FOREIGN KEY([State_Id])
REFERENCES [SP].[State] ([Id])
GO
ALTER TABLE [SP].[Seniority] CHECK CONSTRAINT [Seniority_State_FK]
GO
