USE [EPAS_DEV]
GO
/****** Object:  StoredProcedure [dbo].[usp_load_sub_grade]    Script Date: 30.07.2020 12:29:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--obsolete SP
CREATE PROCEDURE [dbo].[usp_load_EP_plan]
	@LoadMonth date,
	@ScenarioName nvarchar(256) 
	
AS
BEGIN
	DECLARE @RC int;
	Declare @Input nvarchar(256) =  cast(@LoadMonth as Nvarchar)  ;
	Declare @CountM int;
	Declare @CountP int;
	Declare @Concat nvarchar(256);

	SET NOCOUNT ON;
	--Loging start
	EXECUTE @RC = [dbo].[usp_log]
  		'EXCEL',																--@Source NVARCHAR(128), 
		@Input ,																--@Params NVARCHAR(512),
		'usp_load_EP_plan',														--@Sp_name NVARCHAR(256),
		'[t_EP_Plan]',															--@Target_table NVARCHAR(256),
		'',																		--@Record_count int,
		'Start'																	--@Comment NVARCHAR(4000)

	--project 
	delete from  [dbo].[t_EP_Plan]
	where EffectiveMonthDate =@LoadMonth;

	insert into dbo.[t_EP_Plan]
	(
		[ID],
		[FullName],
		[EffectiveMonthDate],
		[EP_date],
		[Scenario_ID],
		[Grade],
		[Base],
		[Currency],
		[Addon],
		[Type_addon],
		[Variable]
	
	)
	select distinct
		EP_ID,
		m.Full_Name,
		m.EffectiveMonthDate, 
		DATEADD(month, p.[EvaluationFrequency], fn_res.LastEvalReriod) AS [EP_date],
		s.ID,
		g.Grade,
		m.Base,
		m.Currency,
		m.Addon,
		m.Type_addon,
		m.Variable
	from 
		[dbo].[t_s_report_excel] m
		left join [dbo].[t_short_grades] g
			on g.Long_Grade = m.Grade
		Left join [SP].[Person] p
			on p.Name = m.Full_Name
		left join [dbo].[t_scenario] s
			on s.ScenarioName = @ScenarioName
		cross apply [dbo].[get_ep_score](m.Full_Name) as fn_res
	where
		 EffectiveMonthDate = @LoadMonth;

		--Loging end
	Select 
		@CountM = count(*) 
	from 
		[dbo].[t_subgrade] 
	
	where EffectiveMonthDate =@LoadMonth;


	 Select @Concat = cast(@CountM as Nvarchar) ;

	EXECUTE @RC = [dbo].[usp_log]
  		'EXCEL',																--@Source NVARCHAR(128), 
		@Input ,																--@Params NVARCHAR(512),
		'usp_load_sub_grade',													--@Sp_name NVARCHAR(256),
		'[t_subgrade]',													--@Target_table NVARCHAR(256),
		@Concat,																--@Record_count int,
		'End'																	--Comment		
  
END

