USE [EPAS_DEV]
GO
/****** Object:  Table [PA].[KPI]    Script Date: 16.07.2020 17:23:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PA].[KPI](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
	[Type_Id] [uniqueidentifier] NOT NULL,
	[Order] [tinyint] NOT NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [KPI_PK] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [PA].[KPI]  WITH CHECK ADD  CONSTRAINT [KPI_Type_FK] FOREIGN KEY([Type_Id])
REFERENCES [PA].[KPIType] ([Id])
GO
ALTER TABLE [PA].[KPI] CHECK CONSTRAINT [KPI_Type_FK]
GO
