USE [EPAS_DEV]
GO
/****** Object:  StoredProcedure [dbo].[usp_PAContextLoad]    Script Date: 02.09.2020 16:25:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
ALTER PROCEDURE [dbo].[usp_PAContextLoad]
AS
BEGIN

	DECLARE @DefaultInt INT = 0;
	DECLARE @DefaultString nvarchar(255) = 'merging';

	WITH Source AS (
		SELECT
			 distinct
			  con.[Id] 
			 ,con.[Period] 
			 ,con.[Type_Id] 
			 ,con.[State_Id] 
			 ,con.[OverallScore]
			 ,con.[DateUpdated]
			 ,con.[UnderDiscussionCount] 
			 ,con.[ContextCategory_Id]
			 ,con.[Status_Id] 
	
		FROM [EP].[PA].[Context] con
			join EP.PA.[EvaluationPeer] ep	 on con.[Id] = ep.[Context_Id]
			join EP.sp.[Person] per
				on ep.[Person_Id] = per.[Id]
				and per.Department_Id in (
											SELECT
												[Id]
											FROM 
												[EP].[SP].[Department]
											WHERE 
												Name = 'Deloitte BU' 
											)
				and per.Seniority_Id not in		
										(SELECT 
											[Id]
										  FROM 
											[EP].[SP].[Seniority]
										  WHERE
											Name in ('Level 4', 'Level 3', 'Level 2', 'Level 1')
								
										)	)
		
	
	MERGE INTO [PA].[Context] AS Target
	USING Source
	ON Target.Id = Source.Id
	WHEN MATCHED AND (
		
			 target.[Period]					<> source.[Period]
			 OR target.[Type_Id] 				<> source.[Type_Id] 				
			 OR target.[State_Id] 				<> source.[State_Id] 				
			 OR target.[OverallScore]			<> source.[OverallScore]			
			 OR target.[DateUpdated]			<> source.[DateUpdated]			
			 OR target.[UnderDiscussionCount] 	<> source.[UnderDiscussionCount] 	
			 OR target.[ContextCategory_Id]		<> source.[ContextCategory_Id]		
			 OR target.[Status_Id] 				<> source.[Status_Id] 				
		
	) THEN
		UPDATE SET
			 target.[Period]				= source.[Period],
			 target.[Type_Id] 				= source.[Type_Id] ,				
			 target.[State_Id] 				= source.[State_Id] ,				
			 target.[OverallScore]			= source.[OverallScore]	,		
			 target.[DateUpdated]			= source.[DateUpdated]	,		
			 target.[UnderDiscussionCount] 	= source.[UnderDiscussionCount], 	
			 target.[ContextCategory_Id]	= source.[ContextCategory_Id],		
			 target.[Status_Id] 			= source.[Status_Id] 
	

	WHEN NOT MATCHED BY TARGET THEN
		INSERT(Id, [Period], [Type_Id], [State_Id], [OverallScore],[DateUpdated],[UnderDiscussionCount],[ContextCategory_Id],[Status_Id]) 
		VALUES(Id, [Period], [Type_Id], [State_Id], [OverallScore], [DateUpdated],[UnderDiscussionCount],[ContextCategory_Id],[Status_Id])
	WHEN NOT MATCHED BY SOURCE THEN
	DELETE;
	--GO
	PRINT 'Import was successful from PA.[Context]'
END