USE [EPAS_DEV]
GO
/****** Object:  StoredProcedure [dbo].[usp_PAEPFeedbackLoad]    Script Date: 02.09.2020 16:58:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
ALTER PROCEDURE [dbo].[usp_PAEPFeedbackLoad]
AS
BEGIN

	DECLARE @DefaultInt INT = 0;
	DECLARE @DefaultString nvarchar(255) = 'merging';

	WITH Source AS (
		SELECT fd.[Id]
			,fd.[EP_Id]
			,fd.[Grade_Id]
			,fd.[Comment]
					
		FROM [EP].[PA].[EPFeedback] fd
			join EP.PA.[EvaluationPeer] ep
				 on fd.EP_Id = ep.Id
			join EP.sp.[Person] per
				on ep.[Person_Id] = per.[Id]
				and per.Department_Id in (
											SELECT
												[Id]
											FROM 
												[EP].[SP].[Department]
											WHERE 
												Name = 'Deloitte BU' 
											)
				and per.Seniority_Id not in		
										(SELECT 
											[Id]
										  FROM 
											[EP].[SP].[Seniority]
										  WHERE
											Name in ('Level 4', 'Level 3', 'Level 2', 'Level 1')
								
										)	)
		
	
	MERGE INTO [PA].[EPFeedback] AS Target
	USING Source
	ON Target.Id = Source.Id
	WHEN MATCHED AND (
		Target.[EP_Id] <> Source.[EP_Id]
		OR Target.[Grade_Id] <> Source.[Grade_Id]
		OR ISNULL(Target.[Comment], @DefaultString) <> ISNULL(Source.[Comment], @DefaultString)
		
	) THEN
		UPDATE SET
			Target.[EP_Id] = Source.[EP_Id],
			Target.[Grade_Id] = Source.[Grade_Id],
			Target.[Comment] = Source.[Comment]
			
	WHEN NOT MATCHED BY TARGET THEN
		INSERT(Id, [EP_Id], [Grade_Id], [Comment]) 
		VALUES(Id, [EP_Id], [Grade_Id], [Comment])
	WHEN NOT MATCHED BY SOURCE THEN
	DELETE;
	--GO
	PRINT 'Import was successful from PA.[EPFeedback]'
END